Repository marimo-team/marimo, pull requests merged in 2024-10, with the labels that each got.

#2494 fix: non-requied model key
  frontend/src/components/editor/chrome/wrapper/copilot-status.tsx
  frontend/src/core/config/config-schema.ts
  frontend/src/core/config/config.ts
Labels: merge when ready

#2493 feat: attachment support in mo.ui.chat
  docs/api/inputs/chat.md
  examples/ai/chat/anthropic_example.py
  examples/ai/chat/openai_example.py
  frontend/src/plugins/impl/chat/ChatPlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  marimo/_cli/file_path.py
  marimo/_plugins/ui/_impl/chat/chat.py
  marimo/_plugins/ui/_impl/chat/convert.py
  marimo/_plugins/ui/_impl/chat/types.py
  marimo/_plugins/ui/_impl/chat/utils.py
  tests/_plugins/ui/_impl/chat/test_chat_convert.py
Labels: merge when ready

#2484 improve: Move highlighted code to newly created cells
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/core/cells/__tests__/cells.test.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/codemirror/language/__tests__/utils.test.ts
  frontend/src/core/codemirror/language/utils.ts
Labels: enhancement

#2517 fix: json encoding of png binary
  marimo/_plugins/core/json_encoder.py
  marimo/_smoke_tests/bugs/2506_anywidget_buffer_paths.py
  tests/_plugins/core/test_json_encoder.py
Labels: merge when ready

#2518 improvement: change the filename in static html export to be just the file basename
  marimo/_server/api/utils.py
  marimo/_server/export/exporter.py
  marimo/_server/templates/templates.py
  tests/_server/templates/test_templates.py
Labels: merge when ready

#2519 fix: typings of marimo config, fix typedict to openapi cases
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/core/config/config.ts
  frontend/src/core/config/feature-flag.tsx
  marimo/_config/config.py
  marimo/_config/manager.py
  marimo/_config/utils.py
  marimo/_utils/dataclass_to_openapi.py
  openapi/api.yaml
  openapi/src/api.ts
  tests/_config/test_config.py
  tests/_config/test_manager.py
  tests/_utils/test_dataclass_to_openapi.py
Labels: merge when ready

#2521 chore: use hatch for main release
  .github/workflows/dev-release.yml
  .github/workflows/marimo-bot.yml
  .github/workflows/playwright.yml
  .github/workflows/release.yml
  .github/workflows/test_cli.yaml
  tests/_cli/test_cli.py
Labels: merge when ready

#2522 chore: filter /examples from irrelevant CI
  .github/workflows/playwright.yml
  .github/workflows/test_cli.yaml
Labels: merge when ready

#2524 improve: text label -> markdown label
  marimo/_plugins/ui/_impl/altair_chart.py
  marimo/_plugins/ui/_impl/dates.py
  marimo/_plugins/ui/_impl/input.py
  marimo/_plugins/ui/_impl/microphone.py
  marimo/_plugins/ui/_impl/plotly.py
  marimo/_plugins/ui/_impl/refresh.py
  marimo/_plugins/ui/_impl/run_button.py
  marimo/_plugins/ui/_impl/switch.py
  marimo/_plugins/ui/_impl/table.py
Labels: merge when ready

#2511 fix: Preserve language in cell actions undo/redo stack
  frontend/src/core/cells/__tests__/cells.test.ts
  frontend/src/core/cells/cells.ts
Labels: bug

#2530 docs: fix some outdated docs/tutorial
  docs/_static/docs-cell-actions.png
  docs/guides/editor_features/overview.md
  marimo/_tutorials/intro.py
  marimo/_tutorials/sql.py
Labels: merge when ready

#2543 fix: slightly decrease cell toolbar size
  frontend/src/components/editor/cell/toolbar.tsx
Labels: merge when ready

#2542 example: datasette/llm chatbot
  examples/ai/chat/README.md
  examples/ai/chat/llm_datasette.py
Labels: merge when ready

#2553 fix: bump polars to 1.9.0, fix breaks in search and summaries
  frontend/src/components/data-table/types.ts
  frontend/src/plugins/impl/DataTablePlugin.tsx
  frontend/src/utils/numbers.ts
  marimo/_plugins/core/json_encoder.py
  marimo/_plugins/ui/_impl/tables/polars_table.py
  marimo/_smoke_tests/issues/2550-search-polars.py
  pyproject.toml
  tests/_cli/snapshots/ipynb_to_marimo.txt
  tests/_cli/snapshots/ipynb_to_marimo_with_output.txt
  tests/_cli/snapshots/markdown_to_marimo.txt
  tests/_plugins/core/test_json_encoder.py
  tests/_plugins/ui/_impl/dataframes/test_handlers.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/test_altair_chart.py
Labels: merge when ready

#2555 chore: enable matplotlib and pyarrow tests
  pyproject.toml
  tests/_output/formatters/test_formatters.py
Labels: merge when ready

#2557 fix: anywidget bytes when on save trait
  frontend/src/plugins/impl/anywidget/AnyWidgetPlugin.tsx
  marimo/_plugins/ui/_impl/from_anywidget.py
  marimo/_smoke_tests/issues/2506_anywidget_buffer_paths.py
  tests/_plugins/ui/_impl/test_anywidget.py
Labels: merge when ready

#2507 improve: Hide code by default for Markdown cells
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/core/cells/cells.ts
  frontend/src/core/cells/utils.ts
Labels: enhancement

#2566 example: plotly scatter map
  examples/third_party/plotly/scatter_map.py
Labels: merge when ready

#2571 example: histograms in duckdb
  examples/sql/README.md
  examples/sql/histograms.py
Labels: merge when ready

#2569 feat: add column summaries for sql tables in the datasources panel
  frontend/src/components/editor/chrome/panels/datasources-panel.tsx
  marimo/_ast/visitor.py
  marimo/_data/charts.py
  marimo/_data/get_datasets.py
  marimo/_data/preview_column.py
  marimo/_data/sql_summaries.py
  marimo/_runtime/runtime.py
  marimo/_sql/sql.py
  tests/_data/test_get_datasets.py
  tests/_data/test_preview_column.py
  tests/_data/test_sql_summaries.py
  tests/_sql/test_sql.py
Labels: merge when ready

#2573 improvement: enable column previews for only in-memory
  frontend/src/components/editor/chrome/panels/datasources-panel.tsx
  marimo/_data/preview_column.py
  tests/_data/test_preview_column.py
Labels: merge when ready

#2577 improvement: support multi-line AI prompts, add @dataframe context to cell prompts
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/components/editor/ai/merge-editor.css
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/components/editor/output/MarimoTracebackOutput.tsx
  frontend/src/core/codemirror/utils.ts
  frontend/src/css/app/codemirror.css
  marimo/_server/api/endpoints/ai.py
Labels: merge when ready

#2578 improvement: add 'jump to focused cell' in the dependency viewer
  frontend/src/components/dependency-graph/dependency-graph-tree.tsx
  frontend/src/components/dependency-graph/panels.tsx
  frontend/src/core/cells/focus.ts
Labels: merge when ready

#2583 add deps to scatter_map example
  examples/third_party/plotly/scatter_map.py
Labels: merge when ready

#2590 fix: prevent more buttons from stealing focus
  frontend/src/components/dependency-graph/dependency-graph-tree.tsx
  frontend/src/components/editor/Output.tsx
  frontend/src/components/editor/SortableCell.tsx
  frontend/src/components/editor/cell/CreateCellButton.tsx
  frontend/src/components/editor/cell/DeleteButton.tsx
  frontend/src/components/editor/cell/toolbar.tsx
  frontend/src/utils/events.ts
Labels: merge when ready

#2591 feat: custom ai assist rules
  docs/guides/editor_features/ai_completion.md
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/core/config/__tests__/config-schema.test.ts
  frontend/src/core/config/config-schema.ts
  marimo/_config/config.py
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
  openapi/api.yaml
  openapi/src/api.ts
  tests/_server/ai/snapshots/system_prompts.txt
  tests/_server/ai/test_prompts.py
Labels: merge when ready

#2595 fix: don't show errors in run mode when re-running
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/renderers/vertical-layout/vertical-layout.tsx
  frontend/src/core/cells/cells.ts
  frontend/src/core/cells/logs.ts
  frontend/src/core/mime.ts
Labels: merge when ready

#2619 fix: support dates in data-editor
  marimo/_plugins/core/json_encoder.py
  marimo/_plugins/ui/_impl/data_editor.py
  marimo/_smoke_tests/editable_df.py
  tests/_plugins/core/test_json_encoder.py
  tests/_plugins/ui/_impl/test_data_editor.py
Labels: merge when ready

#2624 improvement: add max_height to mo.ui.chat()
  examples/ai/chat/anthropic_example.py
  frontend/src/plugins/impl/chat/ChatPlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  marimo/_plugins/ui/_impl/chat/chat.py
Labels: merge when ready

#2631 fix: consistent value for no column in config
  frontend/src/core/cells/__tests__/__snapshots__/cells.test.ts.snap
  frontend/src/core/cells/__tests__/cells.test.ts
  frontend/src/core/cells/__tests__/utils.test.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/cells/types.ts
  frontend/src/core/cells/utils.ts
Labels: merge when ready

#2634 fix: install packages not modules with micropip eager install
  frontend/src/core/wasm/worker/bootstrap.ts
  marimo/_pyodide/pyodide_session.py
  marimo/_runtime/packages/module_name_to_conda_name.py
Labels: merge when ready

#2636 docs: fix a couple links
  docs/api/plotting.md
  docs/guides/coming_from/streamlit.md
  docs/guides/overview.md
Labels: merge when ready

#2637 docs: add redirects
  docs/vercel.json
Labels: merge when ready

#2666 improvement: drop table column limit, just adjust summary defaults
  marimo/_plugins/core/json_encoder.py
  marimo/_plugins/ui/_impl/table.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  tests/_plugins/core/test_json_encoder.py
  tests/_plugins/ui/_impl/test_table.py
Labels: merge when ready

#2669 docs: improve prebuilt containers
  docs/guides/deploying/prebuilt_containers.md
Labels: merge when ready

#2671 feat: mo.Thread
  docs/api/miscellaneous.md
  marimo/__init__.py
  marimo/_cli/run_docker.py
  marimo/_data/sql_summaries.py
  marimo/_runtime/threads.py
  marimo/_smoke_tests/threads.py
  marimo/_utils/narwhals_utils.py
  tests/_runtime/test_threads.py
Labels: merge when ready

#2673 docs: outputs
  docs/guides/outputs.md
Labels: merge when ready
