Repository marimo-team/marimo, pull requests merged in 2025-08, with the labels that each got.

#5862 fix: top-level cache decorator with additional deps
  marimo/_save/hash.py
  marimo/_save/save.py
  tests/_save/decorator_imports/module_0/__init__.py
  tests/_save/decorator_imports/module_1/__init__.py
  tests/_save/decorator_imports/transitive_imports.py
  tests/_save/test_cache.py
  tests/_save/test_decorator_imports.py
Labels: bug

#5839 Document working with marimo notebooks in existing projects
  docs/guides/configuration/runtime_configuration.md
  docs/guides/package_management/index.md
  docs/guides/package_management/notebooks_in_projects.md
  mkdocs.yml
Labels: documentation

#5852 Support hiding code in setup cells
  frontend/src/components/editor/Cell.tsx
  marimo/_ast/app.py
  marimo/_ast/cell_manager.py
  marimo/_ast/codegen.py
  tests/_ast/test_app.py
Labels: enhancement

#5894 Avoid dependency on notebook/variables in `usePendingDeleteService`
  frontend/src/core/cells/pending-delete-service.ts
Labels: bug

#5897 Refactor `CellArray`/`Cell` to use atom-based state management
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/__tests__/data-attributes.test.tsx
  frontend/src/components/editor/cell/cell-context-menu.tsx
  frontend/src/components/editor/chrome/wrapper/minimap-state.ts
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/cells/__tests__/cells.test.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/edit-app.tsx
  frontend/src/stories/cell.stories.tsx
Labels: enhancement

#5854 Fix `__file__` in embedded notebooks
  marimo/_ast/app.py
  marimo/_runtime/app/kernel_runner.py
  marimo/_runtime/runtime.py
  tests/_ast/app_data/notebook_filename.py
  tests/_ast/test_app.py
  tests/_runtime/test_runtime.py
  tests/conftest.py
Labels: bug

#5900 Refactor pending delete service with reducer pattern
  frontend/src/core/cells/pending-delete-service.ts
Labels: enhancement

#5903 Fix Windows multiprocessing test hanging after pytest path fix
  tests/conftest.py
Labels: bug

#5906 Find first directory parent for `__file__` in `mo.notebook_dir`
  marimo/_runtime/runtime.py
  tests/conftest.py
Labels: bug

#5914 Enable `Ctrl+[` vim escape on Windows
  frontend/src/core/codemirror/keymaps/vim.ts
Labels: enhancement

#5924 fix: bin step was too small for large bin values
  frontend/src/components/data-table/__tests__/__snapshots__/chart-spec-model.test.ts.snap
  frontend/src/components/data-table/__tests__/chart-spec-model.test.ts
  frontend/src/components/data-table/column-summary/chart-spec-model.tsx
  frontend/src/components/data-table/column-summary/utils.ts
Labels: bug

#5873 fix: improved robustness of cache wrapper in module contexts
  marimo/_ast/toplevel.py
  marimo/_runtime/primitives.py
  marimo/_runtime/runner/hooks_post_execution.py
  marimo/_save/hash.py
  marimo/_save/save.py
  marimo/_save/toplevel.py
  tests/_ast/test_toplevel.py
  tests/_save/external_decorators/module_0/__init__.py
  tests/_save/external_decorators/module_1/__init__.py
  tests/_save/external_decorators/transitive_imports.py
  tests/_save/external_decorators/transitive_wrappers_1.py
  tests/_save/external_decorators/transitive_wrappers_2.py
  tests/_save/test_decorator_imports.py
  tests/_save/test_external_decorators.py
  tests/_save/test_hash.py
Labels: bug, bash-focus

#5947 fix: as_html for svg and add tests
  marimo/_output/formatting.py
  tests/_output/formatters/test_formatters.py
Labels: bug, merge when ready

#5957 fix: allow caching on embedded apps
  marimo/_ast/app.py
  marimo/_ast/cell_id.py
  marimo/_ast/cell_manager.py
  marimo/_save/save.py
  tests/_save/external_decorators/app.py
  tests/_save/test_external_decorators.py
Labels: bug

#5954 improve: make it possible to close open snippet
  frontend/src/components/editor/chrome/panels/snippets-panel.tsx
Labels: bug

#5966 Allow deleting variables defined by other cells
  docs/guides/expensive_notebooks.md
  docs/guides/reactivity.md
  marimo/_ast/app.py
  marimo/_ast/errors.py
  marimo/_cli/development/commands.py
  marimo/_messaging/errors.py
  marimo/_runtime/dataflow.py
  marimo/_runtime/runner/cell_runner.py
  marimo/_runtime/runner/hooks_on_finish.py
  marimo/_runtime/validate_graph.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_ast/test_app.py
  tests/_messaging/test_messaging_errors.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_runtime.py
  tests/_runtime/test_trace.py
  tests/_runtime/test_validate_graph.py
Labels: documentation, enhancement, bash-focus

#5980 Remove handling for deleted `delete-nonlocal` error type
  .github/workflows/test_fe.yaml
  .github/workflows/test_fe_dagger.yaml.skip
  frontend/src/components/editor/output/MarimoErrorOutput.tsx
Labels: merge when ready, internal

#5985 Keep box-shadow CSS definitions on single lines
  frontend/src/css/globals.css
Labels: bug

#5962 improvement: AI context registry + codemirror decorated resources
  frontend/package.json
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/components/editor/ai/completions.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/__tests__/variable.test.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/codemirror/ai/resources.ts
  frontend/src/core/codemirror/completion/variable-completions.ts
  pnpm-lock.yaml
Labels: enhancement, bash-focus

#6001 Clear out dead code snapshots
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
Labels: internal

#6006 improvement: support tables in AI chat sidebar
  frontend/package.json
  frontend/src/components/chat/markdown-renderer.tsx
  pnpm-lock.yaml
Labels: enhancement, merge when ready

#6009 docs(ai): Add warning about Ollama /v1 endpoint to prevent 404 errors
  docs/guides/editor_features/ai_completion.md
Labels: documentation

#6005 @marimo-team/llm-info package
  Makefile
  frontend/.gitignore
  frontend/package.json
  frontend/src/components/ai/AiProviderIcon.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/codemirror/language/__tests__/extension.test.ts
  packages/.gitignore
  packages/llm-info/.gitignore
  packages/llm-info/data/models.yml
  packages/llm-info/data/providers.yml
  packages/llm-info/icons/anthropic.svg
  packages/llm-info/icons/google.svg
  packages/llm-info/icons/googlegemini.svg
  packages/llm-info/icons/ollama.svg
  packages/llm-info/icons/openai.svg
  packages/llm-info/package.json
  packages/llm-info/src/__tests__/schema.test.ts
  packages/llm-info/src/generate.ts
  packages/llm-info/src/index.ts
  packages/llm-info/tsconfig.json
  packages/ts-config/README.md
  packages/ts-config/base.json
  packages/ts-config/library.json
  packages/ts-config/package.json
  packages/ts-config/ts-reset.d.ts
  pnpm-lock.yaml
  turbo.json
Labels: internal

#6011 improvement: more ai config settings for different providers
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/is-overridden.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/ui/links.tsx
  frontend/src/core/config/config-schema.ts
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_config/secrets.py
  marimo/_server/ai/config.py
  marimo/_server/ai/ids.py
  marimo/_server/ai/providers.py
  marimo/_server/api/endpoints/ai.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Labels: enhancement, bash-focus, breaking

#5991 refactor so that sql engines uses the same logic for returning df
  marimo/_sql/engines/clickhouse.py
  marimo/_sql/engines/dbapi.py
  marimo/_sql/engines/duckdb.py
  marimo/_sql/engines/ibis.py
  marimo/_sql/engines/sqlalchemy.py
  marimo/_sql/utils.py
  tests/_sql/test_engine_utils.py
Labels: bug, bash-focus

#6019 Define package exports for `@marimo-team/frontend`
  frontend/package.json
Labels: internal

#6022 perf: non-blocking formatting and auto-export
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/editing.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/models/models.py
  marimo/_utils/formatter.py
  tests/_ast/test_codegen.py
  tests/_utils/test_formatter.py
Labels: bash-focus

#6030 check for array types better in duckdb
  marimo/_data/get_datasets.py
  tests/_data/test_get_datasets.py
Labels: bug, merge when ready

#6037 docs: add dataflow blog, fix reddit link
  docs/reading.md
Labels: documentation

#6034 Add source dir to `@marimo-team/frontend` package files
  frontend/package.json
Labels: internal

#6047 fix: rtc null pointer
  frontend/src/components/slides/slides.css
  frontend/src/core/cells/cells.ts
  frontend/src/plugins/layout/carousel/CarouselPlugin.tsx
Labels: merge when ready

#5938 preview: Improved SQL completions, linting, and hover
  frontend/package.json
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/cell/CreateCellButton.tsx
  frontend/src/components/editor/cell/code/language-toggle.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/codemirror/language/LanguageAdapters.ts
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/language/extension.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/README.md
  frontend/src/core/codemirror/language/languages/sql-dialects/duckdb.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/spec_duckdb.py
  frontend/src/core/codemirror/language/languages/sql/completion-sources.tsx
  frontend/src/core/codemirror/language/languages/sql/completion-store.ts
  frontend/src/core/codemirror/language/languages/sql/sql.ts
  frontend/src/core/codemirror/language/languages/sql/utils.ts
  frontend/src/core/codemirror/language/panel/panel.tsx
  frontend/src/core/config/feature-flag.tsx
  frontend/src/theme/useTheme.ts
  pnpm-lock.yaml
  pyproject.toml
Labels: bash-focus, preview

#6053 tests: add dataflow test cases
  tests/_runtime/test_dataflow_cases.py
Labels: merge when ready, internal

#6064 add AI model dropdown for "Generate with AI"
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/core/ai/config.ts
  frontend/src/core/config/config-schema.ts
  frontend/src/plugins/impl/chat/chat-ui.tsx
Labels: enhancement

#6081 update logic for determining when AI is enabled
  frontend/src/core/config/config.ts
Labels: merge when ready

#6083 clamp height for prompt input in generate height
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Labels: bug

#6089 feat(cli): support -h flag for help in CLI
  marimo/_cli/cli.py
Labels: enhancement

#6094 improvement: add hotkeys to AI completion
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
Labels: enhancement, merge when ready

#6097 preview: fix tools feature flag name
  marimo/_server/ai/tools.py
Labels: merge when ready, preview

#6095 improvement: cleanup docs on mode dropdown
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/chat/chat-panel.tsx
Labels: merge when ready

#6096 improvement: more lenient AI config, and more descriptive error
  marimo/_server/ai/config.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Labels: enhancement, merge when ready

#6065 docs: updated AI docs
  docs/guides/editor_features/ai_completion.md
Labels: documentation

#6112 Update module_name_to_pypi_name.py - psycopg2
  marimo/_runtime/packages/module_name_to_pypi_name.py
Labels: enhancement

#6120 fix: katex can't be italics
  frontend/src/css/katex.min.css
Labels: bug, merge when ready

#6121 Minor fix to docs: show bullet list.
  docs/guides/editor_features/ai_completion.md
Labels: documentation

#6100 strongly type backend experimental flag
  frontend/src/core/config/feature-flag.tsx
  marimo/_cli/development/commands.py
  marimo/_cli/envinfo.py
  marimo/_config/config.py
  marimo/_config/manager.py
  marimo/_runtime/threads.py
  marimo/_save/stores/__init__.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/api/endpoints/test_ws.py
Labels: bash-focus

#6133 Fix cellname overlap
  frontend/src/components/editor/actions/name-cell-input.tsx
  frontend/src/components/editor/output/ConsoleOutput.tsx
  tests/_runtime/test_runtime.py
  tests/_runtime/test_trace.py
Labels: bug

#6149 Set observer for VsCode theme in `useTheme`
  frontend/src/theme/useTheme.ts
Labels: enhancement

#6138 loosen typings for experimental config on the backend
  marimo/_config/config.py
  marimo/_config/manager.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_utils/test_parse_dataclass.py
Labels: bash-focus

#6158 Add "Notebook Errors" as a context in any AI input
  frontend/src/__mocks__/notebook.ts
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/__tests__/utils.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/error.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/providers/error.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/utils.ts
  frontend/src/core/cells/cells.ts
  marimo/_server/ai/prompts.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/snapshots/chat_system_prompts.txt
  tests/_server/ai/snapshots/system_prompts.txt
  tests/_server/ai/test_prompts.py
Labels: bash-focus

#6160 fix: remove unecessary work in scoped state
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/components/editor/navigation/state.ts
Labels: bug, bash-focus

#6166 Resolve CSS path issues in islands build
  frontend/src/core/islands/islands.css
  frontend/src/core/islands/main.ts
Labels: bug

#5992 fix: get fully qualified name in sql refs
  marimo/_ast/cell.py
  marimo/_ast/codegen.py
  marimo/_ast/compiler.py
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  marimo/_utils/timer.py
  tests/_ast/test_codegen.py
  tests/_ast/test_sql_visitor.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_dataflow_cases.py
Labels: bug, bash-focus

#6180 fix: turn off toplevel function post hook in run mode
  marimo/_runtime/runtime.py
Labels: merge when ready
