Repository marimo-team/marimo, pull requests merged in 2025-06, with the labels that each got.

#5132 feat: add redshift engine
  frontend/src/components/datasources/datasources.tsx
  marimo/_dependencies/dependencies.py
  marimo/_smoke_tests/sql/redshift_example.py
  marimo/_sql/engines/clickhouse.py
  marimo/_sql/engines/dbapi.py
  marimo/_sql/engines/doc.md
  marimo/_sql/engines/duckdb.py
  marimo/_sql/engines/ibis.py
  marimo/_sql/engines/pyiceberg.py
  marimo/_sql/engines/redshift.py
  marimo/_sql/engines/sqlalchemy.py
  marimo/_sql/engines/types.py
  marimo/_sql/get_engines.py
  marimo/_sql/sql.py
  marimo/_sql/utils.py
  pyproject.toml
  tests/_sql/test_engines.py
  tests/_sql/test_get_engines.py
  tests/_sql/test_redshift.py
Labels: merge when ready

#5166 fix: add cell ids to deserialize
  frontend/src/core/cells/__tests__/ids.test.ts
  frontend/src/core/cells/ids.ts
  marimo/_ast/cell_manager.py
  tests/_ast/test_cell_manager.py
Labels: merge when ready

#5168 fix: skew potection token in run-mode when auth is enabled
  marimo/_server/sessions.py
  marimo/_server/tokens.py
  pyproject.toml
  tests/_server/test_session_manager.py
Labels: merge when ready

#5243 feat: change page size in tables directly
  frontend/src/components/data-table/column-explorer-panel/column-explorer.tsx
  frontend/src/components/data-table/pagination.tsx
  frontend/src/components/ui/number-field.tsx
  frontend/src/plugins/impl/DataTablePlugin.tsx
  frontend/src/plugins/impl/data-frames/forms/__tests__/__snapshots__/form.test.tsx.snap
Labels: merge when ready

#5294 fix: WS are static on creation
  frontend/src/core/runtime/runtime.ts
  frontend/src/core/websocket/useWebSocket.tsx
Labels: merge when ready

#5317 style: datasource icons dark mode
  frontend/src/components/datasets/icons.tsx
  frontend/src/components/datasources/components.tsx
  marimo/_data/charts.py
  marimo/_utils/theme.py
  tests/_data/snapshots/charts-complex.txt
  tests/_data/snapshots/charts_json.txt
  tests/_data/snapshots/charts_json_bad_data.txt
  tests/_data/snapshots/column_preview_categorical_chart_spec.txt
  tests/_data/snapshots/column_preview_str_chart_spec.txt
Labels: merge when ready

#5331 fix: show wasm always always connected
  frontend/src/components/editor/chrome/wrapper/footer-items/backend-status.tsx
Labels: merge when ready

#5330 fix: merge default config on save_user_config
  marimo/_pyodide/pyodide_session.py
Labels: merge when ready

#5293 chore: add biome lint for addEventListener
  .github/workflows/test_be.yaml
  .github/workflows/test_be_dagger.yaml.skip
  biome.jsonc
  frontend/lint/addEventListenerObject.grit
  frontend/lint/removeEventListenerObject.grit
  frontend/src/core/codemirror/readonly/extension.ts
Labels: merge when ready

#5356 fix: remove select-none, which prevented select on tables
  frontend/src/components/data-table/renderers.tsx
Labels: merge when ready

#5390 fix: wasm column summary charts
  frontend/src/components/data-table/__tests__/__snapshots__/chart-spec-model.test.ts.snap
  frontend/src/components/data-table/__tests__/chart-spec-model.test.ts
  frontend/src/components/data-table/chart-spec-model.tsx
  frontend/src/utils/json/__tests__/base64.test.ts
  frontend/src/utils/json/base64.ts
Labels: merge when ready

#5461 chore: auto_instantiate=false for our project settings
  pyproject.toml
Labels: merge when ready

#5476 fix: wasm kernels don't have argv
  marimo/_pyodide/bootstrap.py
Labels: bug

#5481 Fix shift-enter not focusing new cell at end
  frontend/src/core/cells/cells.ts
Labels: bug

#5475 chore: deflake flaky i/o tests
  tests/_server/api/endpoints/test_files.py
  tests/_server/export/test_exporter.py
Labels: internal

#5482 fix(openai): empty tool list error for openai compatible endpoints
  marimo/_server/ai/providers.py
Labels: bug

#5480 Restore DOM-based metadata for VS Code extension compatibility
  frontend/index.html
  marimo/_server/templates/templates.py
Labels: bug

#5484 Fix go-to-definition for function declarations
  frontend/src/core/codemirror/go-to-definition/__tests__/commands.test.ts
  frontend/src/core/codemirror/go-to-definition/commands.ts
Labels: bug, merge when ready

#5489 enhancement: add a signifier for the create cell context menu
  frontend/src/components/editor/cell/CreateCellButton.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
Labels: enhancement

#5458 fix: tracing panel - sort queued cells to bottom
  frontend/src/components/tracing/tracing-spec.ts
  frontend/src/components/tracing/tracing.tsx
Labels: bug

#5491 Ensure cell action tooltip appears above sidebar panel
  frontend/src/components/editor/cell/CreateCellButton.tsx
Labels: bug, bash-focus

#5427 refactor: make websocket-jsonrpc server bridge generic
  lsp/index.test.ts
  lsp/index.ts
  marimo/_server/lsp.py
  tests/_server/test_lsp.py
Labels: enhancement, merge when ready
