Repository marimo-team/marimo, pull requests merged in 2025-09, with the labels that each got.

#6181 attachments in chat sidebar
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-components.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/core/ai/types.ts
  frontend/src/plugins/impl/MicrophonePlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  frontend/src/utils/__tests__/blob.test.ts
  frontend/src/utils/fileToBase64.ts
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Labels: enhancement, release-highlight, bash-focus

#6240 feat: cell output for `@` context w/ attachments for media output
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/cell-output.test.ts
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
  frontend/src/core/ai/context/providers/cell-output.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/registry.ts
  marimo/_ai/_convert.py
Labels: enhancement, includes-media, bash-focus

#6261 feat [6093]: mo.ui.file_browser ignore empty directories
  marimo/_plugins/ui/_impl/file_browser.py
  tests/_plugins/ui/_impl/test_file_browser.py
Labels: bash-focus

#6222 feat: add MCP server integration with notebook inspection tools
  marimo/_cli/cli.py
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/lifespan.py
  marimo/_mcp/server/main.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  marimo/_server/api/deps.py
  marimo/_server/api/lifespans.py
  marimo/_server/print.py
  marimo/_server/start.py
  pyproject.toml
  tests/_mcp/server/test_exceptions.py
  tests/_mcp/server/test_main.py
  tests/_mcp/server/test_responses.py
  tests/_mcp/server/tools/test_cells.py
  tests/_mcp/server/tools/test_notebooks.py
Labels: enhancement, includes-media, release-highlight, bash-focus

#6238 preview: add `--server-startup-command`
  frontend/src/components/editor/alerts/startup-logs-alert.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/alerts/state.ts
  frontend/src/core/islands/main.ts
  frontend/src/core/kernel/messages.ts
  frontend/src/core/websocket/useMarimoWebSocket.tsx
  marimo/_cli/cli.py
  marimo/_messaging/ops.py
  marimo/_server/session/session_view.py
  marimo/_server/start.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_cli/test_parse_args.py
  tests/_messaging/test_ops.py
  tests/_server/session/test_session_view.py
Labels: bash-focus

#6256 AI parse from parts in the backend, enable attachments for more providers
  frontend/src/components/chat/chat-components.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/cell-output.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/ai/state.ts
  frontend/src/core/ai/types.ts
  frontend/src/plugins/impl/chat/ChatPlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  marimo/_plugins/ui/_impl/chat/utils.py
  tests/_ai/llm/test_impl.py
  tests/_ai/test_chat_convert.py
  tests/_server/api/endpoints/test_ai.py
Labels: enhancement, bash-focus

#6266 mock theme for test
  frontend/src/core/ai/context/providers/__tests__/cell-output.test.ts
  tests/_data/test_charts.py
  tests/_data/test_preview_column.py
Labels: merge when ready, internal

#6276 docs: move claude md to snippets
  .github/workflows/docs.yml
  docs/_static/CLAUDE.md
  docs/guides/generate_with_ai/prompts.md
  mkdocs.yml
Labels: documentation

#6289 fix tools conversion
  frontend/src/components/chat/chat-panel.tsx
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  tests/_ai/test_chat_convert.py
Labels: bug, bash-focus

#6307 Add copyright banner to `marimo/_mcp/server/*`
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/lifespan.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
Labels: internal

#6312 generate multiple cells with generate with ai
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/chat-utils.ts
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/components/editor/ai/transport/chat-transport.tsx
  frontend/src/components/editor/cell/StagedAICell.tsx
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  frontend/src/core/cells/cells.ts
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/snapshots/system_prompts.txt
  tests/_server/ai/test_prompts.py
Labels: enhancement, bash-focus

#6377 improvement: lazyer initialization of tools
  marimo/_ai/_tools/base.py
  marimo/_server/ai/providers.py
  marimo/_server/ai/tools/tool_manager.py
  marimo/_utils/once.py
  tests/_ai/tools/test_base.py
  tests/_ai/tools/tools/test_cells.py
  tests/_ai/tools/tools/test_notebooks.py
  tests/_server/ai/tools/test_tool_manager.py
  tests/_utils/test_once.py
Labels: merge when ready

#6384 feat: syntax error `check` rule as a base example
  development_docs/adding_lint_rules.md
  docs/guides/lint_rules/index.md
  docs/guides/lint_rules/rules/invalid_syntax.md
  marimo/_lint/rules/breaking/__init__.py
  marimo/_lint/rules/breaking/syntax_error.py
  mkdocs.yml
  tests/_lint/snapshots/syntax_errors.txt
  tests/_lint/test_files/syntax_errors.py
  tests/_lint/test_runtime_errors_snapshot.py
Labels: documentation

#6382 fix: handle nested msgspec parsing
  marimo/_utils/parse_dataclass.py
  tests/_utils/test_parse_dataclass.py
Labels: bug, merge when ready

#6395 improvment: add xterm addons and terminal resize
  frontend/package.json
  frontend/src/components/terminal/terminal.tsx
  frontend/src/components/terminal/theme.tsx
  marimo/_server/api/endpoints/terminal.py
  pnpm-lock.yaml
  tests/_server/api/endpoints/test_terminal.py
Labels: enhancement

#6410 styles: change styles for staged AI cells
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/cell/StagedAICell.tsx
  frontend/src/css/app/Cell.css
Labels: merge when ready

#6411 styles: tool calls styling and streamdown
  frontend/package.json
  frontend/src/components/chat/acp/agent-panel.css
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/markdown-renderer.css
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/chat/tool-call-accordion.tsx
  pnpm-lock.yaml
Labels: merge when ready

#6421 fix: remove body tags when rendering custom HTML
  frontend/src/plugins/core/RenderHTML.tsx
  frontend/src/plugins/core/__test__/RenderHTML.test.ts
Labels: bug, merge when ready

#6437 update system prompt & claude.md
  docs/_static/CLAUDE.md
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/prompt.ts
  marimo/_server/ai/prompts.py
  tests/_server/ai/snapshots/chat_system_prompts.txt
  tests/_server/ai/snapshots/system_prompts.txt
Labels: documentation

#6438 check if default schema and db is string, for engines
  marimo/_sql/engines/ibis.py
  marimo/_sql/engines/redshift.py
  marimo/_sql/engines/sqlalchemy.py
Labels: bug

#6439 display plain output for explain queries in duckdb
  marimo/_sql/sql.py
  marimo/_sql/utils.py
  tests/_sql/test_sql.py
Labels: enhancement

#6432 improvement: add locale to display config
  frontend/src/components/chat/acp/__tests__/atoms.test.ts
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/editor/renderers/slides-layout/types.ts
  frontend/src/components/terminal/theme.tsx
  frontend/src/core/config/config-schema.ts
  frontend/src/core/config/config.ts
  frontend/src/core/i18n/__tests__/locale-provider.test.tsx
  frontend/src/core/i18n/local-provider.tsx
  frontend/src/core/i18n/locale-provider.tsx
  frontend/src/core/islands/components/web-components.tsx
  frontend/src/core/kernel/messages.ts
  frontend/src/mount.tsx
  frontend/src/plugins/core/registerReactComponent.tsx
  frontend/src/utils/errors.ts
  marimo/_config/config.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Labels: bash-focus

#6430 feat 5834: add outline - mo.outline()
  frontend/src/plugins/layout/OutlinePlugin.tsx
  frontend/src/plugins/plugins.ts
  marimo/__init__.py
  marimo/_output/outline.py
  tests/snapshots/api.txt
Labels: enhancement

#6433 improvement: use user's (or configured) locale for dates, times, and numbers
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/data-table/__tests__/column_formatting.test.ts
  frontend/src/components/data-table/column-explorer-panel/column-explorer.tsx
  frontend/src/components/data-table/column-formatting/feature.ts
  frontend/src/components/data-table/column-formatting/types.ts
  frontend/src/components/data-table/column-header.tsx
  frontend/src/components/data-table/column-summary/column-summary.tsx
  frontend/src/components/data-table/columns.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/data-table/date-popover.tsx
  frontend/src/components/data-table/filter-pills.tsx
  frontend/src/components/data-table/header-items.tsx
  frontend/src/components/data-table/pagination.tsx
  frontend/src/components/data-table/row-viewer-panel/row-viewer.tsx
  frontend/src/components/datasources/column-preview.tsx
  frontend/src/components/editor/cell/CellStatus.tsx
  frontend/src/components/editor/chrome/wrapper/footer-items/machine-stats.tsx
  frontend/src/components/editor/controls/notebook-menu-dropdown.tsx
  frontend/src/components/pages/home-page.tsx
  frontend/src/components/ui/range-slider.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/components/variables/variables-table.tsx
  frontend/src/core/MarimoApp.tsx
  frontend/src/core/cells/logs.ts
  frontend/src/core/i18n/__tests__/locale-provider.test.tsx
  frontend/src/core/i18n/locale-provider.tsx
  frontend/src/core/i18n/with-locale.tsx
  frontend/src/hooks/useFormatting.ts
  frontend/src/hooks/useTimer.ts
  frontend/src/mount.tsx
  frontend/src/plugins/impl/RangeSliderPlugin.tsx
  frontend/src/plugins/impl/SliderPlugin.tsx
  frontend/src/plugins/impl/data-explorer/components/column-summary.tsx
  frontend/src/plugins/layout/StatPlugin.tsx
  frontend/src/utils/__tests__/dates.test.ts
  frontend/src/utils/__tests__/numbers.test.ts
  frontend/src/utils/__tests__/once.test.ts
  frontend/src/utils/dates.ts
  frontend/src/utils/numbers.ts
  frontend/src/utils/once.ts
Labels: bash-focus

#6451 fix: preserve literal strings in type annotations
  marimo/_ast/visitor.py
  marimo/_utils/strings.py
  tests/_ast/test_codegen.py
Labels: bug, merge when ready

#6480 docs: wide -> medium
  docs/blocks.py
Labels: documentation

#6498 feat: Wrap and pass SQL Errors
  frontend/src/components/editor/output/MarimoErrorOutput.tsx
  marimo/_ast/sql_utils.py
  marimo/_ast/visitor.py
  marimo/_messaging/errors.py
  marimo/_runtime/runner/cell_runner.py
  marimo/_runtime/runner/hooks_post_execution.py
  marimo/_smoke_tests/sql_error_handling.py
  marimo/_sql/error_utils.py
  marimo/_sql/sql.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_sql/test_sql_error_handling.py
Labels: bash-focus

#6460 sql mode - validate for duckdb
  frontend/src/__mocks__/requests.ts
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/errors/sql-validation-errors.tsx
  frontend/src/core/codemirror/language/__tests__/extension.test.ts
  frontend/src/core/codemirror/language/__tests__/sql-validation.test.ts
  frontend/src/core/codemirror/language/languages/sql/sql-mode.ts
  frontend/src/core/codemirror/language/languages/sql/sql.ts
  frontend/src/core/codemirror/language/languages/sql/validation-errors.ts
  frontend/src/core/codemirror/language/panel/panel.tsx
  frontend/src/core/codemirror/language/panel/sql.tsx
  frontend/src/core/config/feature-flag.tsx
  frontend/src/core/datasets/request-registry.ts
  frontend/src/core/islands/bridge.ts
  frontend/src/core/islands/main.ts
  frontend/src/core/kernel/messages.ts
  frontend/src/core/network/requests-network.ts
  frontend/src/core/network/requests-static.ts
  frontend/src/core/network/requests-toasting.ts
  frontend/src/core/network/types.ts
  frontend/src/core/wasm/bridge.ts
  frontend/src/core/websocket/useMarimoWebSocket.tsx
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_messaging/ops.py
  marimo/_runtime/requests.py
  marimo/_runtime/runtime.py
  marimo/_server/api/endpoints/sql.py
  marimo/_server/api/router.py
  marimo/_sql/engines/types.py
  marimo/_sql/get_engines.py
  marimo/_sql/utils.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  pyproject.toml
  tests/_server/api/endpoints/test_sql_endpoints.py
  tests/_sql/test_engines.py
  tests/_sql/test_sql.py
Labels: bash-focus

#6516 fix: preserve comments in jupyter conversion
  marimo/_ast/transformers.py
  marimo/_convert/comment_preserver.py
  marimo/_convert/ipynb.py
  tests/_convert/ipynb_data/comments_preservation.ipynb
  tests/_convert/snapshots/convert_comments_preservation.py.txt
  tests/_convert/snapshots/convert_multiple_definitions.py.txt
  tests/_convert/test_ipynb.py
Labels: bug

#6520 Fix anywidget initial buffer handling regression
  frontend/src/core/dom/events.ts
  frontend/src/core/dom/uiregistry.ts
  frontend/src/core/islands/main.ts
  frontend/src/core/websocket/useMarimoWebSocket.tsx
  frontend/src/plugins/impl/anywidget/AnyWidgetPlugin.tsx
  frontend/src/plugins/impl/anywidget/__tests__/AnyWidgetPlugin.test.tsx
  frontend/src/plugins/impl/anywidget/__tests__/model.test.ts
  frontend/src/plugins/impl/anywidget/model.ts
  frontend/src/utils/__tests__/data-views.test.ts
  frontend/src/utils/data-views.ts
  frontend/src/utils/json/base64.ts
  marimo/_messaging/ops.py
  marimo/_plugins/ui/_core/ui_element.py
  marimo/_plugins/ui/_impl/comm.py
  marimo/_smoke_tests/anywidget_smoke_tests/mosaic_example.py
  marimo/_smoke_tests/anywidget_smoke_tests/uchimata_example.py
  packages/openapi/api.yaml
  tests/_messaging/test_ops.py
  tests/_plugins/ui/_impl/test_anywidget.py
  tests/_plugins/ui/_impl/test_comm.py
Labels: bug, bash-focus

#6537 improvement: google vertex support, make google key optional
  docs/guides/configuration/llm_providers.md
  marimo/_server/ai/config.py
  marimo/_server/ai/providers.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Labels: documentation

#6573 improvement: dont show python traceback for sql errors
  marimo/_runtime/runner/cell_runner.py
  tests/_runtime/runner/test_cell_runner.py
Labels: merge when ready

#6572 improvement: change output default from above to below
  marimo/_config/config.py
  tests/_server/templates/snapshots/export1.txt
  tests/_server/templates/snapshots/export2.txt
  tests/_server/templates/snapshots/export3.txt
  tests/_server/templates/snapshots/export4.txt
  tests/_server/templates/snapshots/export5.txt
  tests/_server/templates/snapshots/export6.txt
Labels: merge when ready

#6582 change ff name, chat_mode
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/config/feature-flag.tsx
  marimo/_config/config.py
  pyproject.toml
Labels: merge when ready, internal

#6584 Update sqlglot dependency to include 'rs' variant in for better perf
  docs/getting_started/installation.md
  pyproject.toml
Labels: documentation

#6590 add simple auto fix button for sql cell
  frontend/src/components/editor/errors/auto-fix.tsx
  frontend/src/components/editor/output/MarimoErrorOutput.tsx
  frontend/src/core/errors/__tests__/errors.test.ts
  frontend/src/core/errors/errors.ts
  marimo/_server/ai/prompts.py
  tests/_server/ai/snapshots/chat_system_prompts.txt
  tests/_server/ai/snapshots/system_prompts.txt
Labels: enhancement

#6613 fix: data-table cellHoverTextSchema validation
  frontend/src/plugins/impl/DataTablePlugin.tsx
Labels: merge when ready

#6612 improvement: cleanup ibis code to share from narwhals table manager
  marimo/_plugins/ui/_impl/charts/altair_transformer.py
  marimo/_plugins/ui/_impl/table.py
  marimo/_plugins/ui/_impl/tables/ibis_table.py
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  marimo/_smoke_tests/ibis_example.py
  tests/_plugins/ui/_impl/tables/snapshots/ibis.csv
  tests/_plugins/ui/_impl/tables/snapshots/ibis.json
  tests/_plugins/ui/_impl/tables/test_ibis_table.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/tables/test_pandas_table.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/test_table.py
Labels: bash-focus
