Repository marimo-team/marimo, pull requests merged in 2025-10, with the labels that each got.

#6619 feat: MCP presets: marimo docs and context7
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/mcp-config.tsx
  frontend/src/components/app-config/optional-features.tsx
  frontend/src/components/chat/tool-call-accordion.tsx
  frontend/src/core/config/__tests__/config-schema.test.ts
  frontend/src/core/config/config-schema.ts
  frontend/src/core/config/feature-flag.tsx
  marimo/_config/config.py
  marimo/_server/ai/mcp/__init__.py
  marimo/_server/ai/mcp/client.py
  marimo/_server/ai/mcp/config.py
  marimo/_server/ai/mcp/transport.py
  marimo/_server/ai/mcp/types.py
  marimo/_server/ai/tools/tool_manager.py
  marimo/_server/api/endpoints/config.py
  marimo/_server/api/lifespans.py
  marimo/_server/print.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/test_mcp.py
  tests/_server/templates/snapshots/export1.txt
  tests/_server/templates/snapshots/export2.txt
  tests/_server/templates/snapshots/export3.txt
  tests/_server/templates/snapshots/export4.txt
  tests/_server/templates/snapshots/export5.txt
  tests/_server/templates/snapshots/export6.txt
Labels: bash-focus

#6654 group chat history by date, add search bar
  frontend/src/__tests__/chat-history.test.ts
  frontend/src/components/chat/chat-history-popover.tsx
  frontend/src/components/chat/chat-history-utils.ts
  frontend/src/components/chat/chat-panel.tsx
Labels: enhancement

#6662 feat: rig up cache api
  frontend/src/__mocks__/requests.ts
  frontend/src/components/editor/chrome/panels/cache-panel.tsx
  frontend/src/components/editor/chrome/panels/empty-state.tsx
  frontend/src/components/editor/chrome/types.ts
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/confirmation-button.tsx
  frontend/src/core/cache/requests.ts
  frontend/src/core/config/feature-flag.tsx
  frontend/src/core/islands/bridge.ts
  frontend/src/core/islands/main.ts
  frontend/src/core/kernel/messages.ts
  frontend/src/core/network/requests-network.ts
  frontend/src/core/network/requests-static.ts
  frontend/src/core/network/requests-toasting.ts
  frontend/src/core/network/types.ts
  frontend/src/core/wasm/bridge.ts
  frontend/src/core/websocket/useMarimoWebSocket.tsx
  frontend/src/utils/__tests__/formatting.test.ts
  frontend/src/utils/formatting.ts
  marimo/_cli/development/commands.py
  marimo/_messaging/ops.py
  marimo/_runtime/requests.py
  marimo/_runtime/runtime.py
  marimo/_save/cache.py
  marimo/_server/api/endpoints/cache.py
  marimo/_server/api/router.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  pyproject.toml
Labels: bash-focus

#6665 move sql linter to config instead of feat flag
  docs/_static/docs-sql-format-icon.webp
  docs/_static/docs-sql-linter.webp
  docs/_static/docs-sql-validate-mode.mp4
  docs/guides/debugging.md
  docs/guides/editor_features/ai_completion.md
  docs/guides/working_with_data/sql.md
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/language/languages/sql/sql.ts
  frontend/src/core/codemirror/language/panel/panel.tsx
  frontend/src/core/config/__tests__/config-schema.test.ts
  frontend/src/core/config/config-schema.ts
  frontend/src/core/config/feature-flag.tsx
  marimo/_config/config.py
  marimo/_server/print.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  pyproject.toml
  tests/_server/templates/snapshots/export1.txt
  tests/_server/templates/snapshots/export2.txt
  tests/_server/templates/snapshots/export3.txt
  tests/_server/templates/snapshots/export4.txt
  tests/_server/templates/snapshots/export5.txt
  tests/_server/templates/snapshots/export6.txt
Labels: documentation, bash-focus

#6659 improvement: mcp server ui, auth, and rules
  docs/_static/CLAUDE.md
  marimo/_ai/_tools/base.py
  marimo/_ai/_tools/tools/rules.py
  marimo/_ai/_tools/tools_registry.py
  marimo/_mcp/server/lifespan.py
  marimo/_mcp/server/main.py
  marimo/_server/print.py
  marimo/_server/start.py
  marimo/_utils/file_watcher.py
  tests/_ai/tools/tools/test_rules.py
  tests/_mcp/server/test_main.py
  tests/_mcp/server/test_mcp_server.py
Labels: documentation

#6257 Add multi-column sorting with stack-based behavior
  frontend/src/components/data-table/__tests__/header-items.test.tsx
  frontend/src/components/data-table/column-header.tsx
  frontend/src/components/data-table/columns.tsx
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/data-table/header-items.tsx
  frontend/src/plugins/impl/DataTablePlugin.tsx
  frontend/src/plugins/impl/data-frames/DataFramePlugin.tsx
  marimo/_plugins/ui/_impl/dataframes/dataframe.py
  marimo/_plugins/ui/_impl/table.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  tests/_plugins/ui/_impl/tables/test_default_table.py
  tests/_plugins/ui/_impl/tables/test_ibis_table.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/tables/test_pandas_table.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/tables/test_selection.py
  tests/_plugins/ui/_impl/test_table.py
Labels: bash-focus

#6690 floating label for AI generations in a cell
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/core/codemirror/language/languages/sql/sql.ts
  pnpm-lock.yaml
Labels: enhancement, merge when ready
