Repository marimo-team/marimo, pull requests merged in 2025-07, with the labels that each got.

#5498 chore: Add additional contributors for PR issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: internal

#5516 chore: docs CI cannot use pillow 11.3.0
  pyproject.toml
Labels: internal

#5509 fix: Invalid base url in api resolution
  frontend/src/core/network/__tests__/api.test.ts
  frontend/src/core/network/api.ts
  frontend/src/utils/strings.ts
Labels: merge when ready, internal

#5519 fix: infinite loops with query parameters and UI elements (revert "Fix StateRegistry retain_active_states (#5435)")
  marimo/_runtime/dataflow.py
  marimo/_runtime/runner/cell_runner.py
  marimo/_runtime/state.py
  tests/_runtime/test_state.py
Labels: bug

#5520 chore: script to generate bash focus PRs
  scripts/generate_bash_focus.py
Labels: merge when ready, internal

#5522 chore: update issue template pr section
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: merge when ready, internal

#5392 feat: add chart builder / chart-to-cell functionality within table
  frontend/src/components/data-table/TableActions.tsx
  frontend/src/components/data-table/charts/__tests__/__snapshots__/spec-snapshot.test.ts.snap
  frontend/src/components/data-table/charts/__tests__/altair-generator.test.ts
  frontend/src/components/data-table/charts/__tests__/spec-snapshot.test.ts
  frontend/src/components/data-table/charts/__tests__/spec.test.ts
  frontend/src/components/data-table/charts/chart-spec/altair-generator.ts
  frontend/src/components/data-table/charts/chart-spec/encodings.ts
  frontend/src/components/data-table/charts/chart-spec/spec.ts
  frontend/src/components/data-table/charts/chart-spec/tooltips.ts
  frontend/src/components/data-table/charts/chart-spec/types.ts
  frontend/src/components/data-table/charts/charts.tsx
  frontend/src/components/data-table/charts/components/chart-items.tsx
  frontend/src/components/data-table/charts/components/form-fields.tsx
  frontend/src/components/data-table/charts/components/layouts.tsx
  frontend/src/components/data-table/charts/constants.ts
  frontend/src/components/data-table/charts/context.ts
  frontend/src/components/data-table/charts/forms/common-chart.tsx
  frontend/src/components/data-table/charts/schemas.ts
  frontend/src/components/data-table/charts/types.ts
  frontend/src/components/datasources/datasources.tsx
  frontend/src/components/editor/cell/useAddCell.ts
  frontend/src/components/editor/code/readonly-python-code.tsx
Labels: enhancement, merge when ready, includes-media

#5544 enhancement: don't auto scroll when sending cell to top/bottom from menu
  frontend/src/components/editor/actions/useCellActionButton.tsx
  frontend/src/core/cells/cells.ts
Labels: enhancement, merge when ready

#5533 docs: add table panels and chart builder docs
  docs/_static/docs-chart-builder-table.mp4
  docs/_static/docs-column-explorer-table.mp4
  docs/_static/docs-row-viewer-panel.gif
  docs/_static/docs-row-viewer-panel.mp4
  docs/guides/working_with_data/dataframes.md
  docs/guides/working_with_data/plotting.md
  frontend/src/components/data-table/charts/components/form-fields.tsx
  marimo/_data/charts.py
  tests/_data/snapshots/charts.txt
Labels: documentation

#5548 Add null and non-null filter for dataframes
  frontend/src/components/data-table/column-header.tsx
  frontend/src/components/data-table/filter-pills.tsx
  frontend/src/components/data-table/filters.ts
  frontend/src/plugins/impl/data-frames/utils/__tests__/operators.test.ts
  frontend/src/plugins/impl/data-frames/utils/operators.ts
  marimo/_plugins/ui/_impl/dataframes/transforms/handlers.py
  marimo/_plugins/ui/_impl/dataframes/transforms/print_code.py
  marimo/_plugins/ui/_impl/dataframes/transforms/types.py
Labels: enhancement

#5560 chore: add js docs to useAsyncData
  frontend/src/hooks/useAsyncData.ts
Labels: internal

#5567 tests: get playwright running again
  .github/workflows/test_be.yaml
  frontend/.eslintrc.cjs
  frontend/e2e-tests/global-setup.ts
  frontend/e2e-tests/global-teardown.ts
  frontend/e2e-tests/helper.ts
  frontend/e2e-tests/py/bad_button.py
  frontend/e2e-tests/py/bugs.py
  frontend/e2e-tests/py/cells.py
  frontend/e2e-tests/py/components.py
  frontend/e2e-tests/py/disabled_cells.py
  frontend/e2e-tests/py/kitchen_sink.py
  frontend/e2e-tests/py/layout_grid.py
  frontend/e2e-tests/py/layout_grid_max_width.py
  frontend/e2e-tests/py/output.py
  frontend/e2e-tests/py/shutdown.py
  frontend/e2e-tests/py/stdin.py
  frontend/e2e-tests/py/streams.py
  frontend/e2e-tests/py/title.py
  frontend/e2e-tests/shutdown.spec.ts
  frontend/e2e-tests/test-utils.ts
  frontend/e2e-tests/tsconfig.json
  frontend/playwright.config.ts
  frontend/tsconfig.json
  marimo/_server/session/serialize.py
  tests/_server/api/endpoints/test_files.py
  tests/_server/test_file_manager.py
Labels: internal

#5563 Make reactivity options in footer responsive for small screen widths
  frontend/src/components/editor/chrome/wrapper/footer-items/runtime-settings.tsx
  frontend/src/components/editor/chrome/wrapper/footer.tsx
Labels: bug, includes-media

#5578 Add linting rule to prefer options object over multiple positional args
  biome.jsonc
  frontend/lint/preferObjectParams.grit
Labels: internal

#5579 Enable TypeScript incremental compilation
  frontend/tsconfig.json
Labels: internal

#5581 Elevate `preferObjectParams` linting severity from "warn" to "error"
  frontend/e2e-tests/mode.spec.ts
  frontend/lint/preferObjectParams.grit
  frontend/src/components/charts/chart-skeleton.tsx
  frontend/src/components/data-table/__tests__/column_formatting.test.ts
  frontend/src/components/data-table/cell-selection/__tests__/feature.test.ts
  frontend/src/components/data-table/charts/charts.tsx
  frontend/src/components/data-table/charts/components/form-fields.tsx
  frontend/src/components/data-table/column-explorer-panel/column-explorer.tsx
  frontend/src/components/data-table/column-formatting/feature.ts
  frontend/src/components/data-table/row-viewer-panel/__tests__/filter-rows.test.ts
  frontend/src/components/data-table/row-viewer-panel/row-viewer.tsx
  frontend/src/components/datasources/__tests__/utils.test.ts
  frontend/src/components/datasources/column-preview.tsx
  frontend/src/components/datasources/datasources.tsx
  frontend/src/components/datasources/utils.ts
  frontend/src/components/dependency-graph/dependency-graph-tree.tsx
  frontend/src/components/dependency-graph/utils/layout.ts
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/actions/useCellActionButton.tsx
  frontend/src/components/editor/cell/RunButton.tsx
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/components/editor/cell/code/language-toggle.tsx
  frontend/src/components/editor/controls/command-palette.tsx
  frontend/src/components/editor/renderers/plugins.ts
  frontend/src/components/variables/variables-table.tsx
  frontend/src/core/cells/cells.ts
  frontend/src/core/codemirror/__tests__/extensions.test.ts
  frontend/src/core/codemirror/__tests__/format.test.ts
  frontend/src/core/codemirror/cm.ts
  frontend/src/core/codemirror/completion/hints.ts
  frontend/src/core/codemirror/config/extension.ts
  frontend/src/core/codemirror/copilot/__tests__/getCode.test.ts
  frontend/src/core/codemirror/extensions.ts
  frontend/src/core/codemirror/language/__tests__/extension.test.ts
  frontend/src/core/codemirror/language/__tests__/markdown.test.ts
  frontend/src/core/codemirror/language/__tests__/utils.test.ts
  frontend/src/core/codemirror/language/commands.ts
  frontend/src/core/codemirror/language/extension.ts
  frontend/src/core/codemirror/language/panel/markdown.tsx
  frontend/src/core/codemirror/language/panel/panel.tsx
  frontend/src/core/codemirror/markdown/commands.ts
  frontend/src/core/codemirror/rtc/extension.ts
  frontend/src/core/codemirror/rtc/loro/awareness.ts
  frontend/src/core/kernel/handlers.ts
  frontend/src/core/saving/state.ts
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
  frontend/src/plugins/impl/anywidget/__tests__/model.test.ts
  frontend/src/utils/math.ts
  frontend/src/utils/pathUtils.test.ts
  frontend/src/utils/pathUtils.ts
  frontend/src/utils/scroll.ts
Labels: internal

#5492 Convert import helpers to use named parameters
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/datasources/column-preview.tsx
  frontend/src/components/datasources/datasources.tsx
  frontend/src/components/editor/actions/useCellActionButton.tsx
  frontend/src/components/editor/cell/CreateCellButton.tsx
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/components/editor/cell/useAddCell.ts
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/cells/__tests__/add-missing-import.test.ts
  frontend/src/core/cells/add-missing-import.ts
Labels: internal

#5596 Add quick actions to change cell output area
  frontend/src/components/editor/actions/useConfigActions.tsx
Labels: enhancement

#5598 improvement: add default_table_max_columns to user config
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/editor/__tests__/data-attributes.test.tsx
  frontend/src/core/config/__tests__/config-schema.test.ts
  frontend/src/core/config/config-schema.ts
  marimo/_config/config.py
  marimo/_plugins/ui/_impl/from_anywidget.py
  marimo/_plugins/ui/_impl/table.py
  openapi/api.yaml
  openapi/src/api.ts
  tests/_plugins/ui/_impl/test_table.py
  tests/_server/templates/snapshots/export1.txt
  tests/_server/templates/snapshots/export2.txt
  tests/_server/templates/snapshots/export3.txt
  tests/_server/templates/snapshots/export4.txt
  tests/_server/templates/snapshots/export5.txt
  tests/_server/templates/snapshots/export6.txt
Labels: bash-focus

#5616 Fix handling of class attribute references for reactive variables
  frontend/src/core/codemirror/reactive-references/__tests__/analyzer.test.ts
  frontend/src/core/codemirror/reactive-references/analyzer.ts
Labels: bug

#5614 improvement: better focus navigation between cell and cell-editor
  .github/renovate.json5
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/SortableCell.tsx
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/components/editor/columns/cell-column.tsx
  frontend/src/components/editor/common.ts
  frontend/src/components/editor/focus/focus-manager.ts
  frontend/src/components/editor/focus/focus.ts
  frontend/src/components/editor/focus/state.ts
  frontend/src/components/editor/renderers/vertical-layout/vertical-layout.tsx
  frontend/src/components/find-replace/find-replace.tsx
  frontend/src/components/scratchpad/scratchpad.tsx
  frontend/src/core/cells/scrollCellIntoView.ts
  frontend/src/core/codemirror/cells/extensions.ts
  frontend/src/core/config/config.ts
  frontend/src/plugins/impl/data-frames/forms/__tests__/__snapshots__/form.test.tsx.snap
  frontend/src/utils/events.ts
Labels: enhancement, bash-focus

#5635 Propagate `Ctrl+[` as `Escape` to enter command mode with vim keybindings
  frontend/src/core/codemirror/keymaps/vim.ts
Labels: enhancement

#5302 feat: add `ty` LSP
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/codemirror/language/languages/python.ts
  frontend/src/core/codemirror/lsp/federated-lsp.ts
  frontend/src/core/codemirror/lsp/transports.ts
  frontend/src/core/codemirror/lsp/utils.ts
  frontend/src/core/config/capabilities.ts
  frontend/src/core/runtime/runtime.ts
  lsp/index.ts
  marimo/_config/config.py
  marimo/_dependencies/dependencies.py
  marimo/_messaging/ops.py
  marimo/_server/lsp.py
  openapi/api.yaml
  openapi/src/api.ts
  tests/_server/test_lsp.py
Labels: bash-focus, preview

#5637 fix: lsp syncing fixes for hover and completion
  docs/guides/editor_features/language_server.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/editor/columns/storage.ts
  frontend/src/core/codemirror/copilot/__tests__/getCodes.test.ts
  frontend/src/core/codemirror/copilot/getCodes.ts
  frontend/src/core/codemirror/lsp/__tests__/notebook-lsp.test.ts
  frontend/src/core/codemirror/lsp/federated-lsp.ts
  frontend/src/core/codemirror/lsp/notebook-lsp.ts
  frontend/src/css/app/codemirror.css
Labels: bug, documentation, bash-focus

#5636 Add vim bindings for top/bottom cell navigation: `gg` and `G`
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/components/editor/navigation/vim-bindings.test.ts
  frontend/src/components/editor/navigation/vim-bindings.ts
Labels: enhancement, bash-focus

#5647 feat: allow auto download to be configured globally
  marimo/_ast/app_config.py
  marimo/_config/config.py
  marimo/_config/manager.py
  marimo/_server/file_manager.py
  marimo/_server/file_router.py
  marimo/_server/sessions.py
  openapi/api.yaml
  openapi/src/api.ts
Labels: enhancement, bash-focus

#5650 improvement: add config override detection and UI components
  frontend/src/components/app-config/is-overridden.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/editor/chrome/wrapper/footer-items/runtime-settings.tsx
Labels: enhancement

#5655 improvement: enhance multi-cell action toolbar with new shortcuts and actions
  frontend/src/components/editor/navigation/multi-cell-action-toolbar.tsx
Labels: enhancement

#5659 fix: use pyodide_http.patch_all
  marimo/_runtime/patches.py
  tests/_pyodide/test_pyodide_session.py
Labels: internal

#5654 tests: additional unit tests for `test_transformers.py` and fix edge cases
  marimo/_ast/transformers.py
  tests/_ast/test_transformers.py
Labels: bug

#5672 Sidebar buttons are accessible now
  frontend/src/components/editor/chrome/wrapper/sidebar.tsx
Labels: enhancement

#5652 improvment: expose auto output flag
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/config/__tests__/config-schema.test.ts
  frontend/src/core/config/config-schema.ts
Labels: enhancement

#5669 improvement: use backend binning for numeric columns
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/data-table/__tests__/__snapshots__/chart-spec-model.test.ts.snap
  frontend/src/components/data-table/__tests__/chart-spec-model.test.ts
  frontend/src/components/data-table/chart-spec-model.tsx
  frontend/src/components/data-table/types.ts
  frontend/src/core/config/feature-flag.tsx
  frontend/src/plugins/impl/DataTablePlugin.tsx
  frontend/src/plugins/impl/data-frames/DataFramePlugin.tsx
  marimo/_data/models.py
  marimo/_plugins/ui/_impl/table.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_plugins/ui/_impl/tables/ibis_table.py
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  tests/_plugins/ui/_impl/tables/test_ibis_table.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/test_table.py
Labels: enhancement

#5681 chore: enable performant_table_charts for ourself
  marimo/_plugins/ui/_impl/table.py
  pyproject.toml
Labels: internal

#5684 fix: don't write snapshots on empty session views
  marimo/_ast/app.py
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/export/__init__.py
  marimo/_server/export/exporter.py
  marimo/_server/session/serialize.py
  marimo/_server/session/session_view.py
  tests/_ast/test_app.py
  tests/_server/api/endpoints/test_export.py
  tests/_server/export/test_exporter.py
  tests/_server/session/test_session_view.py
Labels: merge when ready

#5689 Fix `Enter` key handling for delete confirmation button
  frontend/src/components/editor/cell/PendingDeleteConfirmation.tsx
Labels: bug

#5691 fix: save button in multi-col notebooks lighting up
  frontend/src/core/cells/__tests__/utils.test.ts
  frontend/src/core/cells/cells.ts
Labels: bug

#5695 Hide vim cursor(s) when in command mode
  frontend/src/core/codemirror/vim/cursor-visibility.ts
Labels: bug, includes-media

#5696 Add Command Mode documentation
  docs/guides/editor_features/overview.md
Labels: documentation

#5688 Auto sync deps before running pnpm run/exec
  Makefile
  pnpm-workspace.yaml
Labels: internal

#5674 fix: better support for geopandas in mo.ui.dataframe and table
  marimo/_plugins/ui/_impl/tables/ibis_table.py
  marimo/_plugins/ui/_impl/tables/pandas_table.py
  marimo/_plugins/ui/_impl/tables/polars_table.py
  marimo/_smoke_tests/third_party/pandas/transform_edgecases.py
Labels: bug, merge when ready

#5703 fix: add more time types for duckdb
  marimo/_data/get_datasets.py
  tests/_data/test_get_datasets.py
Labels: merge when ready

#5690 Properly focus (and unfocus) multi-cell delete confirmation
  frontend/src/components/editor/navigation/multi-cell-action-toolbar.tsx
  frontend/src/components/editor/navigation/navigation.ts
Labels: enhancement, merge when ready, bash-focus

#5693 improvement: add param to show dtypes in table header
  frontend/src/plugins/impl/DataTablePlugin.tsx
  frontend/src/plugins/impl/data-frames/DataFramePlugin.tsx
  marimo/_plugins/ui/_impl/table.py
Labels: enhancement, merge when ready

#5730 Add hotkey to toggle minimap (`Mod-Shift-i`)
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
  frontend/src/core/hotkeys/hotkeys.ts
Labels: enhancement

#5729 docs: remove dead link
  mkdocs.yml
Labels: documentation

#5732 Ensure cell connections render above unselected cells in minimap
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
Labels: bug

#5728 Add deployment doc on how to schedule marimo
  docs/guides/deploying/scheduled.md
  mkdocs.yml
Labels: documentation, enhancement

#5737 Add "Understanding dataflow" user guide
  docs/_static/docs-debugging-minimap.mp4
  docs/_static/docs-debugging-minimap.webm
  docs/_static/docs-dependency-explorer.jpg
  docs/_static/docs-dependency-explorer.webp
  docs/_static/docs-dependency-graph.png
  docs/_static/docs-minimap.mp4
  docs/_static/docs-minimap.webm
  docs/_static/docs-reactive-reference-highlighting.jpg
  docs/_static/docs-reactive-reference-highlighting.webp
  docs/_static/docs-variables-panel.jpg
  docs/_static/docs-variables-panel.webp
  docs/getting_started/key_concepts.md
  docs/guides/editor_features/dataflow.md
  docs/guides/editor_features/hotkeys.md
  docs/guides/editor_features/index.md
  docs/guides/editor_features/overview.md
  docs/guides/reactivity.md
  docs/guides/troubleshooting.md
  mkdocs.yml
Labels: documentation

#5734 Remove global `hatch` CLI as required development dependency
  .github/workflows/dev-release.yml
  .github/workflows/marimo-bot.yml
  .github/workflows/release-marimo-base.yml
  .github/workflows/release.yml
  .github/workflows/test_be.yaml
  .github/workflows/test_cli.yaml
  Makefile
Labels: internal

#5618 feat: interactive key completion
  marimo/_runtime/complete.py
  tests/_runtime/test_complete.py
Labels: enhancement, release-highlight, bash-focus

#5754 Deemphasize unreferenceable cells in minimap when no cell is selected
  frontend/src/components/editor/chrome/wrapper/minimap-state.ts
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
Labels: bug

#5742 fix: allow marimo to open the markdown file format over http
  marimo/_cli/file_path.py
  tests/_cli/test_file_path.py
Labels: bug

#5757 Don't persist minimap state open/closed state between page reloads
  frontend/src/components/editor/chrome/state.ts
  frontend/src/components/editor/chrome/wrapper/footer-items/minimap-status.tsx
  frontend/src/components/editor/chrome/wrapper/minimap-state.ts
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
Labels: enhancement

#5763 fix: change columns in place and add tests
  marimo/_plugins/ui/_impl/dataframes/dataframe.py
  marimo/_plugins/ui/_impl/dataframes/transforms/print_code.py
  tests/_plugins/ui/_impl/dataframes/test_print_code.py
Labels: bug

#5784 chore: remove tests examples
  .github/workflows/test_cli.yaml
Labels: internal

#5785 fix: better jupyter widget warning for unsupported
  frontend/src/components/editor/Output.tsx
  marimo/_messaging/mimetypes.py
  marimo/_schemas/generated/session.yaml
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  packages/openapi/src/session.ts
Labels: bash-focus

#5794 Use explicit `uv run` for dev build script in CI
  .github/workflows/dev-release.yml
  .github/workflows/marimo-bot.yml
  .github/workflows/release-marimo-base.yml
Labels: internal

#5789 fix: copy-paste cell mime-type
  frontend/src/__mocks__/common.ts
  frontend/src/components/editor/navigation/__tests__/clipboard.test.ts
  frontend/src/components/editor/navigation/clipboard.ts
Labels: bug, merge when ready

#5791 fix: better icon caching
  frontend/src/assets/circle-check.ico
  frontend/src/assets/circle-play.ico
  frontend/src/assets/circle-x.ico
  frontend/src/assets/icon-16x16.png
  frontend/src/assets/icon-32x32.png
  frontend/src/components/editor/__tests__/dynamic-favicon.test.tsx
  frontend/src/components/editor/dynamic-favicon.tsx
  frontend/src/components/editor/file-tree/file-explorer.tsx
  frontend/src/components/pages/run-page.tsx
  marimo/_server/api/endpoints/assets.py
Labels: enhancement

#5798 Migrate LSP from `@sourcegraph/vscode-ws-jsonrpc` to `vscode-ws-jsonrpc`
  packages/lsp/index.ts
  packages/lsp/package.json
  pnpm-lock.yaml
Labels: enhancement

#5788 docs: fix file upload docs
  docs/api/inputs/file.md
  marimo/_plugins/ui/_impl/input.py
Labels: documentation

#5686 Prevent accidental overwrites and converter for non-marimo Python scripts
  marimo/_ast/load.py
  marimo/_ast/parse.py
  marimo/_cli/cli.py
  marimo/_cli/convert/commands.py
  marimo/_cli/file_path.py
  marimo/_convert/converters.py
  marimo/_convert/non_marimo_python_script.py
  pyproject.toml
  tests/_ast/codegen_data/test_get_codes_non_marimo_python_script.py
  tests/_ast/test_load.py
  tests/_cli/snapshots/python_script_no_main_to_marimo.txt
  tests/_cli/snapshots/python_script_to_marimo.txt
  tests/_cli/test_cli_convert.py
  tests/_convert/snapshots/minimal_script.py.txt
  tests/_convert/snapshots/pypercent_format.py.txt
  tests/_convert/snapshots/pypercent_markdown_only.py.txt
  tests/_convert/snapshots/pypercent_with_main.py.txt
  tests/_convert/snapshots/simple_script.py.txt
  tests/_convert/test_convert_non_marimo_python_script.py
Labels: enhancement, bash-focus

#5811 ci: fix typecheck
  pyproject.toml
  tests/_pyodide/test_bootstrap.py
Labels: internal

#5810 fix flaky wasm test
  frontend/src/core/wasm/utils.ts
Labels: internal

#5786 improvement: add duckdb dialect for codemirror
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/language/extension.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/README.md
  frontend/src/core/codemirror/language/languages/sql-dialects/duckdb.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/spec_duckdb.py
  frontend/src/core/codemirror/language/languages/sql.ts
  frontend/src/core/codemirror/language/panel/panel.tsx
Labels: enhancement

#5815 Require `Shift+Escape` to enter command mode with vim keybindings
  frontend/src/components/editor/controls/keyboard-shortcuts.tsx
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/codemirror/keymaps/vim.ts
Labels: enhancement, breaking

#5759 Fix cell movement shortcuts on non-Mac keyboards
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/core/hotkeys/shortcuts.ts
Labels: bug

#5826 don't show sql bottom panel when cell is hidden
  frontend/src/components/editor/cell/code/cell-editor.tsx
Labels: bug

#5837 Change vim mode command entry from `Shift+Escape` to `Ctrl/Cmd+Escape`
  docs/guides/editor_features/overview.md
  frontend/src/components/editor/controls/keyboard-shortcuts.tsx
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
Labels: documentation

#5841 Fix missing `!pip` transform in notebook converter
  marimo/_convert/ipynb.py
  scripts/generate_ipynb_fixtures.py
  tests/_convert/ipynb_data/pip_commands.ipynb
  tests/_convert/snapshots/convert_pip_commands.py.txt
Labels: bug

#5829 style: set combobox to truncate
  frontend/src/components/ui/combobox.tsx
  frontend/src/plugins/impl/SearchableSelect.tsx
  frontend/src/plugins/impl/data-frames/forms/__tests__/__snapshots__/form.test.tsx.snap
Labels: bug, merge when ready

#5851 Make reusable cell link only clickable on text, not entire block
  frontend/src/components/editor/Cell.tsx
Labels: bug

#4638 marimo-snippets on dataframe page
  docs/guides/working_with_data/dataframes.md
Labels: documentation
