Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

use cached value
  marimo/_ast/visitor.py
Owners: @dmadisetti

comment
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

simplify func and add test
  marimo/_ast/sql_visitor.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

update to set
  marimo/_ast/visitor.py
  tests/_ast/test_sql_visitor.py
Owners: @dmadisetti

typecheck
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

filter non-identifiers
  marimo/_ast/codegen.py
  tests/_ast/test_codegen.py
Owners: @dmadisetti

refactor and add tests
  marimo/_ast/sql_visitor.py
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

get fully qualified name in sql refs
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  tests/_ast/test_sql_visitor.py
  tests/_runtime/test_dataflow.py
Owners: @dmadisetti

prune wip
  marimo/_ast/sql_visitor.py
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow.py
Owners: @dmadisetti

check for valid refs
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  tests/_ast/test_sql_visitor.py
Owners: @dmadisetti

rework sql refs and add to defining logic
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  tests/_ast/test_sql_visitor.py
  tests/_runtime/test_dataflow.py
Owners: @dmadisetti

cleaner names
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

update sql_visitor
  marimo/_ast/sql_visitor.py
Owners: @dmadisetti

add comment
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

remove tests
  tests/_runtime/test_dataflow.py
Owners: none

remove isidentifier and add todo
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
Owners: @dmadisetti

add back type
  marimo/_ast/sql_visitor.py
Owners: @dmadisetti

add ref metadata to cell
  marimo/_ast/cell.py
  marimo/_ast/compiler.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

fix test
  tests/_ast/test_sql_visitor.py
Owners: none

feat: add chalk-diagrams as auto install
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

fix
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
Owners: @manzt, @light2dark

fix tests again
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
Owners: @manzt, @light2dark

Add "Notebook Errors" as a context in any AI input (#6158)
  frontend/src/__mocks__/notebook.ts
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/__tests__/utils.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/error.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/providers/error.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/utils.ts
  frontend/src/core/cells/cells.ts
  marimo/_server/ai/prompts.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/snapshots/chat_system_prompts.txt
  tests/_server/ai/snapshots/system_prompts.txt
  tests/_server/ai/test_prompts.py
Owners: @manzt, @light2dark

cleanup
  marimo/_ast/cell.py
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  marimo/_utils/timer.py
Owners: @dmadisetti

add a dot check
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

fix: remove unecessary work in scoped state (#6160)
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/components/editor/navigation/state.ts
Owners: @manzt, @light2dark

fix: _repr_mimebundle_ for img and tuple outputs
  docs/guides/integrating_with_marimo/displaying_objects.md
  marimo/_output/formatters/repr_formatters.py
  marimo/_smoke_tests/ipython/img_mimebundle.py
  tests/_output/formatters/test_formatters.py
Owners: @akshayka

Resolve CSS path issues in islands build
  frontend/src/core/islands/islands.css
  frontend/src/core/islands/main.ts
Owners: @manzt, @light2dark

Resolve CSS path issues in islands build (#6166)
  frontend/src/core/islands/islands.css
  frontend/src/core/islands/main.ts
Owners: @manzt, @light2dark

tidy: minor refactor to avoid string comparison bugs
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  tests/_ast/test_sql_visitor.py
Owners: @dmadisetti

small refactor
  marimo/_ast/cell.py
  marimo/_ast/compiler.py
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

test: addition, adjustment, cleanup
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: none

merge res
  marimo/_ast/cell.py
  marimo/_ast/compiler.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

update: chalk -> chalk-diagrams (#6164)
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

fix: typefix from merge
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

fix: get fully qualified name in sql refs (#5992)
  marimo/_ast/cell.py
  marimo/_ast/codegen.py
  marimo/_ast/compiler.py
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  marimo/_utils/timer.py
  tests/_ast/test_codegen.py
  tests/_ast/test_sql_visitor.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

fix: multiple definitions in sql vs python
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

fix: solve missing tests
  marimo/_ast/sql_visitor.py
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

typing: harden variable types
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

test: check ordering does not cause issues
  tests/_runtime/test_dataflow_cases.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
