Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

feat: add smart limits and file count display to ui.file_browser (#5882)
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
  marimo/_plugins/ui/_impl/file_browser.py
  tests/_plugins/ui/_impl/test_file_browser.py
Owners: @manzt, @light2dark

renamed ibis formatter test file
  tests/_output/formatters/test_ibis_formatters.py
Owners: none

feat: editable columns in data editor (#5848)
  frontend/src/plugins/impl/DataEditorPlugin.tsx
  frontend/src/plugins/impl/data-editor/__tests__/glide-utils.test.ts
  frontend/src/plugins/impl/data-editor/glide-data-editor.tsx
  frontend/src/plugins/impl/data-editor/glide-utils.ts
  frontend/src/plugins/impl/data-editor/types.ts
  marimo/_plugins/ui/_impl/data_editor.py
  tests/_plugins/ui/_impl/test_data_editor.py
Owners: @manzt, @light2dark

Make specialized hooks and add finalizer to avoid memory leaks
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/cell/cell-context-menu.tsx
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
  frontend/src/core/cells/__tests__/cells.test.ts
  frontend/src/core/cells/cells.ts
Owners: @manzt, @light2dark

fix typecheck
  marimo/_output/formatters/df_formatters.py
Owners: none

Apply nits
  frontend/src/components/editor/Cell.tsx
Owners: @manzt, @light2dark

fix(mcp): disconnect server fix and tests (#5877)
  marimo/_server/ai/mcp.py
  marimo/_server/api/lifespans.py
  tests/_server/ai/test_mcp.py
Owners: none

Refactor `CellArray`/`Cell` to use atom-based state management (#5897)
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/__tests__/data-attributes.test.tsx
  frontend/src/components/editor/cell/cell-context-menu.tsx
  frontend/src/components/editor/chrome/wrapper/minimap-state.ts
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/cells/__tests__/cells.test.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/edit-app.tsx
  frontend/src/stories/cell.stories.tsx
Owners: @manzt, @light2dark

Refactor pending delete service with reducer pattern
  frontend/src/core/cells/pending-delete-service.ts
Owners: @manzt, @light2dark

comments: rename + clarity
  marimo/_cli/cli.py
Owners: none

comments: help string
  marimo/_cli/cli.py
Owners: none

Fix `__file__` in embedded notebooks
  marimo/_ast/app.py
  marimo/_runtime/app/kernel_runner.py
  tests/_ast/test_app.py
Owners: @dmadisetti

fix: patch up #5854 (#5867)
  marimo/_ast/app.py
  marimo/_runtime/runtime.py
  tests/_ast/app_data/notebook_filename.py
  tests/_ast/test_app.py
Owners: @dmadisetti

Assert file is NOT `None`
  tests/_runtime/test_runtime.py
Owners: none

Fix windows test failures in `test_app.py`
  tests/_ast/test_app.py
  tests/conftest.py
Owners: none

fix: skip mcp requirements if no tools are enabled
  marimo/_server/ai/tools.py
Owners: none

Fix `__file__` in embedded notebooks (#5854)
  marimo/_ast/app.py
  marimo/_runtime/app/kernel_runner.py
  marimo/_runtime/runtime.py
  tests/_ast/app_data/notebook_filename.py
  tests/_ast/test_app.py
  tests/_runtime/test_runtime.py
  tests/conftest.py
Owners: @dmadisetti

Refactor pending delete service with reducer pattern (#5900)
  frontend/src/core/cells/pending-delete-service.ts
Owners: @manzt, @light2dark

Add right types
  marimo/_plugins/ui/_impl/from_anywidget.py
Owners: none

fix: skip mcp requirements if no tools are enabled (#5902)
  marimo/_server/ai/tools.py
Owners: none

Fix Windows multiprocessing test hanging after pytest path fix
  tests/conftest.py
Owners: none

Add all contributors to release notes
  scripts/generate_release_notes.py
Owners: none

Fix Windows multiprocessing test hanging after pytest path fix (#5903)
  tests/conftest.py
Owners: none

Find first directory parent for __file__ in `mo.notebook_dir`
  marimo/_runtime/runtime.py
  tests/conftest.py
Owners: @dmadisetti

Extract into separate helper for typechecking
  marimo/_output/formatters/plotly_formatters.py
Owners: none

Forward config parameter from plotly `fig.show()`
  marimo/_output/formatters/plotly_formatters.py
Owners: none

Add test for plotly config parameter forwarding
  pyproject.toml
  tests/_output/formatters/test_plotly_formatters.py
Owners: @akshayka

Add len method to WeakCache
  marimo/_plugins/ui/_impl/from_anywidget.py
Owners: none

Make private global variable cache
  marimo/_plugins/ui/_impl/from_anywidget.py
Owners: none

Add generic types
  marimo/_plugins/ui/_impl/from_anywidget.py
Owners: none

Add test of WeakCache
  tests/_plugins/ui/_impl/test_anywidget.py
Owners: none

Find first directory parent for `__file__` in `mo.notebook_dir` (#5906)
  marimo/_runtime/runtime.py
  tests/conftest.py
Owners: @dmadisetti

fix: External decorators in the case of wrapped functions now work #5873 (#5876)
  marimo/_runtime/primitives.py
  marimo/_save/hash.py
  tests/_runtime/test_primitives.py
  tests/_save/test_hash.py
Owners: @dmadisetti

test: additional testing for wrapped functions
  marimo/_ast/names.py
  marimo/_ast/toplevel.py
  marimo/_runtime/primitives.py
  marimo/_save/hash.py
  marimo/_save/save.py
  marimo/_save/toplevel.py
  tests/_runtime/test_primitives.py
  tests/_save/external_decorators/module_0/__init__.py
  tests/_save/external_decorators/module_1/__init__.py
  tests/_save/external_decorators/transitive_imports.py
  tests/_save/external_decorators/transitive_wrappers_1.py
  tests/_save/external_decorators/transitive_wrappers_2.py
  tests/_save/test_decorator_imports.py
  tests/_save/test_external_decorators.py
  tests/_save/test_hash.py
Owners: @dmadisetti

fix: detect is_marimo_lib in a more sophisticated manner
  marimo/_ast/names.py
  marimo/_ast/toplevel.py
  marimo/_runtime/primitives.py
  marimo/_runtime/runner/hooks_post_execution.py
  marimo/_save/hash.py
  marimo/_save/save.py
  marimo/_save/toplevel.py
  tests/_ast/test_toplevel.py
Owners: @dmadisetti

Ensure output dir is empty for dev release
  .github/workflows/dev-release.yml
Owners: @mscolnick, @manzt

Forward config parameter from plotly `fig.show()` (#5880)
  marimo/_output/formatters/plotly_formatters.py
  pyproject.toml
  tests/_output/formatters/test_plotly_formatters.py
Owners: @akshayka

return type
  marimo/_output/formatting.py
Owners: none

remove mocking for tests
  marimo/_output/formatters/ai_formatters.py
  marimo/_output/formatting.py
  tests/_output/formatters/test_ai_formatters.py
Owners: none

fix: opinionated formatters work on subclasses. improve searching perf for formatters
  marimo/_output/formatting.py
  marimo/_runtime/app/script_runner.py
  tests/_output/test_formatter_registry.py
Owners: @dmadisetti

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
