Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

Improved model order (#6146)
  packages/llm-info/data/models.yml
Owners: none

Set observer for VsCode theme in `useTheme`
  frontend/src/theme/useTheme.ts
Owners: @manzt, @light2dark

Set observer for VsCode theme in `useTheme` (#6149)
  frontend/src/theme/useTheme.ts
Owners: @manzt, @light2dark

show label only with icon
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Owners: @manzt, @light2dark

loosen typings for experimental config on the backend (#6138)
  marimo/_config/config.py
  marimo/_config/manager.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_utils/test_parse_dataclass.py
Owners: none

test: fix --sandbox tests
  .github/workflows/test_cli.yaml
Owners: @mscolnick, @manzt

fix filter
  .github/workflows/test_cli.yaml
Owners: @mscolnick, @manzt

dont run convert in a sandbox
  .github/workflows/test_cli.yaml
  tests/_cli/test_cli.py
Owners: @mscolnick, @manzt

Simplify marimo installation and test CLI command
  .github/workflows/test_cli.yaml
Owners: @mscolnick, @manzt

test: fix --sandbox tests (#6150)
  .github/workflows/test_cli.yaml
  tests/_cli/test_cli.py
Owners: @mscolnick, @manzt

improvement: handle errors in stream responses
  marimo/_ai/_convert.py
  marimo/_server/api/endpoints/ai.py
  tests/_ai/test_chat_convert.py
Owners: none

handle text only
  marimo/_server/api/endpoints/ai.py
Owners: none

flip
  marimo/_server/api/endpoints/ai.py
Owners: none

types: pin narwhals in typecheck
  pyproject.toml
Owners: @akshayka

perf: start LSP and MCP in the background, avoid repetitive io reads (#6142)
  marimo/_config/manager.py
  marimo/_config/utils.py
  marimo/_runtime/context/script_context.py
  marimo/_server/api/endpoints/config.py
  marimo/_server/api/lifespans.py
  marimo/_server/lsp.py
  marimo/_server/sessions.py
  marimo/_utils/timer.py
  tests/_config/test_config_utils.py
  tests/_server/test_lsp.py
Owners: @dmadisetti

types: pin narwhals in typecheck (#6155)
  pyproject.toml
Owners: @akshayka

poc: claude code provider
  marimo/_config/config.py
  marimo/_dependencies/dependencies.py
  marimo/_server/ai/providers.py
Owners: none

improvement: store previous prompts in local storage. cycle through with up/down arrow
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Owners: @manzt, @light2dark

Revise stream protocol documentation link
  marimo/_ai/_convert.py
Owners: none

fix: use 'uv tree' to list packages if available (#6136)
  marimo/_runtime/packages/pypi_package_manager.py
  tests/_runtime/packages/test_pypi_package_manager.py
Owners: @dmadisetti

improvement: handle errors in stream responses (#6153)
  marimo/_ai/_convert.py
  marimo/_server/api/endpoints/ai.py
  tests/_ai/test_chat_convert.py
Owners: none

Update language links in README_Traditional_Chinese.md (#6126)
  README_Traditional_Chinese.md
Owners: none

Add "Notebook Errors" as a context in any AI input
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/providers/error.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/utils.ts
  frontend/src/core/cells/cells.ts
  marimo/_server/ai/prompts.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/snapshots/chat_system_prompts.txt
  tests/_server/ai/snapshots/system_prompts.txt
  tests/_server/ai/test_prompts.py
Owners: @manzt, @light2dark

Update frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
Owners: @manzt, @light2dark

tests
  frontend/src/__mocks__/notebook.ts
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/__tests__/utils.test.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/error.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
Owners: @manzt, @light2dark

improvement: store previous prompts in local storage. cycle through with up/down arrow (#6157)
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Owners: @manzt, @light2dark

fix
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
Owners: @manzt, @light2dark

Handle missing `DOMParser` global for VSCode extension
  frontend/src/core/dom/outline.ts
Owners: @manzt, @light2dark

fix: remove unecessary work in scoped state
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/components/editor/navigation/state.ts
Owners: @manzt, @light2dark

lint
  frontend/src/core/ai/context/providers/error.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/utils.ts
  marimo/_server/ai/prompts.py
  tests/_server/ai/snapshots/chat_system_prompts.txt
  tests/_server/ai/snapshots/system_prompts.txt
Owners: @manzt, @light2dark

Handle missing `DOMParser` global for VSCode extension (#6161)
  frontend/src/core/dom/outline.ts
Owners: @manzt, @light2dark

update
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/core/ai/context/__tests__/utils.test.ts
  frontend/src/core/ai/context/utils.ts
Owners: @manzt, @light2dark

tidy: sort deps
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

comment
  marimo/_ast/visitor.py
Owners: @dmadisetti

add comment
  marimo/_ast/codegen.py
  marimo/_ast/sql_visitor.py
Owners: @dmadisetti

simplify function
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  tests/_ast/test_sql_visitor.py
Owners: @dmadisetti

cleanup and add more test cases
  marimo/_ast/sql_visitor.py
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

remove condition
  marimo/_ast/visitor.py
Owners: @dmadisetti

add test cases
  marimo/_ast/sql_visitor.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

add failing test
  tests/_runtime/test_dataflow.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
