Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

comment
  frontend/src/components/editor/navigation/navigation.ts
Owners: @manzt, @light2dark

change to lock icon and darken bg on lock
  frontend/src/plugins/impl/data-editor/glide-data-editor.tsx
Owners: @manzt, @light2dark

Formatting
  tests/_ast/test_app.py
Owners: none

marimo-snippets on dataframe page (#4638)
  docs/guides/working_with_data/dataframes.md
Owners: @akshayka

Fix `__file__` in embedded notebooks
  marimo/_ast/app.py
  marimo/_runtime/app/kernel_runner.py
  tests/_ast/test_app.py
Owners: @dmadisetti

Robust handling of Unbound expressions
  marimo/_output/formatters/df_formatters.py
Owners: none

Add section about pythonpath
  docs/guides/configuration/runtime_configuration.md
  docs/guides/package_management/notebooks_in_projects.md
Owners: @akshayka

Remove optional arguments
  marimo/_ast/app.py
Owners: @dmadisetti

tests: Add tests for failing transitive case
  tests/_runtime/test_primitives.py
  tests/_save/decorator_imports/module_0/__init__.py
  tests/_save/decorator_imports/module_1/__init__.py
  tests/_save/decorator_imports/transitive_imports.py
  tests/_save/test_decorator_imports.py
Owners: none

fix: initial fix attempt for transitive import errors
  marimo/_save/hash.py
Owners: @dmadisetti

fix: handle scoping in external modules correctly
  marimo/_save/hash.py
  marimo/_save/save.py
  tests/_save/decorator_imports/transitive_imports.py
  tests/_save/test_cache.py
  tests/_save/test_decorator_imports.py
Owners: @dmadisetti

nit: removed unrelated tests
  tests/_runtime/test_primitives.py
Owners: none

test: added kernel test + fix
  marimo/_save/hash.py
  tests/_save/test_decorator_imports.py
Owners: @dmadisetti

test: migrate mre
  tests/_ast/test_app.py
Owners: none

test: kernel runner gets file too
  marimo/_ast/app.py
  marimo/_runtime/runtime.py
  tests/_ast/test_app.py
Owners: @dmadisetti

test: missing app_date
  tests/_ast/app_data/notebook_filename.py
Owners: none

fix: top-level cache decorator with additional deps (#5862)
  marimo/_save/hash.py
  marimo/_save/save.py
  tests/_save/decorator_imports/module_0/__init__.py
  tests/_save/decorator_imports/module_1/__init__.py
  tests/_save/decorator_imports/transitive_imports.py
  tests/_save/test_cache.py
  tests/_save/test_decorator_imports.py
Owners: @dmadisetti

revert: unrevert #5758
  marimo/_runtime/primitives.py
  marimo/_save/hash.py
  tests/_runtime/test_primitives.py
  tests/_save/test_hash.py
Owners: @dmadisetti

tests: Add tests for external decorator case of wrapped functions
  tests/_save/decorator_imports/transitive_wrappers_1.py
  tests/_save/decorator_imports/transitive_wrappers_2.py
  tests/_save/test_decorator_imports.py
  tests/_save/test_external_decorators.py
  tests/_save/test_hash.py
Owners: none

add fallback to csv
  frontend/src/plugins/impl/DataTablePlugin.tsx
  marimo/_plugins/ui/_impl/table.py
Owners: @manzt, @light2dark

rewrote the ibis formatters to use use base types
  marimo/_output/formatters/df_formatters.py
Owners: none

fix test and upgrade polars
  marimo/_plugins/ui/_impl/tables/polars_table.py
  pyproject.toml
  tests/_plugins/ui/_impl/tables/test_polars_table.py
Owners: @akshayka

Refactor IbisFormatter to improve display mode handling and simplify expression formatting
  marimo/_output/formatters/df_formatters.py
Owners: none

fix rendering of sql for unbound tables
  marimo/_output/formatters/df_formatters.py
Owners: none

docstring fixes
  marimo/_output/formatters/df_formatters.py
Owners: none

Clear selection or autocomplete popup first before exiting to command mode (#5849)
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
Owners: @manzt, @light2dark

release: 0.14.16
  pyproject.toml
Owners: @akshayka

fix: add fallback to csv for col summaries (#5871)
  frontend/src/plugins/impl/DataTablePlugin.tsx
  marimo/_plugins/ui/_impl/table.py
  marimo/_plugins/ui/_impl/tables/polars_table.py
  pyproject.toml
  tests/_plugins/ui/_impl/tables/test_polars_table.py
Owners: @manzt, @light2dark, @akshayka

tests: find and replace navigation
  frontend/src/core/codemirror/completion/keymap.ts
  frontend/src/core/codemirror/find-replace/__tests__/navigate.test.ts
Owners: @manzt, @light2dark

fix: get tests passing
  marimo/_ast/toplevel.py
  marimo/_runtime/primitives.py
  marimo/_save/hash.py
  marimo/_save/save.py
  tests/_save/test_external_decorators.py
Owners: @dmadisetti

fix: missing file
  marimo/_save/toplevel.py
Owners: @dmadisetti

null fixes and checks
  frontend/src/components/data-table/column-summary/chart-spec-model.tsx
  frontend/src/plugins/impl/DataTablePlugin.tsx
  marimo/_plugins/ui/_impl/table.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @manzt, @light2dark

rename: rename data directory
  tests/_save/external_decorators/module_0/__init__.py
  tests/_save/external_decorators/module_1/__init__.py
  tests/_save/external_decorators/transitive_imports.py
  tests/_save/external_decorators/transitive_wrappers_1.py
  tests/_save/external_decorators/transitive_wrappers_2.py
  tests/_save/test_external_decorators.py
Owners: none

cleanup: consolidate magics
  marimo/_ast/names.py
  marimo/_save/save.py
  marimo/_save/toplevel.py
  tests/_save/external_decorators/transitive_imports.py
  tests/_save/external_decorators/transitive_wrappers_1.py
  tests/_save/external_decorators/transitive_wrappers_2.py
  tests/_save/test_external_decorators.py
Owners: @dmadisetti

tests: find and replace navigation (#5872)
  frontend/src/core/codemirror/completion/keymap.ts
  frontend/src/core/codemirror/find-replace/__tests__/navigate.test.ts
Owners: @manzt, @light2dark

fix: performant charts doesn't show stats (#5874)
  frontend/src/components/data-table/column-summary/chart-spec-model.tsx
  frontend/src/plugins/impl/DataTablePlugin.tsx
  marimo/_plugins/ui/_impl/table.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @manzt, @light2dark

Update mcp disconnection strategy to use the same task for connection and disconnection of a server
  marimo/_server/ai/mcp.py
Owners: none

Add disconnect_to_all_servers after yield to handle cleanup of mcp servers
  marimo/_server/api/lifespans.py
Owners: none

Add server disconnection tests
  tests/_server/ai/test_mcp.py
Owners: none

Document working with marimo notebooks in existing projects (#5839)
  docs/guides/configuration/runtime_configuration.md
  docs/guides/package_management/index.md
  docs/guides/package_management/notebooks_in_projects.md
  mkdocs.yml
Owners: @akshayka
