Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

Normalize theme helpers
  frontend/src/components/editor/header/filename-input.css
  frontend/src/components/editor/renderers/vertical-layout/vertical-layout-wrapper.tsx
  frontend/src/components/editor/renderers/vertical-layout/vertical-layout.tsx
  frontend/src/css/app/Cell.css
Owners: @manzt, @light2dark

More stylelint fixes
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

Fixup false positive `blur-sm` and `outline-small` replacements
  frontend/src/core/cells/__tests__/focus.test.ts
  frontend/src/core/cells/__tests__/session.test.ts
  frontend/src/core/codemirror/go-to-definition/underline.ts
  frontend/src/core/dom/__tests__/outline.test.ts
  frontend/src/core/dom/outline.ts
Owners: @manzt, @light2dark

Update testing snapshots
  frontend/src/plugins/impl/data-frames/forms/__tests__/__snapshots__/form.test.tsx.snap
Owners: @manzt, @light2dark

Remove injected tailwind header in `globals.css`
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

Disable conflicting biome formatting rule
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

Clear out unused content-width directives
  frontend/tailwind.config.cjs
Owners: none

Fix control spacing in Tailwind v4
  frontend/src/components/editor/controls/Controls.tsx
Owners: @manzt, @light2dark

Keep box-shadow CSS definitions on single lines
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

update
  frontend/package.json
  frontend/src/core/ai/context/registry.ts
Owners: @mscolnick, @manzt, @light2dark

Keep box-shadow CSS definitions on single lines (#5985)
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

use tw
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/codemirror/completion/variable-completions.ts
Owners: @manzt, @light2dark

improvement: AI context registry + codemirror decorated resources (#5962)
  frontend/package.json
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/components/editor/ai/completions.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/__tests__/variable.test.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/codemirror/ai/resources.ts
  frontend/src/core/codemirror/completion/variable-completions.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

update polars and revert test changes
  pyproject.toml
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @akshayka

fix ibis get_databases test that failed
  tests/_sql/test_get_engines.py
Owners: none

support certain formats
  frontend/src/components/data-table/columns.tsx
  frontend/src/utils/__tests__/dates.test.ts
  frontend/src/utils/dates.ts
Owners: @manzt, @light2dark

only form datetime when value.length > 12
  frontend/src/components/data-table/columns.tsx
Owners: @manzt, @light2dark

fix: allow builtin functions to be hashed for cache
  marimo/_save/hash.py
  tests/_save/test_hash.py
Owners: @dmadisetti

tidy: ruff
  tests/_save/test_hash.py
Owners: none

fix: keep object references
  marimo/_save/cache.py
  tests/_save/test_cache.py
Owners: @dmadisetti

Update pyodide
  frontend/package.json
  pnpm-lock.yaml
Owners: @mscolnick, @manzt

chore: update polars and revert test changes (#5987)
  pyproject.toml
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @akshayka

feat: ibis catalogs (#5978)
  marimo/_smoke_tests/sql/ibis_backend_catalog.py
  marimo/_sql/engines/ibis.py
  tests/_sql/test_get_engines.py
  tests/_sql/test_ibis.py
Owners: @light2dark

fix: allow builtin functions to be hashed for cache (#5994)
  marimo/_save/hash.py
  tests/_save/test_hash.py
Owners: @dmadisetti

example: shiny
  examples/frameworks/shiny/main.py
Owners: @akshayka

chore: remove dead code
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/__tests__/variable.test.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/registry.ts
Owners: @manzt, @light2dark

fix: pandas convert non-string columns to string columns
  marimo/_data/preview_column.py
  marimo/_output/data/data.py
  marimo/_plugins/ui/_impl/tables/pandas_table.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  tests/_output/test_data.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @light2dark

chore: remove dead code (#5997)
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/__tests__/variable.test.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/registry.ts
Owners: @manzt, @light2dark

fix tests
  tests/_plugins/ui/_impl/dataframes/test_dataframe.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
Owners: none

remove clamp columns
  marimo/_plugins/ui/_impl/tables/table_manager.py
Owners: none

Clear out dead code snapshots
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
Owners: @manzt, @light2dark

Clear out dead code snapshots (#6001)
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
Owners: @manzt, @light2dark

tests: Add an additional test to ensure references work
  marimo/_save/__init__.py
  marimo/_save/cache.py
  tests/_save/test_cache.py
  tests/conftest.py
Owners: @dmadisetti

Fix example shiny @cpsievert remarks
  examples/frameworks/shiny/README.md
  examples/frameworks/shiny/main.py
Owners: @akshayka

refactor so that each engine uses the same logic for returning df
  marimo/_sql/engines/clickhouse.py
  marimo/_sql/engines/dbapi.py
  marimo/_sql/engines/duckdb.py
  marimo/_sql/engines/ibis.py
  marimo/_sql/engines/sqlalchemy.py
  marimo/_sql/utils.py
Owners: @light2dark

fix: pandas convert non-string columns to string columns (#6000)
  marimo/_data/preview_column.py
  marimo/_output/data/data.py
  marimo/_plugins/ui/_impl/tables/pandas_table.py
  tests/_output/test_data.py
  tests/_plugins/ui/_impl/dataframes/test_dataframe.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @light2dark

improvement: use fully qualified model ids
  frontend/src/components/app-config/constants.ts
  frontend/src/components/app-config/incorrect-model-id.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/utils/ai/__tests__/ids.test.ts
  frontend/src/utils/ai/ids.ts
  marimo/_server/ai/ids.py
  marimo/_server/ai/providers.py
  tests/_server/ai/test_ai_ids.py
Owners: @manzt, @light2dark

types
  frontend/src/utils/ai/ids.ts
Owners: @manzt, @light2dark

fix: date rendering to support date formats (#5973)
  frontend/src/components/data-table/columns.tsx
  frontend/src/utils/__tests__/dates.test.ts
  frontend/src/utils/dates.ts
Owners: @manzt, @light2dark

release: 0.14.17
  pyproject.toml
Owners: @akshayka

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
