Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

chore(frontend#oso): expose `osoApiKey` in body
  frontend/src/core/codemirror/ai/request.ts
Owners: @manzt, @light2dark

fix: race condition
  marimo/_lint/context.py
Owners: none

fix(frontend#oso): set `osoApiKey` in `api/ai/completion` body
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/core/codemirror/ai/request.ts
Owners: @manzt, @light2dark

test: additional tests
  tests/_cli/test_lint_cli.py
  tests/_lint/snapshots/unparsable_cell_errors.txt
  tests/_lint/test_async_context_system.py
  tests/_lint/test_streaming_early_stopping.py
Owners: none

lint: mypy
  marimo/_ast/compiler.py
  marimo/_ast/load.py
  marimo/_ast/parse.py
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
  marimo/_lint/checker.py
  marimo/_lint/context.py
  marimo/_lint/diagnostic.py
  marimo/_lint/formatter.py
  marimo/_lint/rules/__init__.py
  marimo/_lint/rules/base.py
  marimo/_lint/rules/breaking/__init__.py
  marimo/_lint/rules/breaking/unparsable.py
  marimo/_lint/rules/formatting/__init__.py
  marimo/_lint/rules/formatting/general.py
  marimo/_lint/rules/runtime/__init__.py
  marimo/_lint/rules/runtime/graph.py
  tests/_lint/test_async_context_system.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_streaming_early_stopping.py
Owners: @dmadisetti

fix: cli test
  tests/_cli/test_check_cli.py
Owners: none

fix: rename file
  tests/_cli/test_cli_check.py
Owners: none

fix: tests
  tests/_runtime/test_runtime.py
Owners: none

use language as is
  frontend/src/plugins/impl/code/any-language-editor.tsx
Owners: @manzt, @light2dark

draft, needs session
  marimo/_server/ai/tools/backend_tools/data_tables.py
Owners: none

fix tools conversion (#6289)
  frontend/src/components/chat/chat-panel.tsx
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  tests/_ai/test_chat_convert.py
Owners: @manzt, @light2dark

add context ui and dropdown, small optimization ai dropdown
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/config.ts
Owners: @manzt, @light2dark

preview: agent sidebar (claude and gemini)
  frontend/package.json
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/chat/acp/__tests__/atoms.test.ts
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-panel.css
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/acp/common.tsx
  frontend/src/components/chat/acp/scroll-to-bottom-button.tsx
  frontend/src/components/chat/acp/session-tabs.tsx
  frontend/src/components/chat/acp/session.tsx
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/thread.tsx
  frontend/src/components/chat/acp/types.ts
  frontend/src/components/chat/acp/utils.ts
  frontend/src/components/chat/tool-call-accordion.tsx
  frontend/src/components/editor/chrome/types.ts
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
  frontend/src/core/config/feature-flag.tsx
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

Visibility for @ in Generate with AI, also add model dropdown (#6300)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/config.ts
Owners: @manzt, @light2dark

add test
  frontend/src/plugins/impl/code/__tests__/language.test.ts
  frontend/src/plugins/impl/code/any-language-editor.tsx
Owners: @manzt, @light2dark

Fix progress_bar.__iter__ type hint to return Iterator instead of Iterable (#6292)
  marimo/_plugins/stateless/status/_progress.py
Owners: none

add language test in codemirror (#6296)
  frontend/src/plugins/impl/code/__tests__/language.test.ts
  frontend/src/plugins/impl/code/any-language-editor.tsx
Owners: @manzt, @light2dark

Prefer `QueueType` annotation over concrete `queue.Queue` (#6290)
  marimo/_messaging/streams.py
  marimo/_runtime/runtime.py
  marimo/_runtime/win32_interrupt_handler.py
Owners: @dmadisetti

styling
  frontend/src/components/chat/acp/blocks.tsx
Owners: @manzt, @light2dark

connection docs
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-docs.tsx
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/thread.tsx
Owners: @manzt, @light2dark

fix: use Generic signature for progress_bar
  marimo/_plugins/stateless/status/_progress.py
Owners: none

fix: remove redundant int union in progress_bar type hints
  marimo/_plugins/stateless/status/_progress.py
Owners: none

fix: progress_bar iter with total but no collection
  marimo/_plugins/stateless/status/_progress.py
Owners: none

feat: Add overloads for progress_bar with iterator and total
  marimo/_plugins/stateless/status/_progress.py
Owners: none

test: progress_bar iterator without total raises RuntimeError
  tests/_plugins/stateless/status/test_progress.py
Owners: none

Add copyright banner to `marimo/_mcp/server/*`
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/lifespan.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
Owners: none

Add central tools for ai with base class and inheritance
  marimo/_ai/tools/base.py
  marimo/_ai/tools/tools/cells.py
  marimo/_ai/tools/tools/notebooks.py
  marimo/_ai/tools/types.py
  marimo/_ai/tools/utils/exceptions.py
Owners: none

Add copyright banner to `marimo/_mcp/server/*` (#6307)
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/lifespan.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
Owners: none

update _mcp to only handle registration of tools
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
Owners: none

fix CellVariableValue to accurately reflect possible values
  marimo/_ai/tools/types.py
Owners: none

update tests in _mcp to only test registration
  tests/_mcp/server/tools/test_cells.py
  tests/_mcp/server/tools/test_notebooks.py
  tests/_mcp/server/tools/test_registration_cells.py
  tests/_mcp/server/tools/test_registration_notebooks.py
Owners: none

add tests for new tools classes and base class
  tests/_ai/tools/test_base.py
  tests/_ai/tools/tools/test_cells.py
  tests/_ai/tools/tools/test_notebooks.py
Owners: none

fix skip to be on top of mcp imports to not break tests
  tests/_mcp/server/tools/test_registration_cells.py
  tests/_mcp/server/tools/test_registration_notebooks.py
Owners: none

feat: Allow debugy debugging in edit mode
  marimo/_ast/app.py
  marimo/_ast/cell_manager.py
  marimo/_ast/compiler.py
  marimo/_runtime/dataflow.py
  marimo/_runtime/runtime.py
  marimo/_smoke_tests/pdb_test.py
Owners: @dmadisetti

fix python 3.9 pydantic Literal issue
  marimo/_ai/tools/types.py
Owners: none

fix more literal type issues
  marimo/_ai/tools/types.py
Owners: none

fix Literal issue by adding version check with typing_extensions import, made runtime state an str
  marimo/_ai/tools/types.py
Owners: none

tests: sanity check that debugpy works
  tests/_ast/test_app.py
  tests/_ast/test_cell_manager.py
  tests/_ast/test_compiler.py
  tests/_runtime/test_dataflow.py
Owners: none

docs: debugging draft
  docs/guides/debugging.md
  marimo/_smoke_tests/pdb_test.py
Owners: @akshayka

docs: fleshed out details
  docs/guides/debugging.md
Owners: @akshayka

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
