Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

fix: only use max_completion_tokens on reasoning models (#6082)
  marimo/_server/ai/providers.py
  tests/_server/ai/test_providers.py
Owners: none

chore: update link to change custom models (#6084)
  frontend/src/components/ai/ai-model-dropdown.tsx
Owners: @manzt, @light2dark

add marimo icon as provider
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/core/ai/ids/ids.ts
  packages/llm-info/data/providers.yml
Owners: @manzt, @light2dark

Update config.py
  marimo/_utils/config/config.py
Owners: none

Update config.py
  marimo/_utils/config/config.py
Owners: none

convert duration to numeric
  marimo/_data/preview_column.py
  marimo/_server/ai/constants.py
  marimo/_server/ai/ids.py
  tests/_data/test_preview_column.py
Owners: @light2dark

handle seconds'
  marimo/_data/preview_column.py
Owners: @light2dark

add marimo icon as provider (#6086)
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/core/ai/ids/ids.ts
  packages/llm-info/data/providers.yml
Owners: @manzt, @light2dark

attempt: removing gc fixes errors locally
  tests/_plugins/stateless/test_lazy.py
Owners: none

feat: support -h flag for help in CLI
  marimo/_cli/cli.py
Owners: none

Use `Shift+Escape` for Command Mode on Windows with vim bindings (#6004)
  docs/guides/editor_features/overview.md
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/hotkeys/hotkeys.ts
Owners: @akshayka, @manzt, @light2dark

attempt: removing additional gc calls
  marimo/_runtime/functions.py
  tests/_plugins/stateless/test_routes.py
Owners: @dmadisetti

fix: clean up finder/module logic for recursion (#6075)
  marimo/_output/formatters/formatters.py
  marimo/_runtime/functions.py
  marimo/_runtime/patches.py
  tests/_output/formatters/test_formatters.py
  tests/_plugins/stateless/test_lazy.py
  tests/_plugins/stateless/test_routes.py
  tests/_runtime/test_patches.py
Owners: @dmadisetti

fix test
  tests/_data/test_preview_column.py
Owners: none

feat(cli): support -h flag for help in CLI (#6089)
  marimo/_cli/cli.py
Owners: none

Use descriptive link text instead of 'here'
  frontend/src/components/ai/ai-model-dropdown.tsx
Owners: @manzt, @light2dark

fix: No outline-solid -> No outline found
  frontend/src/components/editor/chrome/panels/outline-panel.tsx
Owners: @manzt, @light2dark

Use descriptive link text instead of 'here' (#6090)
  frontend/src/components/ai/ai-model-dropdown.tsx
Owners: @manzt, @light2dark

one more
  frontend/src/components/editor/chrome/panels/outline/useActiveOutline.tsx
Owners: @manzt, @light2dark

fix: No outline-solid -> No outline found (#6091)
  frontend/src/components/editor/chrome/panels/outline-panel.tsx
  frontend/src/components/editor/chrome/panels/outline/useActiveOutline.tsx
Owners: @manzt, @light2dark

improvement: add hotkeys to AI completion
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
Owners: @manzt, @light2dark

improvement: cleanup docs on mode dropdown
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

improvement: more leniant AI config, and more descriptive error
  marimo/_server/ai/config.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

fix args
  marimo/_server/ai/config.py
  tests/_server/ai/test_ai_config.py
Owners: none

preview: fix tools
  marimo/_server/ai/tools.py
Owners: none

Properly detect Linux platform for hotkeys
  frontend/e2e-tests/helper.ts
  frontend/src/core/hotkeys/__tests__/hotkeys.test.ts
  frontend/src/core/hotkeys/hotkeys.ts
  frontend/src/core/hotkeys/shortcuts.ts
Owners: @manzt, @light2dark

improvement: add hotkeys to AI completion (#6094)
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
Owners: @manzt, @light2dark

preview: fix tools feature flag name (#6097)
  marimo/_server/ai/tools.py
Owners: none

Update config.py. use relative path
  marimo/_utils/config/config.py
Owners: none

use class
  marimo/_cli/envinfo.py
  marimo/_config/config.py
  marimo/_config/manager.py
  marimo/_runtime/runtime.py
  marimo/_runtime/threads.py
  marimo/_save/stores/__init__.py
  tests/_server/api/endpoints/test_ws.py
Owners: @dmadisetti

improvement: cleanup docs on mode dropdown (#6095)
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

improvement: more lenient AI config, and more descriptive error (#6096)
  marimo/_server/ai/config.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

typecheck
  marimo/_utils/config/config.py
Owners: none

add to api commands
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_save/stores/__init__.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @dmadisetti

Using XDG_STATE_HOME environment variable to support the Linux XDG Base Directory (#6048)
  marimo/_utils/config/config.py
Owners: none

cleanup: xdg config commons and migrate utils to use Path
  marimo/_config/utils.py
  marimo/_loggers.py
  marimo/_tracer.py
  marimo/_utils/config/config.py
  marimo/_utils/xdg.py
  tests/_config/test_config_utils.py
  tests/_utils/config/test_config_reader.py
  tests/_utils/test_xdg.py
Owners: none

types
  tests/_config/test_config_utils.py
Owners: none

remove optional
  marimo/_config/cli_state.py
  marimo/_server/recents.py
  marimo/_tracer.py
  marimo/_utils/config/config.py
Owners: none

move to lazy
  marimo/_data/preview_column.py
  tests/_data/test_preview_column.py
Owners: @light2dark

change type of partial config
  marimo/_config/config.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
