Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

Ensure output dir is empty for dev release workflow (#5908)
  .github/workflows/dev-release.yml
Owners: @mscolnick, @manzt

fix
  tests/_output/formatters/test_altair_formatters.py
Owners: none

fix: opinionated formatters work on subclasses. improve searching perf for formatters (#5899)
  marimo/_output/formatters/ai_formatters.py
  marimo/_output/formatting.py
  marimo/_runtime/app/script_runner.py
  tests/_output/formatters/test_ai_formatters.py
  tests/_output/formatters/test_altair_formatters.py
  tests/_output/test_formatter_registry.py
Owners: @dmadisetti

fix: do not run create __marimo__/cache by default
  marimo/_save/stores/file.py
Owners: @dmadisetti

chore: rename "CODE" to "PYTHON" in cell type selector UI
  docs/_static/docs-sql-cell-demo.png
  docs/_static/docs-sql-cell.png
  docs/guides/working_with_data/sql.md
Owners: @akshayka

Enable `Ctrl+[` vim escape on Windows
  frontend/src/core/codemirror/keymaps/vim.ts
Owners: @manzt, @light2dark

chore: rename "CODE" to "PYTHON" in cell type selector UI (#5913)
  docs/_static/docs-sql-cell-demo.png
  docs/_static/docs-sql-cell.png
  docs/guides/working_with_data/sql.md
Owners: @akshayka

Enable `Ctrl+[` vim escape on Windows (#5914)
  frontend/src/core/codemirror/keymaps/vim.ts
Owners: @manzt, @light2dark

fix: dont include traceback in session deserialzation
  marimo/_server/session/serialize.py
  tests/_server/session/test_serialize_session.py
Owners: none

Normalize line endings in HTTP responses for Windows generated scripts
  marimo/_utils/requests.py
  tests/_utils/test_inline_script_metadata.py
Owners: none

docs: Expound upon mo.cache expectations and limitations
  docs/api/caching.md
Owners: @akshayka

nits: formatting + language
  docs/api/caching.md
Owners: @akshayka

chore: update kapa widget
  docs/_static/js/init_kapa_widget.js
Owners: @akshayka

updaet
  docs/_static/js/init_kapa_widget.js
Owners: @akshayka

Normalize line endings in HTTP responses for Windows generated scripts (#5916)
  marimo/_utils/requests.py
  tests/_utils/test_inline_script_metadata.py
Owners: none

chore: update kapa widget (#5918)
  docs/_static/js/init_kapa_widget.js
Owners: @akshayka

docs: caching
  docs/api/caching.md
  docs/guides/expensive_notebooks.md
  marimo/_save/save.py
Owners: @akshayka, @dmadisetti

recursive key completion
  marimo/_runtime/complete.py
  tests/_runtime/test_complete.py
Owners: @dmadisetti

array-like
  docs/api/caching.md
Owners: @akshayka

Add all contributors to release notes (#5905)
  scripts/generate_release_notes.py
Owners: none

add calculate bin step function
  frontend/src/components/data-table/__tests__/__snapshots__/chart-spec-model.test.ts.snap
  frontend/src/components/data-table/__tests__/chart-spec-model.test.ts
  frontend/src/components/data-table/column-summary/chart-spec-model.tsx
  frontend/src/components/data-table/column-summary/utils.ts
Owners: @manzt, @light2dark

Force exclude `marimo/_lsp` in `marimo-base` build
  scripts/modify_pyproject_for_marimo_base.py
Owners: none

improved testing
  marimo/_runtime/complete.py
  marimo/_runtime/requests.py
  tests/_runtime/test_complete.py
Owners: @dmadisetti

Force exclude `marimo/_lsp` in `marimo-base` build (#5929)
  scripts/modify_pyproject_for_marimo_base.py
Owners: none

feat: formatters for Ibis objects (#5855)
  marimo/_output/formatters/df_formatters.py
  marimo/_output/formatters/formatters.py
  marimo/_smoke_tests/ibis_formatting.py
  tests/_output/formatters/test_ibis_formatters.py
Owners: none

fix: bin step was too small for large bin values (#5924)
  frontend/src/components/data-table/__tests__/__snapshots__/chart-spec-model.test.ts.snap
  frontend/src/components/data-table/__tests__/chart-spec-model.test.ts
  frontend/src/components/data-table/column-summary/chart-spec-model.tsx
  frontend/src/components/data-table/column-summary/utils.ts
Owners: @manzt, @light2dark

type checking
  marimo/_runtime/complete.py
Owners: @dmadisetti

Fix parsing bug with inline-completions
  marimo/_server/ai/providers.py
Owners: none

stub and restore cache meta return value
  marimo/_save/cache.py
Owners: @dmadisetti

cleanup: pathlib for files
  marimo/_cli/cli.py
Owners: none

fix: recursive key completion (#5922)
  marimo/_runtime/complete.py
  marimo/_runtime/requests.py
  tests/_runtime/test_complete.py
Owners: @dmadisetti

fix: inline-completions parsing issue (#5931)
  marimo/_server/ai/providers.py
Owners: none

update traceback
  marimo/_server/session/serialize.py
  tests/_server/session/test_serialize_session.py
Owners: none

Add `mo.inspect` for rich object introspection
  docs/api/inspect.md
  docs/api/outputs.md
  marimo/__init__.py
  marimo/_output/builder.py
  marimo/_plugins/stateless/inspect.py
  tests/_plugins/stateless/test_inspect.py
Owners: @akshayka

docs: caching (#5921)
  docs/api/caching.md
  docs/guides/expensive_notebooks.md
  marimo/_save/save.py
Owners: @akshayka, @dmadisetti

wip
  frontend/package.json
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/codemirror/language/languages/sql.ts
  frontend/src/core/config/feature-flag.tsx
  pnpm-lock.yaml
  pyproject.toml
Owners: @mscolnick, @manzt, @light2dark, @akshayka

handle self referential data structures
  marimo/_save/cache.py
  tests/_save/test_cache.py
Owners: @dmadisetti

stub all meta values
  marimo/_save/cache.py
Owners: @dmadisetti

Update API snapshot
  tests/snapshots/api.txt
Owners: none

fix type errors
  marimo/_save/cache.py
Owners: @dmadisetti
