Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

comments: Added new example and addressed TODOs
  docs/api/caching.md
  marimo/_save/hash.py
Owners: @akshayka, @dmadisetti

fix check
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/test_table.py
Owners: none

update
  tests/_plugins/ui/_impl/tables/snapshots/polars.field_types.json
Owners: none

Add documentation to outputs guide
  docs/guides/outputs.md
Owners: @akshayka

fix tests
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
Owners: none

Fix borked docs build for multiple autoref
  docs/api/outputs.md
Owners: @akshayka

Update docs/api/caching.md
  docs/api/caching.md
Owners: @akshayka

Update docs/api/caching.md
  docs/api/caching.md
Owners: @akshayka

Update docs/api/caching.md
  docs/api/caching.md
Owners: @akshayka

Improve cache for anywidget: (#5879)
  marimo/_plugins/ui/_impl/from_anywidget.py
  tests/_plugins/ui/_impl/test_anywidget.py
Owners: none

Update docs/api/caching.md
  docs/api/caching.md
Owners: @akshayka

fix: dont include traceback in session deserialzation (#5915)
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  marimo/_server/session/serialize.py
  tests/_plugins/ui/_impl/tables/snapshots/polars.field_types.json
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/test_table.py
  tests/_server/session/test_serialize_session.py
Owners: none

fix: improved robustness of cache wrapper in module contexts (#5873)
  marimo/_ast/toplevel.py
  marimo/_runtime/primitives.py
  marimo/_runtime/runner/hooks_post_execution.py
  marimo/_save/hash.py
  marimo/_save/save.py
  marimo/_save/toplevel.py
  tests/_ast/test_toplevel.py
  tests/_save/external_decorators/module_0/__init__.py
  tests/_save/external_decorators/module_1/__init__.py
  tests/_save/external_decorators/transitive_imports.py
  tests/_save/external_decorators/transitive_wrappers_1.py
  tests/_save/external_decorators/transitive_wrappers_2.py
  tests/_save/test_decorator_imports.py
  tests/_save/test_external_decorators.py
  tests/_save/test_hash.py
Owners: @dmadisetti

Add tests + comments
  marimo/_save/stores/file.py
  tests/_save/stores/test_file.py
Owners: @dmadisetti

docs: Expound upon mo.cache expectations and limitations (#5917)
  docs/api/caching.md
  docs/guides/expensive_notebooks.md
  marimo/_save/hash.py
  marimo/_save/save.py
Owners: @akshayka, @dmadisetti

Update outputs.md
  docs/api/outputs.md
Owners: @akshayka

fix: do not run create __marimo__/cache by default (#5910)
  marimo/_save/stores/file.py
  tests/_save/stores/test_file.py
Owners: @dmadisetti

tests: check helper conversion functions
  marimo/_cli/cli.py
  marimo/_convert/converters.py
  tests/_convert/test_convert_non_marimo_python_script.py
Owners: @dmadisetti

fix: as_html for svg and add tests
  marimo/_output/formatting.py
  tests/_output/formatters/test_formatters.py
Owners: none

nit: rename function
  marimo/_cli/cli.py
  marimo/_convert/converters.py
Owners: @dmadisetti

fix: formatter for 'type()' and make ibis formatters opinionated
  marimo/_output/formatters/df_formatters.py
  marimo/_output/formatting.py
  marimo/_smoke_tests/ibis_formatting.py
  tests/_output/formatters/test_ibis_formatters.py
  tests/_output/test_formatter_registry.py
Owners: none

cleanup: extrenous tests
  tests/_convert/test_convert_non_marimo_python_script.py
Owners: none

nit: move tests
  tests/_convert/test_convert_non_marimo_python_script.py
Owners: none

fix: formatter for 'type()' and make ibis formatters opinionated (#5948)
  marimo/_output/formatters/df_formatters.py
  marimo/_output/formatting.py
  marimo/_smoke_tests/ibis_formatting.py
  tests/_output/formatters/test_ibis_formatters.py
  tests/_output/test_formatter_registry.py
Owners: none

Add `mo.inspect` for rich object introspection (#5936)
  docs/api/inspect.md
  docs/api/outputs.md
  docs/guides/outputs.md
  marimo/__init__.py
  marimo/_output/builder.py
  marimo/_plugins/stateless/inspect.py
  tests/_plugins/stateless/test_inspect.py
  tests/snapshots/api.txt
Owners: @akshayka

exp: proof of concept for VSCode debug server
  examples/launch.json
  launch.json
  marimo/_ast/compiler.py
  marimo/_ast/load.py
  marimo/_runtime/runtime.py
  marimo/_server/api/lifespans.py
  marimo/_server/debug/dap_server.py
  marimo/_server/main.py
  marimo/_server/start.py
  working_sample.py
Owners: @akshayka, @dmadisetti

fix: as_html for svg and add tests (#5947)
  marimo/_output/formatting.py
  tests/_output/formatters/test_formatters.py
Owners: none

feat: edit --convert to open unknown file types (#5875)
  marimo/_cli/cli.py
  marimo/_convert/converters.py
  marimo/_convert/non_marimo_python_script.py
  tests/_convert/test_convert_non_marimo_python_script.py
Owners: @dmadisetti

improve: make it possible to close open snippet
  frontend/src/components/editor/chrome/panels/snippets-panel.tsx
Owners: @manzt, @light2dark

fix: stdout and stderr should not be stoppable by users
  marimo/_messaging/streams.py
  marimo/_messaging/types.py
  marimo/_runtime/runtime.py
  tests/_messaging/test_types.py
Owners: @dmadisetti

stdin should not be stoppable either
  tests/_messaging/test_types.py
Owners: none

fix: allow caching on embedded apps
  marimo/_save/save.py
  tests/_save/test_external_decorators.py
Owners: @dmadisetti

nit: typo
  marimo/_save/save.py
Owners: @dmadisetti

enhancement: raise a UsageError on marimo edit --sandbox (#5511)
  marimo/_cli/cli.py
  marimo/_cli/sandbox.py
  tests/_cli/test_cli.py
  tests/_server/api/endpoints/test_files.py
  tests/utils.py
Owners: none

enh: allow dangerous sandbox to be set with an environment variable
  marimo/_cli/cli.py
Owners: none

fix: typing and clean up
  marimo/_ast/app.py
  marimo/_ast/cell_id.py
  marimo/_ast/cell_manager.py
  marimo/_save/save.py
  tests/_save/external_decorators/app.py
Owners: @dmadisetti

Update marimo/_save/save.py
  marimo/_save/save.py
Owners: @dmadisetti

comment: update
  marimo/_save/save.py
Owners: @dmadisetti

fix: allow caching on embedded apps (#5957)
  marimo/_ast/app.py
  marimo/_ast/cell_id.py
  marimo/_ast/cell_manager.py
  marimo/_save/save.py
  tests/_save/external_decorators/app.py
  tests/_save/test_external_decorators.py
Owners: @dmadisetti

enh: allow dangerous sandbox to be set with an environment variable (#5958)
  marimo/_cli/cli.py
Owners: none
