Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

Replace WebComponentEncoder with msgspec encoder throughout codebase
  marimo/_plugins/core/web_component.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_pyodide/bootstrap.py
Owners: none

Remove `rename="camel"`
  marimo/_data/models.py
  marimo/_messaging/cell_output.py
  marimo/_messaging/completion_option.py
  marimo/_messaging/errors.py
  marimo/_messaging/ops.py
  marimo/_runtime/requests.py
  tests/_messaging/test_messaging_errors.py
Owners: @light2dark, @dmadisetti

fix(frontend#oso): fix fragment loading
  frontend/src/oso-extensions/fragment-store.ts
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

Implement timeout option (#6196)
  marimo/_cli/cli.py
  marimo/_server/api/middleware.py
  marimo/_server/main.py
  marimo/_server/start.py
  tests/_cli/test_cli.py
Owners: none

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Owners: @mscolnick, @manzt

Use explicit `tag` in Ops
  marimo/_messaging/ops.py
  marimo/_server/session/session_view.py
Owners: none

Add Claude.md to prompts docs (#6227)
  docs/guides/generate_with_ai/prompts.md
Owners: @akshayka

Add Azure OpenAI provider support for existing models
  packages/llm-info/data/models.yml
Owners: none

Use TYPE_CHECKING pattern for msgspec type compatibility
  marimo/_data/models.py
  marimo/_messaging/errors.py
  marimo/_plugins/core/web_component.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_pyodide/bootstrap.py
  marimo/_runtime/runtime.py
  marimo/_server/api/endpoints/ws.py
  marimo/_utils/parse_dataclass.py
  tests/_messaging/test_ops.py
Owners: @light2dark, @dmadisetti

Fix capitalization and enhance clarity in deployment guide
  docs/guides/deploying/programmatically.md
Owners: @akshayka

Add Azure OpenAI provider support for existing models (#6231)
  packages/llm-info/data/models.yml
Owners: none

docs: Add some notes on deploying programmatically (#6217)
  docs/guides/deploying/programmatically.md
Owners: @akshayka

feat: add asset URL support for templates and server (#6204)
  marimo/_cli/cli.py
  marimo/_server/api/deps.py
  marimo/_server/api/endpoints/assets.py
  marimo/_server/start.py
  marimo/_server/templates/templates.py
  tests/_server/templates/test_templates.py
Owners: none

Added Vertical Layout setup with long text in cells to storybook
  frontend/src/stories/layout/vertical/one-column.stories.tsx
Owners: @manzt, @light2dark

Add special handling for error serialization
  marimo/_server/session/serialize.py
  tests/_output/formatters/test_formatters.py
Owners: none

Remove WebComponentEncoder in favor of msgspec
  marimo/_plugins/core/json_encoder.py
  tests/_messaging/test_cell_output.py
  tests/_plugins/core/test_json_encoder.py
  tests/_server/export/snapshots/run_until_completion_with_stack_trace.txt
  tests/_server/export/snapshots/run_until_completion_with_stop.txt
  tests/_server/export/test_exporter.py
  tests/_server/session/test_serialize_session.py
Owners: none

Fix type checking errors after msgspec migration
  MSGSPEC_MIGRATION.md
  marimo/_messaging/cell_output.py
  marimo/_runtime/requests.py
  marimo/_server/session/session_view.py
Owners: @dmadisetti

Rename `msgspec_encoder` alias with just `encoder`
  marimo/_plugins/core/web_component.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_pyodide/bootstrap.py
  marimo/_server/api/endpoints/ws.py
  tests/_messaging/test_cell_output.py
  tests/_server/export/test_exporter.py
Owners: none

Handle `UnknownError` type
  marimo/_messaging/errors.py
  marimo/_server/session/serialize.py
  tests/_server/session/test_serialize_session.py
Owners: none

Rename `marimo_enc_hook` to `enc_hook`
  marimo/_messaging/msgspec_encoder.py
Owners: none

perf: lazy-load command pallete and sidebar panels (#6232)
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/actions/useNotebookActions.tsx
  frontend/src/components/editor/chrome/panels/datasources-panel.tsx
  frontend/src/components/editor/chrome/panels/dependency-graph-panel.tsx
  frontend/src/components/editor/chrome/panels/documentation-panel.tsx
  frontend/src/components/editor/chrome/panels/error-panel.tsx
  frontend/src/components/editor/chrome/panels/file-explorer-panel.tsx
  frontend/src/components/editor/chrome/panels/logs-panel.tsx
  frontend/src/components/editor/chrome/panels/outline-panel.tsx
  frontend/src/components/editor/chrome/panels/packages-panel.tsx
  frontend/src/components/editor/chrome/panels/scratchpad-panel.tsx
  frontend/src/components/editor/chrome/panels/secrets-panel.tsx
  frontend/src/components/editor/chrome/panels/snippets-panel.tsx
  frontend/src/components/editor/chrome/panels/tracing-panel.tsx
  frontend/src/components/editor/chrome/panels/variable-panel.tsx
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
  frontend/src/components/editor/controls/command-palette-button.tsx
  frontend/src/components/editor/controls/command-palette.tsx
  frontend/src/components/editor/controls/state.ts
  frontend/src/components/pages/edit-page.tsx
Owners: @manzt, @light2dark

fixed typing
  frontend/src/stories/layout/vertical/one-column.stories.tsx
Owners: @manzt, @light2dark

fixed linting
  frontend/src/stories/layout/vertical/one-column.stories.tsx
Owners: @manzt, @light2dark

Added default_sort and ascending keyword arguments to table
  marimo/_plugins/ui/_impl/table.py
Owners: none

Directly encode cell ops to json
  marimo/_messaging/msgspec_encoder.py
  marimo/_messaging/ops.py
  marimo/_messaging/streams.py
  marimo/_messaging/types.py
  marimo/_pyodide/bootstrap.py
  marimo/_pyodide/streams.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/export/__init__.py
Owners: none

use abstract class and separate types to a different file
  marimo/_server/ai/backend_tools/__init__.py
  marimo/_server/ai/backend_tools/sample_tool.py
  marimo/_server/ai/config.py
  marimo/_server/ai/tools/backend_tools/sample_tool.py
  marimo/_server/ai/tools/tool_manager.py
  marimo/_server/ai/tools/types.py
  marimo/_server/api/endpoints/ai.py
Owners: none

comment out code
  marimo/_server/ai/tools/backend_tools/sample_tool.py
Owners: none

Use `msgspec` for request/responses
  marimo/_runtime/requests.py
  marimo/_server/models/files.py
  marimo/_server/models/models.py
Owners: @dmadisetti

Ensure tomlkit returns builtin types
  marimo/_utils/toml.py
Owners: none

Nest json-encoded messages
  marimo/_server/api/endpoints/ws.py
Owners: none

.
  marimo/_config/config.py
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/config.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/router.py
  marimo/_utils/parse_dataclass.py
Owners: none

Simplify messaging for request and responses
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/models/models.py
  marimo/_server/router.py
Owners: none

Reverted sort functionality back to the table constructor
  marimo/_plugins/ui/_impl/table.py
Owners: none

openapi spec for msgspec
  marimo/_ai/_types.py
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_utils/dataclass_to_openapi.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Simplify messaging for request and responses
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/models/models.py
  marimo/_server/router.py
Owners: none

reorganize imports
  marimo/_data/models.py
Owners: @light2dark

Updated table sort logic
  marimo/_plugins/ui/_impl/table.py
Owners: none

Updated unit tests
  tests/_plugins/ui/_impl/test_table.py
Owners: none

Refactor encoding utilities
  marimo/_messaging/cell_output.py
  marimo/_messaging/msgspec_encoder.py
  marimo/_messaging/ops.py
  marimo/_plugins/core/web_component.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_pyodide/bootstrap.py
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/config.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/router.py
  marimo/_server/session/serialize.py
Owners: none

Change implementation based on feedback
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/lifespan.py
  marimo/_mcp/server/main.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  marimo/_server/api/endpoints/mcp.py
  marimo/_server/api/lifespans.py
  marimo/_server/api/router.py
  marimo/_server/start.py
  tests/_mcp/server/test_responses.py
  tests/_mcp/server/tools/test_cells.py
  tests/_server/api/endpoints/test_mcp_server.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
