Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

feat(status): Add async progress bar functionality
  marimo/_plugins/stateless/status/_progress.py
  tests/_plugins/stateless/status/test_progress.py
Owners: none

wip
  frontend/package.json
  frontend/src/components/chat/acp/__tests__/prompt.test.ts
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-panel.css
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/acp/common.tsx
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/components/chat/acp/session-tabs.tsx
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/thread.tsx
  frontend/src/components/chat/acp/types.ts
  frontend/src/components/editor/chrome/types.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

fixes
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/__tests__/atoms.test.ts
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/editor/chrome/types.ts
Owners: @manzt, @light2dark

refactor prompt
  marimo/_server/ai/prompts.py
  tests/_server/ai/snapshots/system_prompts.txt
Owners: none

resolve variable name for sql (#6328)
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

refactor(status): Improve progress_bar TypeError message and simplify logic
  marimo/_plugins/stateless/status/_progress.py
  tests/_plugins/stateless/status/test_progress.py
Owners: none

Fallback to `__dict__`/`__slots___` in `enc_hook` for unknown objects
  marimo/_messaging/msgspec_encoder.py
  tests/_plugins/core/test_json_encoder.py
Owners: none

Remove dataclass from MIME
  marimo/_messaging/msgspec_encoder.py
  marimo/_output/hypertext.py
  marimo/_output/mime.py
  tests/_plugins/core/test_json_encoder.py
Owners: none

fixes
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-docs.tsx
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/common.tsx
Owners: @manzt, @light2dark

fix
  frontend/src/components/chat/acp/agent-panel.tsx
Owners: @manzt, @light2dark

Generate API schema docs for new `MIME`
  marimo/_cli/development/commands.py
  marimo/_messaging/msgspec_encoder.py
  marimo/_output/hypertext.py
  marimo/_utils/dataclass_to_openapi.py
  tests/_plugins/core/test_json_encoder.py
Owners: none

fixes
  marimo/_cli/development/commands.py
  marimo/_output/mime.py
  marimo/_smoke_tests/altair_examples/nans_infinity.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

add back dataclass
  marimo/_output/hypertext.py
Owners: none

3.9 support
  tests/_plugins/core/test_json_encoder.py
Owners: none

Fallback to `__dict__`/`__slots___` in `enc_hook` for unknown objects (#6332)
  marimo/_cli/development/commands.py
  marimo/_messaging/msgspec_encoder.py
  marimo/_output/mime.py
  marimo/_smoke_tests/altair_examples/nans_infinity.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_plugins/core/test_json_encoder.py
Owners: none

Checks if sql variable data exists before accessing it (#6327)
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

fix: json encode handle more human types, and more human readable for tables
  marimo/_messaging/msgspec_encoder.py
  marimo/_output/superjson.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  tests/_plugins/core/test_json_encoder.py
  tests/_plugins/ui/_impl/tables/test_default_table.py
Owners: none

fix
  marimo/_messaging/msgspec_encoder.py
  tests/_plugins/core/test_json_encoder.py
Owners: none

lint: copy notice
  marimo/_ai/_tools/tools/cells.py
  marimo/_ai/_tools/tools/notebooks.py
  marimo/_ai/_tools/utils/exceptions.py
Owners: none

feat: pass in cli flags via app.run('--params', 'here')
  marimo/_ast/app.py
  marimo/_runtime/app/script_runner.py
  marimo/_runtime/context/script_context.py
Owners: @dmadisetti

tests + docs: capture app.run('cli') behavior
  docs/api/app.md
  docs/api/cli_args.md
  docs/guides/coming_from/papermill.md
  tests/_ast/test_app.py
Owners: @akshayka

tidy: provide a doc string for app.run
  marimo/_ast/app.py
Owners: @dmadisetti

feat(frontend#oso): take `name` instead of `id`s
  frontend/src/oso-extensions/supabase-filestore.ts
Owners: @manzt, @light2dark

Adjust sleep durations in `test_progress_async`
  tests/_plugins/stateless/status/test_progress.py
Owners: none

fix(frontend#oso): use supabase `anon` key
  frontend/src/oso-extensions/supabase-filestore.ts
Owners: @manzt, @light2dark

custom transport
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/ai/transport/chat-transport.tsx
  frontend/src/components/editor/cell/StagedCellsAI.tsx
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/__tests__/streaming-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/codemirror/format.ts
Owners: @manzt, @light2dark

change to hat glasses icon for sidebar and small fixes
  frontend/src/components/chat/acp/agent-docs.tsx
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/components/chat/acp/scroll-to-bottom-button.tsx
  frontend/src/components/chat/acp/session-tabs.tsx
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/thread.tsx
  frontend/src/components/chat/acp/types.ts
  frontend/src/components/chat/acp/utils.ts
  frontend/src/components/editor/chrome/types.ts
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
Owners: @manzt, @light2dark

nits for agent sidebar (#6340)
  frontend/src/components/chat/acp/agent-docs.tsx
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/components/chat/acp/scroll-to-bottom-button.tsx
  frontend/src/components/chat/acp/session-tabs.tsx
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/thread.tsx
  frontend/src/components/chat/acp/types.ts
  frontend/src/components/chat/acp/utils.ts
  frontend/src/components/editor/chrome/types.ts
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
Owners: @manzt, @light2dark

fix: allow test cells in the presence of async cells
  marimo/_ast/pytest.py
Owners: @dmadisetti

lint: add copy notice (#6337)
  marimo/_ai/_tools/tools/cells.py
  marimo/_ai/_tools/tools/notebooks.py
  marimo/_ai/_tools/utils/exceptions.py
Owners: none

fix: json encode handle more human types, and more human readable for tables (#6334)
  marimo/_messaging/msgspec_encoder.py
  marimo/_output/superjson.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  tests/_plugins/core/test_json_encoder.py
  tests/_plugins/ui/_impl/tables/test_default_table.py
Owners: none

better styling and correctify updates in one place
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/components/editor/cell/StagedCellsAI.tsx
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/__tests__/streaming-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/codemirror/language/utils.ts
Owners: @manzt, @light2dark

some better styling, and move to calling a custom function to udpate codemirror
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/cell/StagedAICell.tsx
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/codemirror/format.ts
  frontend/src/core/codemirror/language/utils.ts
  marimo/_server/ai/prompts.py
Owners: @manzt, @light2dark

better prompt
  tests/_server/ai/snapshots/system_prompts.txt
Owners: none

small refactor
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/cell/StagedAICell.tsx
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  frontend/src/core/codemirror/language/utils.ts
Owners: @manzt, @light2dark

fix
  frontend/package.json
  frontend/src/utils/Logger.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

preview: agent sidebar (claude code and gemini cli) (#6331)
  frontend/package.json
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/__tests__/atoms.test.ts
  frontend/src/components/chat/acp/__tests__/prompt.test.ts
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-docs.tsx
  frontend/src/components/chat/acp/agent-panel.css
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/acp/common.tsx
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/components/chat/acp/scroll-to-bottom-button.tsx
  frontend/src/components/chat/acp/session-tabs.tsx
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/thread.tsx
  frontend/src/components/chat/acp/types.ts
  frontend/src/components/chat/acp/utils.ts
  frontend/src/components/chat/tool-call-accordion.tsx
  frontend/src/components/editor/chrome/types.ts
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
  frontend/src/core/config/feature-flag.tsx
  frontend/src/utils/Logger.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

fix: use dirname instead of basename
  frontend/src/components/chat/acp/agent-panel.tsx
Owners: @manzt, @light2dark

fix: use dirname instead of basename (#6345)
  frontend/src/components/chat/acp/agent-panel.tsx
Owners: @manzt, @light2dark

apply styles manually for actions menu
  frontend/src/plugins/impl/vega/vega.css
Owners: @manzt, @light2dark

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
