Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

fix
  tests/_messaging/test_ops.py
Owners: none

fix
  frontend/src/core/islands/main.ts
  frontend/src/core/kernel/messages.ts
Owners: @manzt, @light2dark

fix(mcp-server): create dataclass wrapper for VariableValue to resolve Pydantic compatibility (#6265)
  marimo/_mcp/server/tools/cells.py
  tests/_mcp/server/tools/test_cells.py
Owners: none

preview: add `--server-startup-command` (#6238)
  frontend/src/components/editor/alerts/startup-logs-alert.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/alerts/state.ts
  frontend/src/core/islands/main.ts
  frontend/src/core/kernel/messages.ts
  frontend/src/core/websocket/useMarimoWebSocket.tsx
  marimo/_cli/cli.py
  marimo/_messaging/ops.py
  marimo/_server/session/session_view.py
  marimo/_server/start.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_cli/test_parse_args.py
  tests/_messaging/test_ops.py
  tests/_server/session/test_session_view.py
Owners: @manzt, @light2dark

fix
  frontend/package.json
  pnpm-lock.yaml
Owners: @mscolnick, @manzt

pin codemirror ls
  .github/renovate.json5
  frontend/package.json
  frontend/src/__tests__/__snapshots__/CellStatus.test.tsx.snap
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

revert glide
  frontend/package.json
  pnpm-lock.yaml
Owners: @mscolnick, @manzt

mock theme for test
  frontend/src/core/ai/context/providers/__tests__/cell-output.test.ts
  tests/_data/test_charts.py
  tests/_data/test_preview_column.py
Owners: @manzt, @light2dark

fix test
  tests/_server/api/endpoints/test_ai.py
Owners: none

enable attachments for anthropic models
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

fix more tests
  tests/_server/api/endpoints/test_ai.py
Owners: none

fix anthropic
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: none

fix test
  tests/_ai/llm/test_impl.py
Owners: none

use file parts and rebase
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/cell-output.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/ai/state.ts
  frontend/src/core/ai/types.ts
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
Owners: @manzt, @light2dark

better var name
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: none

fix chat plugin, and migrate google to use parts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/plugins/impl/chat/ChatPlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  marimo/_plugins/ui/_impl/chat/utils.py
  tests/_ai/test_chat_convert.py
Owners: @manzt, @light2dark

remove attachments in the frontend and parse from parts in the backend
  frontend/src/components/chat/chat-components.tsx
  frontend/src/components/chat/chat-panel.tsx
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  tests/_ai/test_chat_convert.py
Owners: @manzt, @light2dark

migrate to file parts
  tests/_ai/test_chat_convert.py
Owners: none

handle data part response from ai
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

add back global regex
  frontend/src/core/ai/context/providers/cell-output.ts
Owners: @manzt, @light2dark

feat(wasm-builder#oso): create marimo `session` ids on the fly
  packages/wasm-builder/src/server.ts
Owners: none

chore(wasm-builder#oso): install `ws` package
  packages/wasm-builder/package.json
  pnpm-lock.yaml
Owners: @mscolnick, @manzt

add background color that matches the editor
  frontend/src/core/codemirror/theme/dark.ts
  frontend/src/css/app/codemirror.css
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

add border colour
  frontend/src/css/app/codemirror.css
Owners: @manzt, @light2dark

AI parse from parts in the backend, enable attachments for more providers (#6256)
  frontend/src/components/chat/chat-components.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/cell-output.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/ai/state.ts
  frontend/src/core/ai/types.ts
  frontend/src/plugins/impl/chat/ChatPlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  marimo/_plugins/ui/_impl/chat/utils.py
  tests/_ai/llm/test_impl.py
  tests/_ai/test_chat_convert.py
  tests/_server/api/endpoints/test_ai.py
Owners: @manzt, @light2dark

set sql footer's background colour and border color (#6267)
  frontend/src/core/codemirror/theme/dark.ts
  frontend/src/css/app/codemirror.css
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

mock theme for test (#6266)
  frontend/src/core/ai/context/providers/__tests__/cell-output.test.ts
  tests/_data/test_charts.py
  tests/_data/test_preview_column.py
Owners: @manzt, @light2dark

fix: ai endpoints from msgspec migration
  marimo/_ai/_convert.py
Owners: none

docs: move claude md to snippets
  docs/_static/CLAUDE.md
  docs/guides/generate_with_ai/prompts.md
  mkdocs.yml
Owners: @akshayka

add claude.md file
  docs/guides/generate_with_ai/prompts.md
  docs/vercel.json
  mkdocs.yml
Owners: @akshayka

fix
  docs/vercel.json
Owners: @akshayka

fix
  .github/workflows/docs.yml
  docs/guides/generate_with_ai/prompts.md
  docs/vercel.json
Owners: @mscolnick, @manzt, @akshayka

docs: move claude md to snippets (#6276)
  .github/workflows/docs.yml
  docs/_static/CLAUDE.md
  docs/guides/generate_with_ai/prompts.md
  mkdocs.yml
Owners: @mscolnick, @manzt, @akshayka

Fix multi-column sorting RPC serialization
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/data-table/header-items.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/renderers/slides-layout/types.ts
  frontend/src/plugins/impl/DataTablePlugin.tsx
  frontend/src/plugins/impl/data-frames/DataFramePlugin.tsx
  frontend/src/theme/useTheme.ts
  marimo/_plugins/ui/_impl/dataframes/dataframe.py
  marimo/_plugins/ui/_impl/table.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_plugins/ui/_impl/tables/ibis_table.py
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  packages/openapi/api.yaml
  tests/_plugins/ui/_impl/tables/test_default_table.py
  tests/_plugins/ui/_impl/tables/test_ibis_table.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
  tests/_plugins/ui/_impl/tables/test_pandas_table.py
  tests/_plugins/ui/_impl/tables/test_polars_table.py
  tests/_plugins/ui/_impl/tables/test_selection.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @manzt, @light2dark

fix
  marimo/_ai/_convert.py
Owners: none

fix: ai endpoints from msgspec migration (#6273)
  marimo/_ai/_convert.py
Owners: none

fix(marimo#oso): redirect `api` calls to `vercel` backend
  marimo/_cli/export/cloudflare.py
Owners: none

fix: ai endpoints from msgspec migration (more fixes)
  marimo/_ai/_types.py
Owners: none

tests
  marimo/_ai/_types.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

exception
  marimo/_ai/_types.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
