Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

add comment
  frontend/src/components/chat/chat-utils.ts
Owners: @manzt, @light2dark

comment
  frontend/src/components/chat/chat-utils.ts
  marimo/_server/ai/prompts.py
  tests/_server/ai/snapshots/system_prompts.txt
Owners: @manzt, @light2dark

fix [6281]: Could not find function given request: FunctionCallRequest(...)
  frontend/src/plugins/core/registerReactComponent.tsx
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
  frontend/src/utils/errors.ts
Owners: @manzt, @light2dark

fix: installHook.js:1 In HTML, <tr> cannot be a child of <table>
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
Owners: @manzt, @light2dark

fix: installHook.js:1 In HTML, <tr> cannot be a child of <table> (#6367)
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
Owners: @manzt, @light2dark

fix [6281]: Could not find function given request: FunctionCallReques… (#6365)
  frontend/src/plugins/core/registerReactComponent.tsx
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
  frontend/src/utils/errors.ts
Owners: @manzt, @light2dark

generate multiple cells with generate with ai (#6312)
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/chat-utils.ts
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/components/editor/ai/transport/chat-transport.tsx
  frontend/src/components/editor/cell/StagedAICell.tsx
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  frontend/src/core/cells/cells.ts
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/snapshots/system_prompts.txt
  tests/_server/ai/test_prompts.py
Owners: @manzt, @light2dark

fix test
  marimo/_server/sessions.py
Owners: none

fix: setup cell check prior to merge
  marimo/_ast/app.py
  marimo/_runtime/app/script_runner.py
  tests/_ast/test_app.py
Owners: @dmadisetti

pin for typechecking
  pyproject.toml
Owners: @akshayka

fix test once more
  tests/_server/test_sessions.py
Owners: none

fix: allow syntax errors
  marimo/_ast/cell_manager.py
  tests/_ast/codegen_data/test_syntax_errors.py
  tests/_ast/test_parse.py
Owners: @dmadisetti

fix: retain code on open
  marimo/_ast/cell_manager.py
  tests/_ast/codegen_data/test_syntax_errors.py
  tests/_ast/test_parse.py
Owners: @dmadisetti

improvement: better ACP commands, edit the notebook without --watch, slash-commands (#6360)
  frontend/package.json
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/__tests__/prompt.test.ts
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-docs.tsx
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/acp/common.tsx
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/types.ts
  frontend/src/core/codemirror/lsp/federated-lsp.ts
  frontend/src/stories/cell.stories.tsx
  frontend/src/stories/layout/vertical/one-column.stories.tsx
  marimo/_server/api/endpoints/file_explorer.py
  marimo/_server/sessions.py
  pnpm-lock.yaml
  pyproject.toml
  tests/_server/api/endpoints/test_file_explorer.py
  tests/_server/test_sessions.py
Owners: @mscolnick, @manzt, @light2dark, @akshayka

feat: expand `app.run` to allow programmatic overrides (#6359)
  docs/api/app.md
  docs/guides/coming_from/papermill.md
  marimo/_ast/app.py
  marimo/_ast/cell.py
  marimo/_ast/errors.py
  marimo/_output/superjson.py
  marimo/_runtime/app/script_runner.py
  tests/_ast/test_app.py
Owners: @akshayka, @dmadisetti

tidy: ruff
  marimo/_ast/cell_manager.py
  tests/_ast/test_parse.py
Owners: @dmadisetti

fix: pin duckdb <= 1.3.0
  pyproject.toml
Owners: @akshayka

tidy: repeated function
  tests/_lint/test_async_context_system.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_runtime_errors_snapshot.py
Owners: none

fix: missing file
  tests/_lint/utils.py
Owners: none

tidy: ruff
  marimo/_output/superjson.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_runtime_errors_snapshot.py
  tests/_lint/utils.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
