Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

run pnpm dedupe
  pnpm-lock.yaml
Owners: none

update test and export for testing
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/language/languages/sql/completion-store.ts
Owners: @manzt, @light2dark

rebase
  pnpm-lock.yaml
Owners: none

fix test
  frontend/src/core/config/feature-flag.tsx
Owners: @manzt, @light2dark

try to get feature flag
  frontend/src/core/codemirror/language/languages/sql/sql.ts
  frontend/src/core/config/feature-flag.tsx
Owners: @manzt, @light2dark

check for array types better in duckdb (#6030)
  marimo/_data/get_datasets.py
  tests/_data/test_get_datasets.py
Owners: @light2dark

support custom, displayed models, and show docs
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/constants.ts
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

style input
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

improve copy
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

Add source dir to `@marimo-team/frontend` package files
  frontend/package.json
Owners: @mscolnick, @manzt

fix(tests): Compare python lists in narwhals assert_frame_equal
  tests/_plugins/ui/_impl/tables/test_narwhals.py
Owners: none

docs: update and fix Spanish README translation
  README_Spanish.md
Owners: none

add dataflow blog, fix reddit link
  docs/reading.md
Owners: @akshayka

docs: add dataflow blog, fix reddit link (#6037)
  docs/reading.md
Owners: @akshayka

docs: update and fix Spanish README translation (#6036)
  README_Spanish.md
Owners: none

fix(tests): Use `as_series=False` in `assert_frame_equal` to compare Narwhals dataframes (#6035)
  tests/_plugins/ui/_impl/tables/test_narwhals.py
Owners: none

dynamic models
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/constants.ts
  frontend/src/components/app-config/incorrect-model-id.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/ai/ids/__tests__/ids.test.ts
  frontend/src/core/ai/ids/ids.ts
  frontend/src/core/ai/model-registry.ts
  packages/llm-info/src/generate.ts
  packages/llm-info/src/index.ts
Owners: @manzt, @light2dark

json nesting and readme
  frontend/src/core/ai/model-registry.ts
  packages/llm-info/README.md
  packages/llm-info/src/__tests__/json-structure.test.ts
  packages/llm-info/src/generate.ts
Owners: @manzt, @light2dark

add tests
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

add files to package.json
  frontend/src/core/ai/model-registry.ts
  packages/llm-info/package.json
Owners: @manzt, @light2dark, @mscolnick

test with default
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

declare types
  frontend/src/core/ai/model-registry.ts
  packages/llm-info/src/types.d.ts
Owners: @manzt, @light2dark

resolvejsonmodule
  frontend/src/core/ai/model-registry.ts
  frontend/tsconfig.json
  packages/llm-info/src/__tests__/json-structure.test.ts
  packages/llm-info/src/generate.ts
  packages/llm-info/src/types.d.ts
Owners: @manzt, @light2dark

change to models.default
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

remove tsconfig config
  frontend/tsconfig.json
Owners: none

Add source dir to `@marimo-team/frontend` package files (#6034)
  frontend/package.json
Owners: @mscolnick, @manzt

use json keys and assert
  frontend/src/core/ai/model-registry.ts
  packages/llm-info/src/__tests__/json-structure.test.ts
  packages/llm-info/src/generate.ts
Owners: @manzt, @light2dark

fixup typings, ui, and on click callback
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/incorrect-model-id.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
  frontend/src/utils/__tests__/multi-map.test.ts
  frontend/src/utils/multi-map.ts
  packages/llm-info/src/index.ts
Owners: @manzt, @light2dark

typecheck
  frontend/src/utils/multi-map.ts
  turbo.json
Owners: @manzt, @light2dark

lint
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/core/ai/model-registry.ts
  frontend/src/core/cells/effects.ts
  frontend/src/utils/__tests__/multi-map.test.ts
  frontend/src/utils/multi-map.ts
Owners: @manzt, @light2dark

update dropdown for model select (#6029)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/app-config-button.tsx
  frontend/src/components/app-config/constants.ts
  frontend/src/components/app-config/incorrect-model-id.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/ids/__tests__/ids.test.ts
  frontend/src/core/ai/ids/ids.ts
  frontend/src/core/ai/model-registry.ts
  frontend/src/core/cells/effects.ts
  frontend/src/utils/__tests__/multi-map.test.ts
  frontend/src/utils/multi-map.ts
  packages/llm-info/README.md
  packages/llm-info/icons/deepseek.svg
  packages/llm-info/package.json
  packages/llm-info/src/__tests__/json-structure.test.ts
  packages/llm-info/src/generate.ts
  packages/llm-info/src/index.ts
  turbo.json
Owners: @manzt, @light2dark, @mscolnick

add GitHub as a provider, add OpenAI models
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/core/ai/ids/__tests__/ids.test.ts
  frontend/src/core/ai/ids/ids.ts
  marimo/_config/config.py
  marimo/_server/ai/config.py
  marimo/_smoke_tests/ai/github_model_check.py
  marimo/_smoke_tests/ai/model_check.py
  packages/llm-info/data/models.yml
  packages/llm-info/data/providers.yml
  packages/llm-info/icons/github.svg
  tests/_server/ai/test_ai_config.py
Owners: @manzt, @light2dark

fix
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

fix
  marimo/_cli/development/commands.py
Owners: none

add a test and lint
  frontend/src/components/app-config/ai-config.tsx
  tests/_server/ai/test_ai_config.py
Owners: @manzt, @light2dark

show configured when the api key is configured for a provider
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

change name
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

show configured tag when AI provider is configured (#6046)
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

skip test
  tests/_output/formatters/test_formatters.py
Owners: none

fix: rtc null pointer
  frontend/src/components/slides/slides.css
  frontend/src/core/cells/cells.ts
  frontend/src/plugins/layout/carousel/CarouselPlugin.tsx
Owners: @manzt, @light2dark
