Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

docs: cleanup
  docs/guides/debugging.md
  docs/guides/index.md
  docs/guides/troubleshooting.md
  marimo/_smoke_tests/pdb_test.py
Owners: @akshayka

docs: added debugging videos + images
  docs/_static/notebook_errors_context_in_marimo.png
  docs/_static/pdb_in_marimo.png
  docs/guides/debugging.md
Owners: @akshayka

feat(frontend#oso): register `supabase` file storage
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

chore(frontend#oso): rename table to `notebooks`
  frontend/src/oso-extensions/supabase-filestore.ts
Owners: @manzt, @light2dark

feat(frontend#oso): implement `supabase` file store
  frontend/src/oso-extensions/supabase-filestore.ts
Owners: @manzt, @light2dark

chore(#oso): install `supabase` sdk
  frontend/package.json
  pnpm-lock.yaml
Owners: @mscolnick, @manzt

file: added missing movs
  docs/_static/docs-debugpy-edit-mode.webm
  docs/_static/docs-pdb-breakpoint.webm
  docs/_static/docs-postmortem-debugging.webm
  docs/guides/debugging.md
Owners: @akshayka

assets: cleanup
  docs/_static/docs-notebook-errors-context.png
  docs/_static/docs-pdb-demo.png
  docs/guides/debugging.md
Owners: @akshayka

comments: Fixed copy and adjusted assets
  docs/_static/docs-debugpy-edit-mode.webm
  docs/_static/docs-pdb-breakpoint.webm
  docs/_static/docs-postmortem-debugging.webm
  docs/guides/debugging.md
Owners: @akshayka

tidy: remove superflous test
  tests/_ast/test_cell_manager.py
Owners: none

tidy: remove entry test
  tests/_ast/test_app.py
Owners: none

fix: additional comments
  docs/guides/debugging.md
Owners: @akshayka

docs: additional re-read
  docs/guides/debugging.md
Owners: @akshayka

generate multiple cells with generate with ai
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/components/editor/cell/code/cell-editor.tsx
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/snapshots/system_prompts.txt
  tests/_server/ai/test_prompts.py
Owners: @manzt, @light2dark

share frontend code and refactor
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/chat-utils.ts
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-cells.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/ai/completion-utils.ts
Owners: @manzt, @light2dark

wording
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
Owners: @manzt, @light2dark

Add pycap to module name map
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

handle tool calls auto submit
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/chat-utils.ts
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Owners: @manzt, @light2dark

Try removing `mcp_docs`
  .github/workflows/test_cli.yaml
  pyproject.toml
Owners: @mscolnick, @manzt, @akshayka

Fix intermittent CLI test failures by disabling MCP in tests
  .github/workflows/test_cli.yaml
Owners: @mscolnick, @manzt

Attempt to fix intermittent CLI test failures (#6308)
  pyproject.toml
Owners: @akshayka

fix: Remove performance check failing on windows
  marimo/_cli/cli.py
  tests/_lint/test_async_context_system.py
  tests/_lint/test_streaming_early_stopping.py
Owners: none

Add pycap to module name map (#6315)
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

fix: lingering progress_bar type hint issues
  marimo/_output/formatters/tqdm_formatters.py
  marimo/_plugins/stateless/status/_progress.py
Owners: none

feat: basic Debugpy integration (#6311)
  marimo/_ast/app.py
  marimo/_ast/cell_manager.py
  marimo/_ast/compiler.py
  marimo/_runtime/dataflow.py
  marimo/_runtime/runtime.py
  marimo/_smoke_tests/pdb_test.py
  tests/_ast/test_app.py
  tests/_ast/test_compiler.py
  tests/_runtime/test_dataflow.py
Owners: @dmadisetti

fix: script location
  docs/guides/debugging.md
Owners: @akshayka

wip
  frontend/package.json
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/__tests__/atoms.test.ts
  frontend/src/components/chat/acp/__tests__/prompt.test.ts
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/common.tsx
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/components/chat/acp/session-tabs.tsx
  frontend/src/components/chat/acp/session.tsx
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/types.ts
  frontend/src/utils/Logger.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

refactor: invert Generator check in progress_bar
  marimo/_plugins/stateless/status/_progress.py
Owners: none

chore: remove unnecessary `type: ignore`
  marimo/_plugins/stateless/status/_progress.py
Owners: none

Make `preview` a priority in release notes generation
  scripts/generate_release_notes.py
Owners: none

fix: marimo export script with headers
  marimo/_server/export/exporter.py
Owners: none

Make `preview` a priority in release notes generation (#6319)
  scripts/generate_release_notes.py
Owners: none

fix: marimo export script with headers (#6320)
  marimo/_server/export/exporter.py
Owners: none

release: 0.15.3
  pyproject.toml
Owners: @akshayka

ci: drop down to macos-14 for networking issues
  .github/workflows/test_cli.yaml
Owners: @mscolnick, @manzt

ci: drop down to macos-14 for networking issues (#6321)
  .github/workflows/test_cli.yaml
Owners: @mscolnick, @manzt

use old logic for refactor
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/components/editor/ai/completion-cells.tsx
Owners: @manzt, @light2dark

add new cells, use reducer
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/cell/StagedCellsAI.tsx
  frontend/src/components/editor/cell/code/cell-editor.tsx
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
Owners: @manzt, @light2dark

docs: debugging notebooks (#6305)
  docs/_static/docs-debugpy-edit-mode.webm
  docs/_static/docs-notebook-errors-context.png
  docs/_static/docs-pdb-breakpoint.webm
  docs/_static/docs-pdb-demo.png
  docs/_static/docs-postmortem-debugging.webm
  docs/guides/debugging.md
  docs/guides/index.md
  docs/guides/troubleshooting.md
  marimo/_smoke_tests/pdb_test.py
Owners: @akshayka

Add experimental ZeroMQ module for multi-environment IPC
  marimo/_zeromq/__init__.py
  marimo/_zeromq/adapters.py
  marimo/_zeromq/launch_kernel.py
  marimo/_zeromq/queue_manager.py
  marimo/_zeromq/queue_proxy.py
  marimo/_zeromq/types.py
  pyproject.toml
  tests/_zeromq/test_kernel_communication.py
Owners: @akshayka

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
