Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

fix: use hungarian algorithm opposed to greedy match
  marimo/_ast/cell_manager.py
  tests/_ast/test_cell_manager.py
Owners: @dmadisetti

change to key of exp features
  frontend/src/core/config/feature-flag.tsx
Owners: @manzt, @light2dark

fix test
  frontend/src/core/ai/__tests__/model-registry.test.ts
Owners: @manzt, @light2dark

fix: fix mkdocs.yml to correct docs darkmode button action
  mkdocs.yml
Owners: none

fix: update mkdocs.yml to use "brightness-auto" icon for light and dark modes
  mkdocs.yml
Owners: none

show empty dbs, but only for defined duckdb connections
  frontend/src/components/datasources/datasources.tsx
  frontend/src/core/datasets/engines.ts
  marimo/_data/get_datasets.py
  tests/_data/test_get_datasets.py
Owners: @manzt, @light2dark

fix test
  marimo/_cli/upgrade.py
  marimo/_utils/config/config.py
  tests/_cli/test_cli.py
Owners: none

fix: fix mkdocs.yml to correct docs darkmode button action (#6105)
  mkdocs.yml
Owners: none

clean tests
  tests/_data/test_get_datasets.py
Owners: none

simplify
  tests/_data/test_get_datasets.py
Owners: none

typecheck
  marimo/_data/get_datasets.py
Owners: @light2dark

rename
  marimo/_data/get_datasets.py
Owners: @light2dark

fix: katex can't be italics
  frontend/src/css/katex.min.css
Owners: @manzt, @light2dark

fix test
  tests/_cli/test_upgrade.py
Owners: none

Update ai_completion.md
  docs/guides/editor_features/ai_completion.md
Owners: @akshayka

use memoized function and completion atom
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
  frontend/src/core/config/config.ts
Owners: @manzt, @light2dark

actually render bullet list
  docs/guides/editor_features/ai_completion.md
Owners: @akshayka

optimize
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

fix: katex can't be italics (#6120)
  frontend/src/css/katex.min.css
Owners: @manzt, @light2dark

use spread instead
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

reduce offset
  frontend/src/components/ai/ai-model-dropdown.tsx
Owners: @manzt, @light2dark

fix tests
  tests/_sql/test_duckdb.py
  tests/_sql/test_get_engines.py
Owners: none

fix: Catch script edgecase for convert (#6115)
  marimo/_cli/cli.py
  tests/_cli/test_cli.py
Owners: none

wip
  frontend/package.json
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/tool-call-accordion.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/plugins/impl/chat/chat-ui.tsx
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  marimo/_ai/llm/_impl.py
  marimo/_plugins/ui/_impl/chat/utils.py
  marimo/_server/ai/providers.py
  marimo/_server/api/endpoints/ai.py
  pnpm-lock.yaml
  tests/_ai/test_chat_convert.py
Owners: @mscolnick, @manzt, @light2dark

Show empty databases, but only for defined duckdb connections (#6119)
  frontend/src/components/datasources/datasources.tsx
  frontend/src/core/datasets/engines.ts
  marimo/_data/get_datasets.py
  tests/_data/test_get_datasets.py
  tests/_sql/test_duckdb.py
  tests/_sql/test_get_engines.py
Owners: @manzt, @light2dark

Add back thinking & model card (#6113)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
  frontend/src/core/config/config.ts
Owners: @manzt, @light2dark

Minor fix to docs: show bullet list. (#6121)
  docs/guides/editor_features/ai_completion.md
Owners: @akshayka

strongly type backend experimental flag (#6100)
  frontend/src/core/config/feature-flag.tsx
  marimo/_cli/development/commands.py
  marimo/_cli/envinfo.py
  marimo/_config/config.py
  marimo/_config/manager.py
  marimo/_runtime/threads.py
  marimo/_save/stores/__init__.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/api/endpoints/test_ws.py
Owners: @manzt, @light2dark, @dmadisetti

test + fix: add bias to dupe resolution, and more aggressive testing
  marimo/_ast/cell_manager.py
  marimo/_utils/cell_matching.py
  tests/_ast/test_cell_manager.py
Owners: @dmadisetti

Update language links in README_Traditional_Chinese.md
  README_Traditional_Chinese.md
Owners: none

use modified sql dialect
  frontend/src/core/codemirror/language/languages/sql/completion-store.ts
  frontend/src/core/codemirror/language/languages/sql/utils.ts
Owners: @manzt, @light2dark

ruff: typechecking and lint
  marimo/_ast/cell_manager.py
  marimo/_utils/cell_matching.py
  tests/_ast/test_cell_manager.py
Owners: @dmadisetti

comments
  frontend/src/core/codemirror/language/languages/sql/utils.ts
Owners: @manzt, @light2dark

comment
  frontend/src/core/codemirror/language/languages/sql/utils.ts
Owners: @manzt, @light2dark

fix: dictionaries should be ordered, but it's not a strong garuntee. Quick clean up
  marimo/_ast/cell_manager.py
  marimo/_utils/cell_matching.py
Owners: @dmadisetti

test: Fix test and add sanity check that the code is actually correct
  tests/_ast/test_cell_manager.py
  tests/_server/test_file_manager.py
Owners: none

fix: chat sidebar perf improvments
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/utils/__tests__/storage.test.ts
  frontend/src/utils/storage.ts
Owners: @manzt, @light2dark

ignore some for windows
  tests/_cli/test_cli.py
  tests/_utils/test_xdg.py
Owners: none

cleanup: xdg config commons and migrate utils to use Path (#6101)
  marimo/_cli/upgrade.py
  marimo/_config/cli_state.py
  marimo/_config/utils.py
  marimo/_loggers.py
  marimo/_server/recents.py
  marimo/_tracer.py
  marimo/_utils/config/config.py
  marimo/_utils/xdg.py
  tests/_cli/test_cli.py
  tests/_cli/test_upgrade.py
  tests/_config/test_config_utils.py
  tests/_utils/config/test_config_reader.py
  tests/_utils/test_xdg.py
Owners: none

fix test
  frontend/src/__tests__/chat-utils.test.ts
Owners: @manzt, @light2dark

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
