Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

wip: ai context registry
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/context-providers.ts
  frontend/src/core/ai/context/registry.ts
Owners: @manzt, @light2dark

split up files
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
Owners: @manzt, @light2dark

tests
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/__tests__/variable.test.ts
Owners: @manzt, @light2dark

allow delete wip
  marimo/_runtime/dataflow.py
  marimo/_runtime/validate_graph.py
Owners: @dmadisetti

delete nonlocal is no longer an error
  marimo/_runtime/validate_graph.py
Owners: @dmadisetti

Allow deletion of nonlocal variables
  marimo/_ast/app.py
  marimo/_ast/errors.py
  marimo/_cli/development/commands.py
  marimo/_messaging/errors.py
  marimo/_runtime/dataflow.py
  marimo/_runtime/runner/cell_runner.py
  marimo/_runtime/runner/hooks_on_finish.py
  marimo/_runtime/validate_graph.py
  tests/_ast/test_app.py
  tests/_messaging/test_messaging_errors.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_runtime.py
  tests/_runtime/test_validate_graph.py
Owners: @dmadisetti

delete debugging line
  marimo/_runtime/runner/cell_runner.py
Owners: @dmadisetti

Update openapi schemas
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

docs: recommend entering the `pixi shell`
  CONTRIBUTING.md
Owners: none

revert to original logic
  frontend/src/components/tracing/tracing-spec.ts
Owners: @manzt, @light2dark

fix: revert logic for steps in tracing-chart (#5968)
  frontend/src/components/tracing/tracing-spec.ts
Owners: @manzt, @light2dark

Move network request layer to React Context
  frontend/src/core/MarimoApp.tsx
  frontend/src/core/network/requests.ts
Owners: @manzt, @light2dark

Migrate test files to request context pattern
  frontend/src/__mocks__/requests.ts
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/core/MarimoApp.tsx
  frontend/src/core/cells/add-missing-import.ts
  frontend/src/core/cells/effects.ts
  frontend/src/core/codemirror/__tests__/format.test.ts
  frontend/src/core/codemirror/compat/__tests__/jupyter.test.ts
  frontend/src/core/codemirror/format.ts
  frontend/src/core/codemirror/markdown/__tests__/commands.test.ts
  frontend/src/core/network/requests.ts
Owners: @manzt, @light2dark

use codemirror-mcp
  frontend/package.json
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completions.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/variable.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/__tests__/variable.test.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/codemirror/ai/resources.ts
  frontend/src/core/codemirror/completion/variable-completions.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

fixes
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/codemirror/ai/resources.ts
Owners: @manzt, @light2dark

renames
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/providers/__tests__/__snapshots__/tables.test.ts.snap
  frontend/src/core/ai/context/providers/__tests__/tables.test.ts
  frontend/src/core/ai/context/providers/tables.ts
  frontend/src/core/ai/context/providers/variable.ts
  frontend/src/core/ai/context/registry.ts
  frontend/src/core/codemirror/ai/resources.ts
Owners: @manzt, @light2dark

only form datetime when value.length > 12
  frontend/src/components/data-table/columns.tsx
Owners: @manzt, @light2dark

Fix tests and typechecking
  frontend/src/components/editor/cell/useAddCell.ts
  frontend/src/core/cells/effects.ts
  frontend/src/core/websocket/useMarimoWebSocket.tsx
Owners: @manzt, @light2dark

improve: make it possible to close open snippet (#5954)
  frontend/src/components/editor/chrome/panels/snippets-panel.tsx
Owners: @manzt, @light2dark

comments, fix test
  marimo/_runtime/dataflow.py
  tests/_runtime/test_trace.py
Owners: @dmadisetti

fix variables on cycle error edge, add more tests
  marimo/_runtime/validate_graph.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_runtime.py
  tests/_runtime/test_validate_graph.py
Owners: @dmadisetti

docs: memory management
  docs/guides/expensive_notebooks.md
  docs/guides/reactivity.md
Owners: @akshayka

fix typo in test
  tests/_runtime/test_dataflow.py
Owners: none

Allow deleting variables defined by other cells (#5966)
  docs/guides/expensive_notebooks.md
  docs/guides/reactivity.md
  marimo/_ast/app.py
  marimo/_ast/errors.py
  marimo/_cli/development/commands.py
  marimo/_messaging/errors.py
  marimo/_runtime/dataflow.py
  marimo/_runtime/runner/cell_runner.py
  marimo/_runtime/runner/hooks_on_finish.py
  marimo/_runtime/validate_graph.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_ast/test_app.py
  tests/_messaging/test_messaging_errors.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_runtime.py
  tests/_runtime/test_trace.py
  tests/_runtime/test_validate_graph.py
Owners: @akshayka, @dmadisetti

support certain formats
  frontend/src/components/data-table/columns.tsx
  frontend/src/utils/__tests__/dates.test.ts
  frontend/src/utils/dates.ts
Owners: @manzt, @light2dark

changed ibis get_databases to get all the databases and not just the default one
  marimo/_sql/engines/ibis.py
Owners: @light2dark

added more catalog tests
  tests/_sql/test_ibis.py
Owners: none

added smoke tests for multiple catalogs
  marimo/_smoke_tests/sql/ibis_backend_catalog.py
Owners: none

render the tables
  marimo/_smoke_tests/sql/ibis_backend_catalog.py
Owners: none

linting
  marimo/_sql/engines/ibis.py
Owners: @light2dark

remove nonlocal error checks
  frontend/src/components/editor/output/MarimoErrorOutput.tsx
Owners: @manzt, @light2dark

formattingand linting
  tests/_sql/test_ibis.py
Owners: none

Remove handling for deleted `delete-nonlocal` error type
  frontend/src/components/editor/output/MarimoErrorOutput.tsx
Owners: @manzt, @light2dark

Update CI filters to point to `packages/**`
  .github/workflows/test_fe.yaml
  .github/workflows/test_fe_dagger.yaml.skip
Owners: @mscolnick, @manzt

Remove handling for deleted `delete-nonlocal` error type (#5980)
  .github/workflows/test_fe.yaml
  .github/workflows/test_fe_dagger.yaml.skip
  frontend/src/components/editor/output/MarimoErrorOutput.tsx
Owners: @mscolnick, @manzt, @light2dark

Fix stylelint
  frontend/.stylelintrc.cjs
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

Remove one more `blur-sm` mismatch
  frontend/src/components/editor/actions/name-cell-input.tsx
Owners: @manzt, @light2dark

Migrate custom box-shadow utilities to globals.css
  frontend/src/css/app/Cell.css
  frontend/src/css/globals.css
  frontend/tailwind.config.cjs
Owners: @manzt, @light2dark

Fix migration false positives
  frontend/src/components/data-table/charts/components/chart-items.tsx
  frontend/src/components/editor/chrome/types.ts
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/variables/common.tsx
  frontend/src/core/islands/components/output-wrapper.tsx
  frontend/src/css/globals.css
Owners: @manzt, @light2dark

Add `@reference` to css files
  frontend/.storybook/sb.css
  frontend/src/components/dependency-graph/dependency-graph.css
  frontend/src/components/editor/chrome/panels/outline-panel.css
  frontend/src/components/editor/chrome/panels/snippets-panel.css
  frontend/src/components/editor/documentation.css
  frontend/src/components/editor/header/filename-input.css
  frontend/src/components/editor/inputs/Inputs.css
  frontend/src/components/editor/output/Outputs.css
  frontend/src/components/editor/renderers/vertical-layout/sidebar/sidebar.css
  frontend/src/components/icons/multi-icon.css
  frontend/src/core/islands/islands.css
  frontend/src/css/admonition.css
  frontend/src/css/app/Cell.css
  frontend/src/css/app/codemirror-completions.css
  frontend/src/css/app/codemirror.css
  frontend/src/css/app/print.css
  frontend/src/css/common.css
  frontend/src/css/md-tooltip.css
  frontend/src/css/md.css
  frontend/src/css/progress.css
  frontend/src/css/table.css
  frontend/src/plugins/impl/vega/vega.css
  frontend/src/plugins/layout/navigation-menu.css
Owners: @manzt, @light2dark

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
