Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

fix: check node version
  marimo/_server/lsp.py
  tests/_server/test_lsp.py
Owners: none

fix: GitHub copilot resiliency with LSP proxy retry
  marimo/_runtime/requests.py
  marimo/_server/api/middleware.py
  marimo/_server/sessions.py
Owners: @dmadisetti

add codes
  marimo/_server/api/endpoints/ws.py
  marimo/_server/api/middleware.py
  marimo/_server/codes.py
  tests/_server/api/endpoints/test_ws.py
Owners: none

fix
  marimo/_server/api/middleware.py
Owners: none

clearer comment
  marimo/_server/lsp.py
Owners: none

typo
  marimo/_server/lsp.py
Owners: none

refactor: adjust cell matching for --watch (#6127)
  marimo/_ast/cell_manager.py
  marimo/_utils/cell_matching.py
  tests/_ast/test_cell_manager.py
  tests/_server/test_file_manager.py
Owners: @dmadisetti

fix: GitHub copilot resiliency with LSP proxy retry (#6131)
  marimo/_runtime/requests.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/api/middleware.py
  marimo/_server/codes.py
  marimo/_server/sessions.py
  tests/_server/api/endpoints/test_ws.py
Owners: @dmadisetti

improvement: check node version (#6130)
  marimo/_server/lsp.py
  tests/_server/test_lsp.py
Owners: none

missed a spot
  frontend/src/core/codemirror/language/languages/sql/completion-store.ts
Owners: @manzt, @light2dark

small nits
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/utils/__tests__/storage.test.ts
  frontend/src/utils/storage.ts
Owners: @manzt, @light2dark

fix: correct typo in comments for accessibility
  tests/_runtime/test_runtime.py
  tests/_runtime/test_trace.py
Owners: none

fix: show copy and wrap text buttons only when there are console outputs
  frontend/src/components/editor/output/ConsoleOutput.tsx
Owners: @manzt, @light2dark

added extra_headers to [ai.open_ai] in config
  marimo/_config/config.py
  marimo/_server/ai/config.py
  marimo/_server/ai/providers.py
  marimo/_server/codes.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  packages/openapi/src/notebook.ts
  packages/openapi/src/session.ts
  tests/_server/ai/test_ai_config.py
Owners: none

fix: chat sidebar perf improvments (#6129)
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/utils/__tests__/storage.test.ts
  frontend/src/utils/storage.ts
Owners: @manzt, @light2dark

use opinionated standard sql dialect (#6128)
  frontend/src/core/codemirror/language/languages/sql/completion-store.ts
  frontend/src/core/codemirror/language/languages/sql/utils.ts
Owners: @manzt, @light2dark

use codegen
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

proper handling of requests to /health, /.well-known and ./assets
  frontend/vite.config.mts
Owners: none

improvement: add support for extra headers in OpenAI configuration (#6134)
  marimo/_config/config.py
  marimo/_server/ai/config.py
  marimo/_server/ai/providers.py
  marimo/_server/codes.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/test_ai_config.py
Owners: none

Proper handling of requests to /health, /.well-known and ./assets in the vite dev setup (#6135)
  frontend/vite.config.mts
Owners: none

fix: use 'uv tree' to list packages if available
  marimo/_runtime/packages/pypi_package_manager.py
  tests/_runtime/packages/test_pypi_package_manager.py
Owners: @dmadisetti

sort and keyby
  marimo/_runtime/packages/pypi_package_manager.py
  tests/_runtime/packages/test_pypi_package_manager.py
Owners: @dmadisetti

improvement: add tab to configure "Displayed models" in the AI configuration
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/app-config-button.tsx
  frontend/src/components/app-config/app-config-form.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
  frontend/src/hooks/useDebounce.ts
Owners: @manzt, @light2dark

fix: improve text overflow handling in NameCellContentEditable
  frontend/src/components/editor/actions/name-cell-input.tsx
  frontend/src/components/editor/output/ConsoleOutput.tsx
Owners: @manzt, @light2dark

perf: start LSP and MCP in the background, avoid repetitive io reads
  marimo/_config/manager.py
  marimo/_config/utils.py
  marimo/_runtime/context/script_context.py
  marimo/_server/api/endpoints/config.py
  marimo/_server/api/lifespans.py
  marimo/_server/lsp.py
  marimo/_server/sessions.py
  marimo/_utils/timer.py
Owners: @dmadisetti

run lsps in parallel
  marimo/_server/lsp.py
Owners: none

use local whl
  .github/workflows/test_cli.yaml
Owners: @mscolnick, @manzt

fix test
  tests/_config/test_config_utils.py
Owners: none

perf: lazy-load command pallete and sidebar panels
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/actions/useNotebookActions.tsx
  frontend/src/components/editor/chrome/panels/datasources-panel.tsx
  frontend/src/components/editor/chrome/panels/dependency-graph-panel.tsx
  frontend/src/components/editor/chrome/panels/documentation-panel.tsx
  frontend/src/components/editor/chrome/panels/error-panel.tsx
  frontend/src/components/editor/chrome/panels/file-explorer-panel.tsx
  frontend/src/components/editor/chrome/panels/logs-panel.tsx
  frontend/src/components/editor/chrome/panels/outline-panel.tsx
  frontend/src/components/editor/chrome/panels/packages-panel.tsx
  frontend/src/components/editor/chrome/panels/scratchpad-panel.tsx
  frontend/src/components/editor/chrome/panels/secrets-panel.tsx
  frontend/src/components/editor/chrome/panels/snippets-panel.tsx
  frontend/src/components/editor/chrome/panels/tracing-panel.tsx
  frontend/src/components/editor/chrome/panels/variable-panel.tsx
  frontend/src/components/editor/chrome/wrapper/app-chrome.tsx
  frontend/src/components/editor/controls/command-palette-button.tsx
  frontend/src/components/editor/controls/command-palette.tsx
  frontend/src/components/editor/controls/state.ts
  frontend/src/components/pages/edit-page.tsx
Owners: @manzt, @light2dark

fix test
  tests/_server/test_lsp.py
Owners: none

Fix cellname overlap (#6133)
  frontend/src/components/editor/actions/name-cell-input.tsx
  frontend/src/components/editor/output/ConsoleOutput.tsx
  tests/_runtime/test_runtime.py
  tests/_runtime/test_trace.py
Owners: @manzt, @light2dark

loosen typings and add test for parse raw
  marimo/_config/config.py
  marimo/_config/manager.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_utils/test_parse_dataclass.py
Owners: none

better comment
  marimo/_config/config.py
Owners: none

add expande button for accessibility and typechecks
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/app-config-form.tsx
  frontend/src/hooks/useDebounce.ts
Owners: @manzt, @light2dark

add back on submit
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

typecheck
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

better display, semantics
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/display-helpers.tsx
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

better order of models
  packages/llm-info/data/models.yml
Owners: none

better model display in models page (#6145)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/display-helpers.tsx
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

improvement: add tab to configure "Displayed models" in the AI configuration (#6140)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/display-helpers.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/app-config-button.tsx
  frontend/src/components/app-config/app-config-form.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
  frontend/src/hooks/useDebounce.ts
Owners: @manzt, @light2dark
