Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

fix: rtc null pointer (#6047)
  frontend/src/components/slides/slides.css
  frontend/src/core/cells/cells.ts
  frontend/src/plugins/layout/carousel/CarouselPlugin.tsx
Owners: @manzt, @light2dark

add GitHub as a provider, add OpenAI models (#6044)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/core/ai/ids/__tests__/ids.test.ts
  frontend/src/core/ai/ids/ids.ts
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_server/ai/config.py
  marimo/_smoke_tests/ai/github_model_check.py
  marimo/_smoke_tests/ai/model_check.py
  packages/llm-info/data/models.yml
  packages/llm-info/data/providers.yml
  packages/llm-info/icons/github.svg
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_output/formatters/test_formatters.py
  tests/_server/ai/test_ai_config.py
Owners: @manzt, @light2dark

Using MARIMO_ROOT_DIR environment variable to support changing root dir
  marimo/_utils/config/config.py
Owners: none

Fix Tailwind v4 shadow colors
  frontend/src/components/editor/output/CalloutOutput.styles.ts
  frontend/src/components/editor/renderers/CellArray.tsx
Owners: @manzt, @light2dark

Fix Tailwind v4 shadow colors (#6050)
  frontend/src/components/editor/output/CalloutOutput.styles.ts
  frontend/src/components/editor/renderers/CellArray.tsx
Owners: @manzt, @light2dark

Fix borderless cell dividers after Tailwind v4 migration
  frontend/src/css/app/Cell.css
Owners: @manzt, @light2dark

Fix borderless cell dividers after Tailwind v4 migration (#6051)
  frontend/src/css/app/Cell.css
Owners: @manzt, @light2dark

tests: add dataflow test cases
  tests/_runtime/test_dataflow_cases.py
Owners: none

bump max heap
  frontend/package.json
Owners: @mscolnick, @manzt

preview: Improved SQL completions, linting, and hover (#5938)
  frontend/package.json
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/cell/CreateCellButton.tsx
  frontend/src/components/editor/cell/code/language-toggle.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/codemirror/language/LanguageAdapters.ts
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/language/extension.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/README.md
  frontend/src/core/codemirror/language/languages/sql-dialects/duckdb.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/spec_duckdb.py
  frontend/src/core/codemirror/language/languages/sql/completion-sources.tsx
  frontend/src/core/codemirror/language/languages/sql/completion-store.ts
  frontend/src/core/codemirror/language/languages/sql/sql.ts
  frontend/src/core/codemirror/language/languages/sql/utils.ts
  frontend/src/core/codemirror/language/panel/panel.tsx
  frontend/src/core/config/feature-flag.tsx
  frontend/src/theme/useTheme.ts
  pnpm-lock.yaml
  pyproject.toml
Owners: @mscolnick, @manzt, @light2dark, @akshayka

Update config.py
  marimo/_utils/config/config.py
Owners: none

tests: add dataflow test cases (#6053)
  tests/_runtime/test_dataflow_cases.py
Owners: none

Make configurable shortcut
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/hotkeys/hotkeys.ts
  frontend/src/core/hotkeys/shortcuts.ts
Owners: @manzt, @light2dark

Use `Shift+Escape` for Command Mode on Windows with vim bindings
  docs/guides/editor_features/overview.md
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/hotkeys/shortcuts.ts
Owners: @akshayka, @manzt, @light2dark

fix: close completion without going into command mode
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/codemirror/completion/keymap.ts
  frontend/src/core/codemirror/keymaps/keymaps.ts
Owners: @manzt, @light2dark

fix true
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/core/codemirror/__tests__/__snapshots__/setup.test.ts.snap
  frontend/src/core/codemirror/__tests__/setup.test.ts
Owners: @manzt, @light2dark

refactor: Utilize Hatch test env & organize dependency groups
  Makefile
  pyproject.toml
Owners: @akshayka

fix: move dev dependency group to hatch env definition
  pyproject.toml
Owners: @akshayka

fix(ci): match workflow to new test invocation
  .github/workflows/test_be.yaml
Owners: @mscolnick, @manzt

fix(ci): match workflow to new test invocation (minimal deps)
  .github/workflows/test_be.yaml
Owners: @mscolnick, @manzt

fix: typecheck dependencies
  pixi.lock
  pyproject.toml
Owners: @akshayka

fix: disable broken dependency, include uv lockfile in vcs
  .gitignore
  pyproject.toml
  uv.lock
Owners: @akshayka

fix: mypy typing error
  marimo/_sql/utils.py
Owners: @light2dark

refactor hook and add dropdown on second row
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/core/ai/config.ts
  frontend/src/core/config/config-schema.ts
Owners: @manzt, @light2dark

fix: close completion without going into command mode (#6059)
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/codemirror/__tests__/__snapshots__/setup.test.ts.snap
  frontend/src/core/codemirror/__tests__/setup.test.ts
  frontend/src/core/codemirror/completion/keymap.ts
  frontend/src/core/codemirror/keymaps/keymaps.ts
Owners: @manzt, @light2dark

larger height
  frontend/src/components/data-table/columns.tsx
Owners: @manzt, @light2dark

show box drawings in tables better
  frontend/src/components/data-table/columns.tsx
Owners: @manzt, @light2dark

move logic to the backend and add as a dtype
  frontend/src/components/data-table/columns.tsx
  frontend/src/components/data-table/types.ts
  marimo/_data/models.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
Owners: @manzt, @light2dark

fix: move `optional`-labeled deps to `dependency-groups`
  pyproject.toml
  uv.lock
Owners: @akshayka

docs: updated AI docs
  docs/guides/editor_features/ai_completion.md
Owners: @akshayka

fix: typos in environment references
  .github/workflows/test_be.yaml
  pyproject.toml
Owners: @mscolnick, @manzt, @akshayka

improvement: cache sql parsing
  marimo/_ast/cell.py
  marimo/_ast/visitor.py
  tests/_server/api/endpoints/test_ws.py
Owners: @dmadisetti

supress warning logs
  marimo/_ast/sql_utils.py
  marimo/_ast/sql_visitor.py
  marimo/_loggers.py
Owners: @dmadisetti

fix
  marimo/_ast/cell.py
Owners: @dmadisetti

fix: ignore table filters from unknown columns
  marimo/_plugins/ui/_impl/table.py
  tests/_plugins/ui/_impl/test_table.py
Owners: none

improvement: cache sql parsing (#6068)
  marimo/_ast/cell.py
  marimo/_ast/sql_utils.py
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_loggers.py
  tests/_server/api/endpoints/test_ws.py
Owners: @dmadisetti

refactor: update AI provider and conversion functions for async support
  marimo/_ai/_convert.py
  marimo/_server/ai/providers.py
  marimo/_server/api/endpoints/ai.py
  tests/_server/ai/test_providers.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

add common types to type checking
  pyproject.toml
Owners: @akshayka

skip test
  tests/_ai/llm/test_impl.py
Owners: none

fix
  tests/_server/api/endpoints/test_ai.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
