Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

add checks in sql defs and refs creation
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  tests/_ast/test_visitor.py
Owners: @dmadisetti

Add mapping for 'upath' to 'universal-pathlib'
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

Update marimo/_runtime/dataflow.py
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

Add mcp flag and save to state as bool
  marimo/_cli/cli.py
  marimo/_server/api/deps.py
  marimo/_server/start.py
Owners: none

Created mcp server endpoint with tests
  marimo/_server/api/endpoints/mcp.py
  tests/_server/api/endpoints/test_mcp_server.py
Owners: none

Add lifespan with dynamic print instructions and hook endpoint to router
  marimo/_server/api/lifespans.py
  marimo/_server/api/router.py
  marimo/_server/print.py
Owners: none

Add mcp server with tools, helper functions, and tests
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/main.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  tests/_mcp/server/test_exceptions.py
  tests/_mcp/server/test_main.py
  tests/_mcp/server/test_responses.py
  tests/_mcp/server/tools/test_cells.py
  tests/_mcp/server/tools/test_notebooks.py
Owners: none

Add mcp flag dep
  pyproject.toml
Owners: @akshayka

remove test log
  marimo/_server/api/lifespans.py
Owners: none

Fix python 3.10 compatability issue with Generic types + TypedDict
  marimo/_mcp/server/responses.py
Owners: none

Fix lint errors
  marimo/_mcp/server/responses.py
Owners: none

fix(frontend#oso): small packaging fix for pyoso
  frontend/src/oso-extensions/wasm/controller.tsx
Owners: @manzt, @light2dark

Group options before arguments
  marimo/_cli/cli.py
Owners: none

add test cases for visitor
  tests/_ast/test_visitor.py
Owners: none

add test cases for visitor defs and refs (#6224)
  tests/_ast/test_visitor.py
Owners: none

Add hidden to mcp flag
  marimo/_cli/cli.py
Owners: none

add warning when styling and sorting together
  marimo/_plugins/ui/_impl/table.py
Owners: none

Add mapping for 'upath' to 'universal-pathlib' (#6221)
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

add warning when styling and sorting together (#6225)
  marimo/_plugins/ui/_impl/table.py
Owners: none

refactor a little bit of mcp code
  marimo/_ast/cell.py
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  tests/_mcp/server/tools/test_cells.py
Owners: @dmadisetti

sql cells can't both define and refer to itself (#6216)
  marimo/_ast/visitor.py
  tests/_ast/test_visitor.py
  tests/_runtime/test_dataflow.py
Owners: @dmadisetti

add claude.md snippet to docs
  docs/guides/generate_with_ai/prompts.md
Owners: @akshayka

fix(scripts#oso): address issue with linux-aarch64 in wasm-builder
  scripts/build_marimo_base_in_docker.sh
Owners: none

fix(frontenx#oso): inject env from fragment identifer
  frontend/src/oso-extensions/wrapper.tsx
Owners: @manzt, @light2dark

fix(frontend#oso): notebook can load code and env from fragment identifier
  frontend/notebook.html
Owners: none

fix(frontend#oso): introduce "FragmentStore"
  frontend/src/oso-extensions/fragment-store.ts
  frontend/src/oso-extensions/wrapper.tsx
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

fix(frontend#oso): allow overriding _all_ filestores
  frontend/src/core/wasm/store.ts
Owners: @manzt, @light2dark

fix(frontend#oso): override filestores with specified filestores on main html
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

fix(frontend#oso): move all fragment store code to typescript
  frontend/notebook.html
  frontend/src/oso-extensions/wrapper.tsx
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

fix(frontend#oso): load oso debug from fragment identifier
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

Add msgspec dependency
  pyproject.toml
Owners: @akshayka

Reorder timeout and prompt parameters in cli.py
  marimo/_cli/cli.py
Owners: none

Add custom `msgspec` encoder
  MSGSPEC_MIGRATION.md
  marimo/_messaging/msgspec_encoder.py
Owners: none

Migrate `CellOutput`
  marimo/_messaging/cell_output.py
Owners: none

Migrate `CompletionOption`
  marimo/_messaging/completion_option.py
Owners: none

Migrate all error types to msgspec.Struct
  marimo/_messaging/errors.py
Owners: none

Migrate all Op classes to msgspec.Struct
  marimo/_messaging/msgspec_encoder.py
  marimo/_messaging/ops.py
  marimo/_runtime/runner/hooks_post_execution.py
  marimo/_runtime/runtime.py
  tests/_messaging/test_ops.py
  tests/_server/session/test_session_view.py
Owners: @dmadisetti

Migrate all request types to msgspec.Struct
  marimo/_runtime/requests.py
Owners: @dmadisetti

Migrate data models to msgspec.Struct
  marimo/_data/models.py
Owners: @light2dark

Update WebSocket handler and parse_raw to use msgspec
  marimo/_messaging/msgspec_encoder.py
  marimo/_server/api/endpoints/ws.py
  marimo/_utils/parse_dataclass.py
Owners: none
