Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

fix: enable looser import + formatting requirements
  marimo/_ast/parse.py
Owners: @dmadisetti

more try catches
  marimo/_sql/engines/ibis.py
  marimo/_sql/get_engines.py
  tests/_sql/test_get_engines.py
Owners: @light2dark

better comment
  tests/_sql/test_get_engines.py
Owners: none

more try catches for datasource introspection (#6171)
  marimo/_sql/engines/ibis.py
  marimo/_sql/get_engines.py
  tests/_sql/test_get_engines.py
Owners: @light2dark

add custom model form
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

small cleanup
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

rename and validation on inputs
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

tidy: comment cleanup
  tests/_runtime/test_dataflow_cases.py
Owners: none

add test and cleanup ui code
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

use sort order from providers.json
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

fix: offset string
  marimo/_ast/parse.py
  tests/_ast/codegen_data/test_get_codes_multiline_string.py
  tests/_ast/test_load.py
Owners: @dmadisetti

[fix]fixed lossing focus of cell name input on context menu
  frontend/src/components/editor/cell/cell-context-menu.tsx
Owners: @manzt, @light2dark

use map for typesafety
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

test: import alias works
  tests/_ast/codegen_data/test_get_alias_import.py
  tests/_ast/test_load.py
Owners: none

tests: fix schema changes
  tests/_ast/test_compiler.py
  tests/_ast/test_sql_visitor.py
  tests/_ast/test_visitor.py
Owners: none

typing: view list
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
Owners: @dmadisetti

[fix]fixed lossing focus of cell name input on context menu (#6175)
  frontend/src/components/editor/cell/cell-context-menu.tsx
Owners: @manzt, @light2dark

add custom model form (#6174)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

fix: Enable qualified sql references to shadow regular variables (#6168)
  marimo/_ast/sql_visitor.py
  marimo/_ast/visitor.py
  marimo/_runtime/dataflow.py
  tests/_ast/test_compiler.py
  tests/_ast/test_sql_visitor.py
  tests/_ast/test_visitor.py
  tests/_runtime/test_dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

typing: ruff check
  marimo/_ast/parse.py
  tests/_ast/test_load.py
Owners: @dmadisetti

fix: _repr_mimebundle_ for img and tuple outputs (#6165)
  docs/guides/integrating_with_marimo/displaying_objects.md
  marimo/_output/formatters/repr_formatters.py
  marimo/_smoke_tests/ipython/img_mimebundle.py
  tests/_output/formatters/test_formatters.py
Owners: @akshayka

nits: ai sidebar styles and skip unecessary input parsing
  frontend/src/components/chat/markdown-renderer.css
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/editor/ai/completion-utils.ts
Owners: @manzt, @light2dark

include bigquery dialect and update codemirror-sql
  frontend/package.json
  frontend/src/core/codemirror/language/languages/sql/utils.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

snapshot: update
  tests/_server/export/snapshots/notebook_with_outputs.ipynb.txt
Owners: none

nits: ai sidebar styles and skip unecessary input parsing (#6177)
  frontend/src/components/chat/markdown-renderer.css
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/editor/ai/completion-utils.ts
Owners: @manzt, @light2dark

include bigquery dialect and update codemirror-sql (#6178)
  frontend/package.json
  frontend/src/core/codemirror/language/languages/sql/utils.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

fix: turn off toplevel function post hook in run mode
  marimo/_runtime/runtime.py
Owners: @dmadisetti

ui for attachments in chat sidebar
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

fix: fixes for functions and anywidget virtual file when auto-instantiate=off
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
  frontend/src/plugins/impl/anywidget/AnyWidgetPlugin.tsx
  frontend/src/plugins/impl/common/error-banner.tsx
Owners: @manzt, @light2dark

fix: send_message should be private
  marimo/_plugins/ui/_core/ui_element.py
Owners: none

fix: send_message should be private (#6185)
  marimo/_plugins/ui/_core/ui_element.py
Owners: none

fix: fixes for functions and anywidget virtual file when auto-instantiate=off (#6184)
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
  frontend/src/plugins/impl/anywidget/AnyWidgetPlugin.tsx
  frontend/src/plugins/impl/common/error-banner.tsx
Owners: @manzt, @light2dark

add experimental attachment, and move to parent
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

improvement: use * wildcard for matching secret path
  marimo/_config/secrets.py
  tests/_config/test_secrets_config.py
Owners: none

fix: turn off toplevel function post hook in run mode (#6180)
  marimo/_runtime/runtime.py
Owners: @dmadisetti

tests: -y for conversion test
  tests/_cli/test_cli.py
Owners: none

fix: more aggressive static parsing (#6176)
  marimo/_ast/parse.py
  tests/_ast/codegen_data/test_get_alias_import.py
  tests/_ast/codegen_data/test_get_codes_multiline_string.py
  tests/_ast/test_load.py
  tests/_server/export/snapshots/notebook_with_outputs.ipynb.txt
Owners: @dmadisetti

add a test, and optimize the function
  marimo/_config/secrets.py
  tests/_config/test_secrets_config.py
Owners: none

remove cast
  marimo/_config/secrets.py
Owners: none

add test and small optimize for secrets (#6191)
  marimo/_config/secrets.py
  tests/_config/test_secrets_config.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
