Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

Fix session_view test
  marimo/_server/models/completion.py
  tests/_server/session/test_session_view.py
Owners: none

Update pixi lock file
  pixi.lock
Owners: none

Update pixi lock file (#6249)
  pixi.lock
Owners: none

Make `convert_types.sh` work on both mac and linux
  packages/openapi/convert_types.sh
Owners: none

wip: cell output context, w/ screenshots
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/cell-output.test.ts
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
  frontend/src/core/ai/context/providers/cell-output.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/registry.ts
  marimo/_ai/_convert.py
Owners: @manzt, @light2dark

fix
  frontend/src/core/ai/context/__tests__/registry.test.ts
Owners: @manzt, @light2dark

Vertical layout cleanup for read mode rendering pipeline (#6248)
  frontend/src/components/editor/renderers/vertical-layout/vertical-layout.tsx
Owners: @manzt, @light2dark

Fix cell timing logic
  frontend/src/core/cells/cell.ts
Owners: @manzt, @light2dark

Collapse `unknown` type in number.ts
  frontend/src/utils/numbers.ts
Owners: @manzt, @light2dark

Add `dict=True` to `ColumnStats`
  marimo/_data/models.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
Owners: @light2dark

fix(frontend#oso): adds delete method to FragmentStore
  frontend/src/oso-extensions/fragment-store.ts
Owners: @manzt, @light2dark

feat(marimo#oso): adds oso extensions for marimo python backend
  marimo/oso/__init__.py
Owners: none

fix(frontend#oso): removes hacky env setup
  frontend/src/oso-extensions/wrapper.tsx
Owners: @manzt, @light2dark

fix(frontend#oso): wire together new oso marimo backend extensions
  frontend/src/oso-extensions/wasm/controller.tsx
Owners: @manzt, @light2dark

fix(wasm-builder#oso): ensure we limit build concurrency
  packages/wasm-builder/src/build-wasm.ts
Owners: none

fix(frontend#oso): clean up filestores
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

fix(frontend#oso): renames oso db connection as "OSO Warehouse"
  frontend/src/components/databases/display.tsx
Owners: @manzt, @light2dark

Avoid relying on `__dict__`
  marimo/_data/models.py
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
Owners: @light2dark

Directly create `Response` with encoded JSON instead of `JSONResponse`
  marimo/_server/api/endpoints/ai.py
  marimo/_server/router.py
Owners: none

Add `StructResponse`
  marimo/_messaging/msgspec_encoder.py
  marimo/_server/api/endpoints/ai.py
  marimo/_server/router.py
Owners: none

Move `StructResponse` under `marimo._server.responses`
  marimo/_messaging/msgspec_encoder.py
  marimo/_server/api/endpoints/ai.py
  marimo/_server/responses.py
  marimo/_server/router.py
Owners: none

Directly create `Response` with encoded JSON instead of `JSONResponse` (#6252)
  marimo/_server/api/endpoints/ai.py
  marimo/_server/responses.py
  marimo/_server/router.py
Owners: none

Fix `ColumnStats` normalization for msgspec (#6251)
  marimo/_data/models.py
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
Owners: @light2dark

wasm running
  frontend/src/core/wasm/worker/bootstrap.ts
  frontend/src/core/wasm/worker/getMarimoWheel.ts
Owners: @manzt, @light2dark

fix(marimo#oso): create function to dynamically enable debug logging in marmio backend
  marimo/oso/__init__.py
Owners: none

fix(frontend#oso): allow setting debug logging via FragmentStore
  frontend/src/oso-extensions/wrapper.tsx
Owners: @manzt, @light2dark

Use discriminated unions for `ControlRequests`
  frontend/src/components/datasources/column-preview.tsx
  frontend/src/components/datasources/datasources.tsx
  frontend/src/components/editor/cell/useDeleteCell.tsx
  frontend/src/components/editor/package-alert.tsx
  frontend/src/core/codemirror/completion/completer.ts
  frontend/src/core/codemirror/completion/hints.ts
  frontend/src/core/datasets/state.ts
  frontend/src/core/secrets/request-registry.ts
  frontend/src/plugins/impl/anywidget/model.ts
  marimo/_pyodide/pyodide_session.py
  marimo/_runtime/requests.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark, @dmadisetti

Eagerly parse `ControlRequest` in pyodide bridge
  marimo/_pyodide/pyodide_session.py
Owners: none

msgspec: fixes for some tests
  marimo/_server/api/endpoints/config.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/errors.py
  tests/_pyodide/test_restartable_task.py
  tests/_server/api/endpoints/test_export.py
  tests/_server/api/endpoints/test_files.py
  tests/_server/api/endpoints/test_kiosk.py
  tests/_server/api/endpoints/test_packages.py
  tests/_server/api/endpoints/test_resume_session.py
  tests/_server/api/endpoints/test_ws.py
  tests/_server/api/endpoints/test_ws_rtc.py
  tests/_server/test_errors.py
Owners: none

fix(marimo#oso): fix injected code formatting
  marimo/oso/__init__.py
Owners: none

msgspec: fixes for some tests (#6254)
  marimo/_server/api/endpoints/config.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/errors.py
  tests/_pyodide/test_restartable_task.py
  tests/_server/api/endpoints/test_export.py
  tests/_server/api/endpoints/test_files.py
  tests/_server/api/endpoints/test_kiosk.py
  tests/_server/api/endpoints/test_packages.py
  tests/_server/api/endpoints/test_resume_session.py
  tests/_server/api/endpoints/test_ws.py
  tests/_server/api/endpoints/test_ws_rtc.py
  tests/_server/test_errors.py
Owners: none

Eagerly parse `ControlRequest` in pyodide bridge (#6255)
  marimo/_pyodide/pyodide_session.py
Owners: none

more casing
  tests/_server/api/endpoints/test_execution.py
  tests/_server/api/endpoints/test_resume_session.py
  tests/_server/api/endpoints/test_ws.py
Owners: none

more test fixes
  marimo/_server/api/endpoints/home.py
  tests/_server/api/endpoints/test_ai.py
  tests/_server/api/endpoints/test_datasources.py
  tests/_server/api/endpoints/test_editing.py
  tests/_server/api/endpoints/test_execution.py
  tests/_server/api/endpoints/test_export.py
  tests/_server/api/endpoints/test_file_explorer.py
  tests/_server/api/endpoints/test_home.py
  tests/_server/api/endpoints/test_resume_session.py
Owners: none

Add multi-column sorting with stack-based behavior
  .claude/settings.local.json
  frontend/src/components/data-table/data-table.tsx
  frontend/src/components/data-table/header-items.tsx
  frontend/src/plugins/impl/DataTablePlugin.tsx
  frontend/src/plugins/impl/data-frames/DataFramePlugin.tsx
  marimo/_plugins/ui/_impl/dataframes/dataframe.py
  marimo/_plugins/ui/_impl/table.py
  marimo/_plugins/ui/_impl/tables/default_table.py
  marimo/_plugins/ui/_impl/tables/ibis_table.py
  marimo/_plugins/ui/_impl/tables/narwhals_table.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  tests/_plugins/ui/_impl/tables/test_default_table.py
  tests/_plugins/ui/_impl/tables/test_ibis_table.py
  tests/_plugins/ui/_impl/tables/test_selection.py
  tests/_plugins/ui/_impl/test_table.py
Owners: @manzt, @light2dark

Remove Claude settings file
  .claude/settings.local.json
Owners: none

fix test
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/providers/__tests__/cell-output.test.ts
  frontend/src/core/ai/context/providers/cell-output.ts
  frontend/src/core/ai/context/registry.ts
Owners: @manzt, @light2dark

Use `DataclassParser` for dataclasses
  marimo/_utils/parse_dataclass.py
Owners: none

Use compact JSON for snapshot to match msgspec
  tests/_plugins/ui/_impl/tables/test_default_table.py
Owners: none

fixes
  tests/_runtime/test_complete.py
  tests/_runtime/test_threads.py
  tests/_runtime/test_trace.py
  tests/_utils/test_parse_dataclass.py
  tests/_utils/test_uv_tree.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
