Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

remove uneccesary keys in google tools ai call
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: none

If the gpu stats command fails, don't run it again on every usage check
  marimo/_server/api/endpoints/health.py
Owners: none

remove uneccesary keys in google tools ai call (#6201)
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: none

Added default_sort and ascending keyword arguments to table
  marimo/_plugins/ui/_impl/table.py
Owners: none

Added table sort unit tests
  tests/_plugins/ui/_impl/test_table.py
Owners: none

feat: add asset URL support for templates and server
  marimo/_cli/cli.py
  marimo/_server/api/deps.py
  marimo/_server/api/endpoints/assets.py
  marimo/_server/start.py
  marimo/_server/templates/templates.py
  tests/_server/templates/test_templates.py
Owners: none

Fix storybook tailwindCSS compatibility issues
  frontend/.storybook/preview.tsx
  frontend/.storybook/sb.css
Owners: none

Replaced keyword arguments in constructor for new method
  marimo/_plugins/ui/_impl/table.py
Owners: none

Fixed indentation of sort method
  marimo/_plugins/ui/_impl/table.py
Owners: none

Updated sort method logic
  marimo/_plugins/ui/_impl/table.py
Owners: none

Updated unit tests
  tests/_plugins/ui/_impl/test_table.py
Owners: none

Deleted redundant non-existent column unit test
  tests/_plugins/ui/_impl/test_table.py
Owners: none

Fix storybook's missing requestClientAtom dependency
  frontend/src/stories/cell.stories.tsx
Owners: @manzt, @light2dark

Fix storybook's missing requestClientAtom dependency
  frontend/src/stories/cell.stories.tsx
Owners: @manzt, @light2dark

remove state flash model, update openai 5 models
  packages/llm-info/data/models.yml
Owners: none

another pr for the gemini stuff
  packages/llm-info/data/models.yml
Owners: none

put 5 on top
  packages/llm-info/data/models.yml
Owners: none

update models file
  packages/llm-info/data/models.yml
Owners: none

add flash-lite too
  packages/llm-info/data/models.yml
Owners: none

fix(frontend#oso): sort imports
  frontend/oso.viteconfig.mts
Owners: none

fix(frontend#oso): remove unneeded debugging statement
  frontend/src/oso-extensions/wasm/controller.tsx
Owners: @manzt, @light2dark

fix(wasm-builder): rename to wasm-builder
  packages/wasm-builder/README.md
  packages/wasm-builder/package.json
  packages/wasm-builder/src/build-wasm.ts
  packages/wasm-builder/src/index.ts
  packages/wasm-builder/src/server.ts
  packages/wasm-builder/tsconfig.json
Owners: @mscolnick, @manzt

update model names
  packages/llm-info/data/models.yml
Owners: none

fix(scripts#oso): fixes oso related wasm build script
  scripts/build_production_marimo_wasm.sh
Owners: none

whitespace
  packages/llm-info/data/models.yml
Owners: none

chore: update lock
  pnpm-lock.yaml
Owners: none

cells can't both define and refer to itself
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow.py
Owners: @dmadisetti

fix(scripts#oso): rename build script
  scripts/build_marimo_static_dist.sh
Owners: none

docs: Add some notes on deploying programmatically
  docs/guides/deploying/programmatically.md
Owners: @akshayka

Update Gemini2.5 models (#6215)
  packages/llm-info/data/models.yml
Owners: none

compat: backwards enable markdown version
  tests/mocks.py
Owners: none

OpenAI version 5 models go above 4 (#6212)
  packages/llm-info/data/models.yml
Owners: none

Fix storybook's missing requestClientAtom dependency (#6208)
  frontend/src/stories/cell.stories.tsx
Owners: @manzt, @light2dark

Storybook tailwind compatibility fixes (#6206)
  frontend/.storybook/preview.tsx
  frontend/.storybook/sb.css
Owners: none

lock: pixi
  pixi.lock
Owners: none

trigger CI (#6199)
  marimo/_runtime/reload/autoreload.py
  marimo/_runtime/reload/module_watcher.py
  pixi.lock
  pyproject.toml
  tests/mocks.py
Owners: @dmadisetti, @akshayka

attachments in chat sidebar (#6181)
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-components.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/core/ai/types.ts
  frontend/src/plugins/impl/MicrophonePlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  frontend/src/utils/__tests__/blob.test.ts
  frontend/src/utils/fileToBase64.ts
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: @manzt, @light2dark

ci: Add additional test for lowest resolution bounds (#6198)
  .github/workflows/test_be.yaml
  marimo/_runtime/reload/autoreload.py
  marimo/_runtime/reload/module_watcher.py
  pixi.lock
  pyproject.toml
  tests/mocks.py
Owners: @mscolnick, @manzt, @dmadisetti, @akshayka

If the gpu stats command fails, don't run it again on every usage check (#6202)
  marimo/_server/api/endpoints/health.py
Owners: none

Fix typo in docstring for _replace_asset_urls
  marimo/_server/templates/templates.py
Owners: none
