Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

tests: -y for conversion test (#6190)
  tests/_cli/test_cli.py
Owners: none

make health check non-async
  marimo/_server/api/endpoints/health.py
Owners: none

improvement: use * wildcard for matching secret path (#6189)
  marimo/_config/secrets.py
  tests/_config/test_secrets_config.py
Owners: none

make health check non-async (#6192)
  marimo/_server/api/endpoints/health.py
Owners: none

feat(#oso): adds wasm-tester for local wasm testing
  packages/wasm-tester/README.md
  packages/wasm-tester/package.json
  packages/wasm-tester/src/build-wasm.ts
  packages/wasm-tester/src/index.ts
  packages/wasm-tester/tsconfig.json
  scripts/build_marimo_base_in_docker.sh
  scripts/build_marimo_base_on_host.sh
  scripts/modify_pyproject_for_marimo_base_wasm.py
Owners: @mscolnick, @manzt

chore(#oso): update lock
  pnpm-lock.yaml
Owners: none

release: 0.15.1
  pyproject.toml
Owners: @akshayka

chore(frontend#oso): oso specific build config for vite
  frontend/oso.viteconfig.mts
Owners: none

feat(frontend#oso): adding some custom oso components
  frontend/notebook.html
  frontend/src/oso-extensions/OSONotebook.tsx
  frontend/src/oso-extensions/oso-notebook-app.tsx
  frontend/src/oso-extensions/oso-notebook-page.tsx
  frontend/src/oso-extensions/wasm/controller.tsx
  frontend/src/oso-extensions/wrapper.tsx
  frontend/src/oso-mount.tsx
  frontend/src/oso.tsx
Owners: @manzt, @light2dark

chore(#oso): update lock
  pnpm-lock.yaml
Owners: none

fix(wasm-tester#oso): Allow injecting other python modules
  packages/wasm-tester/package.json
  packages/wasm-tester/src/build-wasm.ts
  packages/wasm-tester/src/index.ts
  packages/wasm-tester/src/server.ts
  packages/wasm-tester/tsconfig.json
  scripts/build_marimo_base_in_docker.sh
  scripts/build_marimo_base_on_host.sh
Owners: @mscolnick, @manzt

chore(#oso): fix oso specific build
  frontend/oso.viteconfig.mts
Owners: none

chore(scripts#oso): adds build script for wasm
  scripts/build_production_marimo_wasm.sh
Owners: none

fix(scripts#oso): fix build script
  scripts/build_marimo_base_on_host.sh
Owners: none

fix(scripts#oso): more build script fixes
  scripts/build_marimo_base_in_docker.sh
Owners: none

fix(frontend#oso): fix vite build
  frontend/oso.viteconfig.mts
Owners: none

fix(frontend#oso): fix notebook
  frontend/notebook.html
Owners: none

fix(frontend#oso): fix frontend build
  frontend/oso.viteconfig.mts
Owners: none

fix(scripts#oso): fixes deployment
  scripts/build_production_marimo_wasm.sh
Owners: none

fix(#oso): more build fixes
  frontend/oso.viteconfig.mts
Owners: none

fix(#oso): fix build script
  scripts/build_production_marimo_wasm.sh
Owners: none

fix(frontend#oso): pyodide lock reference
  frontend/src/oso-extensions/wasm/controller.tsx
Owners: @manzt, @light2dark

implement attachments conversion and tests
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/core/ai/types.ts
  frontend/src/plugins/impl/MicrophonePlugin.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  frontend/src/utils/__tests__/blob.test.ts
  frontend/src/utils/fileToBase64.ts
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: @manzt, @light2dark

fix(wasm-tester#oso): fix wasm controller proxy
  packages/wasm-tester/src/server.ts
Owners: none

fix(frontend#oso): fix build config
  frontend/oso.viteconfig.mts
Owners: none

fix(frontend#oso): another build fix
  frontend/oso.viteconfig.mts
  frontend/src/oso-extensions/wasm/controller.tsx
Owners: @manzt, @light2dark

fix openai conversion, refactor, only support openai
  frontend/src/components/chat/chat-components.tsx
  frontend/src/components/chat/chat-panel.tsx
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: @manzt, @light2dark

Implement timeout monitor
  marimo/_cli/cli.py
  marimo/_server/api/middleware.py
  marimo/_server/main.py
  marimo/_server/print.py
  marimo/_server/start.py
  tests/_cli/test_cli.py
Owners: none

fix: bump-websockets
  pyproject.toml
Owners: @akshayka

fix: bump-websockets (#6197)
  pyproject.toml
Owners: @akshayka

release: 0.15.2
  pyproject.toml
Owners: @akshayka

ci: Add additional test for lowest resolution bounds
  .github/workflows/test_be.yaml
Owners: @mscolnick, @manzt

work around: trigger ci
  marimo/__init__.py
Owners: none

test: fix versions and API differences
  marimo/__init__.py
  marimo/_plugins/ui/_impl/tables/selection.py
  marimo/_runtime/reload/autoreload.py
  pyproject.toml
Owners: @dmadisetti, @akshayka

Fixes for feedback
  marimo/_server/api/middleware.py
  marimo/_server/print.py
  tests/_cli/test_cli.py
Owners: none

Remove wayward comment
  marimo/_server/main.py
Owners: none

bump narwhals
  marimo/_plugins/ui/_impl/tables/selection.py
  marimo/_runtime/reload/autoreload.py
  marimo/_runtime/reload/module_watcher.py
  pyproject.toml
Owners: @dmadisetti, @akshayka

sqlglot bump
  marimo/_runtime/reload/autoreload.py
  pyproject.toml
Owners: @dmadisetti, @akshayka

fix edited message
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

markdown bump
  pyproject.toml
Owners: @akshayka
