Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

fix: ignore table filters from unknown columns (#6069)
  marimo/_plugins/ui/_impl/table.py
  tests/_plugins/ui/_impl/test_table.py
Owners: none

fix: handle blob protocol in runtime manager
  frontend/src/core/runtime/__tests__/config.test.ts
  frontend/src/core/runtime/config.ts
Owners: @manzt, @light2dark

fix: patch fetch with more leniant file matching
  frontend/src/core/static/__tests__/files.test.ts
  frontend/src/core/static/files.ts
Owners: @manzt, @light2dark

lint
  frontend/src/core/static/__tests__/files.test.ts
Owners: @manzt, @light2dark

refactor: update AI provider and conversion functions for async support (#6070)
  marimo/_ai/_convert.py
  marimo/_server/ai/providers.py
  marimo/_server/api/endpoints/ai.py
  pyproject.toml
  tests/_ai/llm/test_impl.py
  tests/_server/ai/test_providers.py
  tests/_server/api/endpoints/test_ai.py
Owners: @akshayka

use ui menu seperator
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
Owners: @manzt, @light2dark

add reject button and simplify component
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
Owners: @manzt, @light2dark

additional reject button
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Owners: @manzt, @light2dark

remove theme call
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

move logic to the frontend
  frontend/src/components/data-table/__tests__/columns.test.tsx
  frontend/src/components/data-table/columns.tsx
  frontend/src/plugins/impl/DataTablePlugin.tsx
  marimo/_data/models.py
  marimo/_plugins/ui/_impl/tables/table_manager.py
  tests/_plugins/ui/_impl/tables/test_narwhals.py
Owners: @manzt, @light2dark

remove backend func
  marimo/_plugins/ui/_impl/tables/table_manager.py
Owners: none

fix: handle blob protocol in runtime manager (#6071)
  frontend/src/core/runtime/__tests__/config.test.ts
  frontend/src/core/runtime/config.ts
Owners: @manzt, @light2dark

fix: patch fetch with more leniant file matching (#6073)
  frontend/src/core/static/__tests__/files.test.ts
  frontend/src/core/static/files.ts
Owners: @manzt, @light2dark

add reject button to generate with AI (#6074)
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
Owners: @manzt, @light2dark

add AI model dropdown for "Generate with AI" (#6064)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/core/ai/config.ts
  frontend/src/core/config/config-schema.ts
  frontend/src/plugins/impl/chat/chat-ui.tsx
Owners: @manzt, @light2dark

fix: clean up finder/module logic for recursion
  marimo/_output/formatters/formatters.py
  marimo/_runtime/patches.py
  tests/_output/formatters/test_formatters.py
  tests/_runtime/test_patches.py
Owners: @dmadisetti

fix: exit early and immediately patch micropip finder
  marimo/_output/formatters/formatters.py
  marimo/_runtime/patches.py
Owners: @dmadisetti

Update marimo/_output/formatters/formatters.py
  marimo/_output/formatters/formatters.py
Owners: none

comments: cleanup and code cleanliness
  marimo/_output/formatters/formatters.py
Owners: none

test fix and cleanup
  marimo/_output/formatters/formatters.py
  marimo/_runtime/patches.py
Owners: @dmadisetti

fix: exports with pytest
  marimo/_runtime/pytest.py
Owners: @dmadisetti

fix: typing
  marimo/_runtime/pytest.py
Owners: @dmadisetti

fix tests
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
Owners: @manzt, @light2dark

fix: stdout and stderr should not be stoppable by users (#5955)
  marimo/_messaging/streams.py
  marimo/_messaging/types.py
  marimo/_runtime/runtime.py
  tests/_messaging/test_types.py
Owners: @dmadisetti

fix: Don't do health check in static notebooks
  frontend/src/core/runtime/config.ts
Owners: @manzt, @light2dark

Apply suggestion from @akshayka
  marimo/_output/formatters/formatters.py
Owners: none

tidy/fix: clean up pytest default name (#6077)
  marimo/_runtime/pytest.py
Owners: @dmadisetti

Update frontend/src/core/runtime/config.ts
  frontend/src/core/runtime/config.ts
Owners: @manzt, @light2dark

fix: Don't do health check in static notebooks (#6079)
  frontend/src/core/runtime/config.ts
Owners: @manzt, @light2dark

update logic for determining when AI is enabled
  frontend/src/core/config/config.ts
Owners: @manzt, @light2dark

update logic for determining when AI is enabled (#6081)
  frontend/src/core/config/config.ts
Owners: @manzt, @light2dark

fix: only use max_completion_tokens on reasoning models
  marimo/_server/ai/providers.py
Owners: none

test
  tests/_server/ai/test_providers.py
Owners: none

clamp height
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Owners: @manzt, @light2dark

update reasoning models
  marimo/_server/ai/providers.py
Owners: none

clear all mocks
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
Owners: @manzt, @light2dark

just use reset mocks
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
Owners: @manzt, @light2dark

chore: update link to change custom models
  frontend/src/components/ai/ai-model-dropdown.tsx
Owners: @manzt, @light2dark

clamp height for prompt input in generate height (#6083)
  frontend/src/components/editor/ai/ai-completion-editor.tsx
Owners: @manzt, @light2dark

clear all mocks for test (#6085)
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
Owners: @manzt, @light2dark
