Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

perf: refactor and profiling based fixes
  marimo/_ast/load.py
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
  marimo/_lint/linter.py
  marimo/_utils/files.py
Owners: @dmadisetti

remove switch language
  frontend/src/core/ai/__tests__/staged-cells.test.ts
  frontend/src/core/ai/staged-cells.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/codemirror/language/utils.ts
Owners: @manzt, @light2dark

remove unused var
  frontend/src/core/ai/staged-cells.ts
Owners: @manzt, @light2dark

add pytest annotations
  tests/_ast/test_pytest.py
Owners: none

apply styles manually for actions menu (#6346)
  frontend/src/plugins/impl/vega/vega.css
Owners: @manzt, @light2dark

Remove dual JSON encoding in pyodide message callback
  marimo/_pyodide/bootstrap.py
  tests/_pyodide/test_bootstrap.py
Owners: none

Make test `async`
  tests/_pyodide/test_bootstrap.py
Owners: none

Remove dual JSON encoding in pyodide message callback (#6350)
  marimo/_pyodide/bootstrap.py
  tests/_pyodide/test_bootstrap.py
Owners: none

release: 0.15.4
  pyproject.toml
Owners: @akshayka

fix: show both inputs and task list in TODO mkdocs-marimo example
  docs/guides/state.md
Owners: @akshayka

fix: show both inputs and task list in TODO mkdocs-marimo example (#6351)
  docs/guides/state.md
Owners: @akshayka

fix: move decorator off cell level
  tests/_ast/test_pytest.py
Owners: none

Fix UI element updates not working in WASM due to request parsing order
  marimo/_pyodide/pyodide_session.py
  marimo/_runtime/requests.py
  tests/_pyodide/test_pyodide_session.py
Owners: @dmadisetti

Fix typing
  marimo/_pyodide/pyodide_session.py
Owners: none

chore(frontend#oso): hide `FilenameForm` in favor of oso-native one
  frontend/src/core/edit-app.tsx
  frontend/src/oso-extensions/oso-notebook-app.tsx
Owners: @manzt, @light2dark

Fix UI element updates not working in WASM due to request parsing order (#6354)
  marimo/_pyodide/pyodide_session.py
  marimo/_runtime/requests.py
  tests/_pyodide/test_pyodide_session.py
Owners: @dmadisetti

release: 0.15.5
  pyproject.toml
Owners: @akshayka

fix: allow invalid decorator permuations + tests
  marimo/_ast/parse.py
  tests/_ast/codegen_data/test_decorators.py
  tests/_ast/test_parse.py
Owners: @dmadisetti

fix: allow test cells in the presence of async cells (#6355)
  marimo/_ast/pytest.py
  tests/_ast/test_pytest.py
Owners: @dmadisetti

feat(status): Add async progress bar functionality (#6336)
  marimo/_plugins/stateless/status/_progress.py
  tests/_plugins/stateless/status/test_progress.py
Owners: none

fix: capture more cases
  marimo/_ast/parse.py
  tests/_ast/codegen_data/test_decorators.py
Owners: @dmadisetti

tidy: remove ignores
  marimo/_ast/parse.py
Owners: @dmadisetti

comments: address api comment
  docs/api/cli_args.md
  docs/guides/coming_from/papermill.md
  marimo/_ast/app.py
  tests/_ast/test_app.py
Owners: @akshayka, @dmadisetti

fix: allow invalid decorator permutations + tests (#6357)
  marimo/_ast/parse.py
  tests/_ast/codegen_data/test_decorators.py
  tests/_ast/test_parse.py
Owners: @dmadisetti

docs: newly proposed api
  docs/api/cli_args.md
  docs/guides/coming_from/papermill.md
  marimo/_ast/app.py
  marimo/_ast/cell.py
Owners: @akshayka, @dmadisetti

rebase: squash docs from #6339
  docs/api/app.md
  docs/guides/coming_from/papermill.md
  marimo/_ast/app.py
  marimo/_ast/cell.py
Owners: @akshayka, @dmadisetti

improvement: better ACP commands, edit the notebook without --watch, slash-commands
  frontend/package.json
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/__tests__/state.test.ts
  frontend/src/components/chat/acp/agent-docs.tsx
  frontend/src/components/chat/acp/agent-panel.tsx
  frontend/src/components/chat/acp/agent-selector.tsx
  frontend/src/components/chat/acp/blocks.tsx
  frontend/src/components/chat/acp/common.tsx
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/components/chat/acp/state.ts
  frontend/src/components/chat/acp/types.ts
  marimo/_server/api/endpoints/file_explorer.py
  marimo/_server/sessions.py
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

feat: provide run parameters
  marimo/_ast/app.py
  marimo/_ast/errors.py
  marimo/_output/superjson.py
  marimo/_runtime/app/script_runner.py
  tests/_ast/test_app.py
Owners: @dmadisetti

fixes
  frontend/package.json
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/prompt.ts
  frontend/src/core/codemirror/lsp/federated-lsp.ts
  frontend/src/stories/cell.stories.tsx
  frontend/src/stories/layout/vertical/one-column.stories.tsx
  marimo/_server/sessions.py
  pnpm-lock.yaml
  tests/_server/api/endpoints/test_file_explorer.py
  tests/_server/test_sessions.py
Owners: @mscolnick, @manzt, @light2dark

api: change to 'defs='
  docs/guides/coming_from/papermill.md
  marimo/_ast/app.py
  tests/_ast/test_app.py
Owners: @akshayka, @dmadisetti

fix
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/prompt.ts
Owners: @manzt, @light2dark

fix: use TypeVar for Cls in class_definition
  marimo/_ast/app.py
Owners: @dmadisetti

lint
  marimo/_lint/__init__.py
  marimo/_lint/linter.py
  marimo/_utils/files.py
Owners: none

fix: explicit setup cell protections
  marimo/_ast/app.py
  marimo/_runtime/app/script_runner.py
  tests/_ast/test_app.py
Owners: @dmadisetti

fix: use TypeVar for Cls in class_definition (#6364)
  marimo/_ast/app.py
Owners: @dmadisetti

fix: comments and clean up
  marimo/_convert/converters.py
  marimo/_lint/__init__.py
  marimo/_lint/linter.py
  tests/_lint/test_async_context_system.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_run_check.py
  tests/_lint/test_runtime_errors_snapshot.py
  tests/_lint/test_streaming_early_stopping.py
Owners: @dmadisetti

fix
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
Owners: @manzt, @light2dark

fix snapshot
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/prompt.ts
Owners: @manzt, @light2dark

change to single underscore for cell def
  frontend/src/components/chat/acp/__tests__/__snapshots__/prompt.test.ts.snap
  frontend/src/components/chat/acp/__tests__/prompt.test.ts
  frontend/src/components/chat/acp/prompt.ts
Owners: @manzt, @light2dark

renaming vars
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
  tests/_server/ai/snapshots/system_prompts.txt
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
