Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

fix: patch up #5854 (#5867)
  marimo/_ast/app.py
  marimo/_runtime/runtime.py
  tests/_ast/app_data/notebook_filename.py
  tests/_ast/test_app.py
Owners: @dmadisetti

Support hiding code in setup cells (#5852)
  frontend/src/components/editor/Cell.tsx
  marimo/_ast/app.py
  marimo/_ast/cell_manager.py
  marimo/_ast/codegen.py
  tests/_ast/test_app.py
Owners: @manzt, @light2dark, @dmadisetti

Remove unnecessary comment
  marimo/_server/ai/mcp.py
Owners: none

Improve cache for anywidget:
  marimo/_plugins/ui/_impl/from_anywidget.py
Owners: none

docs: advise that a new vs code extension is coming soon
  docs/getting_started/quickstart.md
Owners: @akshayka

fix: more sophisticated tracking for external references
  marimo/_ast/names.py
  marimo/_ast/toplevel.py
  marimo/_runtime/primitives.py
  marimo/_runtime/runner/hooks_post_execution.py
  marimo/_save/hash.py
  marimo/_save/save.py
  marimo/_save/toplevel.py
  tests/_ast/test_toplevel.py
Owners: @dmadisetti

Update quickstart.md
  docs/getting_started/quickstart.md
Owners: @akshayka

tidy: mypy
  marimo/_save/toplevel.py
Owners: @dmadisetti

Forward config parameter from plotly `fig.show()`
  marimo/_output/formatters/plotly_formatters.py
Owners: none

comment: clarify purity check
  marimo/_runtime/primitives.py
Owners: @dmadisetti

docs: advise that a new vs code extension is coming soon (#5878)
  docs/getting_started/quickstart.md
Owners: @akshayka

fix: file browser separate limits for local/cloud paths
  marimo/_plugins/ui/_impl/file_browser.py
Owners: none

feat: show file counts in file_browser
  frontend/src/plugins/impl/FileBrowserPlugin.tsx
  marimo/_plugins/ui/_impl/file_browser.py
Owners: @manzt, @light2dark

test: file browser limits and truncation
  tests/_plugins/ui/_impl/test_file_browser.py
Owners: none

Assert file is NOT `None`
  tests/_runtime/test_runtime.py
Owners: none

add debouncer code
  frontend/src/core/codemirror/cells/extensions.ts
Owners: @manzt, @light2dark

add smoke tests for ibis formatter
  marimo/_smoke_tests/ibis_formatting.py
Owners: none

tests for the ibis formatters
  tests/_output/formatters/test_ibis.py
Owners: none

added some comments about the usage of private ibis methods
  marimo/_output/formatters/df_formatters.py
Owners: none

initialize run_result
  .gitignore
  marimo/_runtime/runner/cell_runner.py
Owners: @dmadisetti

remove file ignore
  .gitignore
Owners: none

sort paths when materializing list
  marimo/_plugins/ui/_impl/file_browser.py
Owners: none

docs: add a video for lazy execution
  docs/_static/docs-lazy-execution.mp4
  docs/guides/configuration/runtime_configuration.md
  docs/guides/expensive_notebooks.md
Owners: @akshayka

Reorganize runtime settings in user configuration menu
  frontend/src/components/app-config/user-config-form.tsx
Owners: @manzt, @light2dark

docs: add a video for lazy execution (#5890)
  docs/_static/docs-lazy-execution.mp4
  docs/guides/configuration/runtime_configuration.md
  docs/guides/expensive_notebooks.md
Owners: @akshayka

fix: handle double interruptions
  marimo/_runtime/context/types.py
  marimo/_runtime/handlers.py
  marimo/_runtime/runner/cell_runner.py
Owners: @dmadisetti

remove dead code
  frontend/src/plugins/impl/data-editor/glide-data-editor.tsx
Owners: @manzt, @light2dark

update comment
  marimo/_runtime/context/types.py
Owners: @dmadisetti

fix typo
  marimo/_runtime/context/types.py
Owners: @dmadisetti

Reorganize runtime settings in user configuration menu (#5891)
  frontend/src/components/app-config/user-config-form.tsx
Owners: @manzt, @light2dark

fix: return unwrapped exception from helper function
  marimo/_runtime/runner/cell_runner.py
Owners: @dmadisetti

check document safely for CI
  frontend/src/core/wasm/utils.ts
Owners: @manzt, @light2dark

simply interrupt handling
  marimo/_runtime/context/types.py
  marimo/_runtime/handlers.py
  marimo/_runtime/runner/cell_runner.py
Owners: @dmadisetti

Defensively catch keyboard interrupt
  marimo/_runtime/runner/cell_runner.py
  marimo/_runtime/runtime.py
Owners: @dmadisetti

fix: handle double interruptions (#5892)
  marimo/_runtime/runner/cell_runner.py
  marimo/_runtime/runtime.py
Owners: @dmadisetti

test: check document safely in CI (#5893)
  frontend/src/core/wasm/utils.ts
Owners: @manzt, @light2dark

Avoid reactive dependency on notebook/variables in `usePendingDeleteService`
  frontend/src/core/cells/pending-delete-service.ts
Owners: @manzt, @light2dark

Avoid dependency on notebook/variables in `usePendingDeleteService` (#5894)
  frontend/src/core/cells/pending-delete-service.ts
Owners: @manzt, @light2dark

Refactor `CellArray`/`Cell` to use atom-based state management
  frontend/src/components/editor/Cell.tsx
  frontend/src/components/editor/__tests__/data-attributes.test.tsx
  frontend/src/components/editor/cell/cell-context-menu.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/cells/cells.ts
  frontend/src/core/edit-app.tsx
  frontend/src/stories/cell.stories.tsx
Owners: @manzt, @light2dark

Update minimap
  frontend/src/components/editor/chrome/wrapper/minimap-state.ts
  frontend/src/components/editor/chrome/wrapper/minimap.tsx
Owners: @manzt, @light2dark
