Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

@marimo-team/llm-info package
  Makefile
  frontend/package.json
  frontend/src/components/ai/AiProviderIcon.tsx
  frontend/src/components/app-config/user-config-form.tsx
  packages/.gitignore
  packages/llm-info/.gitignore
  packages/llm-info/data/models.yml
  packages/llm-info/data/providers.yml
  packages/llm-info/icons/anthropic.svg
  packages/llm-info/icons/google.svg
  packages/llm-info/icons/googlegemini.svg
  packages/llm-info/icons/ollama.svg
  packages/llm-info/icons/openai.svg
  packages/llm-info/package.json
  packages/llm-info/src/__tests__/schema.test.ts
  packages/llm-info/src/generate.ts
  packages/llm-info/src/index.ts
  packages/llm-info/tsconfig.json
  packages/ts-config/README.md
  packages/ts-config/base.json
  packages/ts-config/library.json
  packages/ts-config/package.json
  packages/ts-config/ts-reset.d.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

jsdom
  frontend/src/core/codemirror/language/__tests__/extension.test.ts
Owners: @manzt, @light2dark

add more
  packages/llm-info/data/models.yml
  turbo.json
Owners: none

lint errors
  packages/llm-info/src/generate.ts
Owners: none

improvement: support tables in AI chat sidebar
  frontend/package.json
  frontend/src/components/chat/markdown-renderer.tsx
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

--experimental-transform-types
  packages/llm-info/package.json
Owners: @mscolnick, @manzt

inline svg
  frontend/.gitignore
  frontend/src/components/ai/AiProviderIcon.tsx
Owners: @manzt, @light2dark

improvement: support tables in AI chat sidebar (#6006)
  frontend/package.json
  frontend/src/components/chat/markdown-renderer.tsx
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

fix: stub and restore cache meta values (#5996)
  marimo/_save/__init__.py
  marimo/_save/cache.py
  tests/_save/test_cache.py
  tests/conftest.py
Owners: @dmadisetti

fix split
  frontend/src/utils/ai/__tests__/ids.test.ts
  frontend/src/utils/ai/ids.ts
Owners: @manzt, @light2dark

docs(ai): Add warning about Ollama /v1 endpoint to prevent 404 errors
  docs/guides/editor_features/ai_completion.md
Owners: @akshayka

improvement: use fully qualified model ids (#6003)
  frontend/src/components/app-config/constants.ts
  frontend/src/components/app-config/incorrect-model-id.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/utils/ai/__tests__/ids.test.ts
  frontend/src/utils/ai/ids.ts
  marimo/_server/ai/ids.py
  marimo/_server/ai/providers.py
  tests/_server/ai/test_ai_ids.py
Owners: @manzt, @light2dark

ci: split up frontend CI
  .github/actions/install/action.yaml
  .github/workflows/test_fe.yaml
Owners: @mscolnick, @manzt

docs(ai): Add warning about Ollama /v1 endpoint to prevent 404 errors (#6009)
  docs/guides/editor_features/ai_completion.md
Owners: @akshayka

consolidate
  .github/workflows/test_fe.yaml
Owners: @mscolnick, @manzt

Potential fix for code scanning alert no. 54: Workflow does not contain permissions
  .github/workflows/test_fe.yaml
Owners: @mscolnick, @manzt

@marimo-team/llm-info package (#6005)
  Makefile
  frontend/.gitignore
  frontend/package.json
  frontend/src/components/ai/AiProviderIcon.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/codemirror/language/__tests__/extension.test.ts
  packages/.gitignore
  packages/llm-info/.gitignore
  packages/llm-info/data/models.yml
  packages/llm-info/data/providers.yml
  packages/llm-info/icons/anthropic.svg
  packages/llm-info/icons/google.svg
  packages/llm-info/icons/googlegemini.svg
  packages/llm-info/icons/ollama.svg
  packages/llm-info/icons/openai.svg
  packages/llm-info/package.json
  packages/llm-info/src/__tests__/schema.test.ts
  packages/llm-info/src/generate.ts
  packages/llm-info/src/index.ts
  packages/llm-info/tsconfig.json
  packages/ts-config/README.md
  packages/ts-config/base.json
  packages/ts-config/library.json
  packages/ts-config/package.json
  packages/ts-config/ts-reset.d.ts
  pnpm-lock.yaml
  turbo.json
Owners: @mscolnick, @manzt, @light2dark

update
  marimo/_server/ai/config.py
  tests/_server/ai/test_ai_config.py
Owners: none

tests
  tests/_server/ai/test_ai_config.py
Owners: none

update
  frontend/src/core/config/config-schema.ts
  marimo/_cli/development/commands.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark

cleanup config
  frontend/src/core/config/config-schema.ts
  marimo/_server/ai/config.py
  marimo/_server/ai/providers.py
  marimo/_server/api/endpoints/ai.py
Owners: @manzt, @light2dark

more ai config
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_config/secrets.py
Owners: none

add to config
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/is-overridden.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/ui/links.tsx
Owners: @manzt, @light2dark

fixes
  marimo/_server/ai/config.py
  marimo/_server/ai/ids.py
Owners: none

fix tests
  tests/_server/api/endpoints/test_ai.py
Owners: none

improvement: more ai config settings for different providers (#6011)
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/is-overridden.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/components/ui/links.tsx
  frontend/src/core/config/config-schema.ts
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_config/secrets.py
  marimo/_server/ai/config.py
  marimo/_server/ai/ids.py
  marimo/_server/ai/providers.py
  marimo/_server/api/endpoints/ai.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Owners: @manzt, @light2dark

improvement: fallback to os environ ai
  marimo/_server/ai/config.py
Owners: none

example shiny: imp css & readme
  examples/frameworks/shiny/README.md
  examples/frameworks/shiny/main.py
Owners: @akshayka

add svgs and improve ui
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  packages/llm-info/icons/aws.svg
  packages/llm-info/icons/azure.svg
Owners: @manzt, @light2dark

better copy
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

use useId
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

include code by default and save to local storage
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/core/ai/state.ts
Owners: @manzt, @light2dark

fix flaky test
  frontend/src/core/codemirror/language/__tests__/extension.test.ts
Owners: @manzt, @light2dark

add tests for function
  marimo/_sql/utils.py
  tests/_sql/test_sql_utils.py
Owners: @light2dark

rename file
  tests/_sql/test_utils.py
Owners: none

rename file again
  tests/_sql/test_engine_utils.py
Owners: none

remove redundant
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

include code for 'Generate with AI' by default & fix flakey test (#6014)
  frontend/src/components/editor/ai/ai-completion-editor.tsx
  frontend/src/core/ai/state.ts
  frontend/src/core/codemirror/language/__tests__/extension.test.ts
Owners: @manzt, @light2dark

refactor so that sql engines uses the same logic for returning df (#5991)
  marimo/_sql/engines/clickhouse.py
  marimo/_sql/engines/dbapi.py
  marimo/_sql/engines/duckdb.py
  marimo/_sql/engines/ibis.py
  marimo/_sql/engines/sqlalchemy.py
  marimo/_sql/utils.py
  tests/_sql/test_engine_utils.py
Owners: @light2dark

add svgs and improve ui for chat config (#6013)
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  packages/llm-info/icons/aws.svg
  packages/llm-info/icons/azure.svg
Owners: @manzt, @light2dark

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
