Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

Update tests to assert encoded JSON instead of dict for Stream.write
  tests/_runtime/test_query_params.py
Owners: none

Type cast the result of `DataclassParser`
  marimo/_utils/parse_dataclass.py
Owners: none

Fix write stream tests for pyodide
  tests/_pyodide/test_bootstrap.py
  tests/_pyodide/test_pyodide_streams.py
Owners: none

Remove redundant `tag_field` in tagged struct
  marimo/_messaging/errors.py
Owners: none

Use compact JSON encoding in stateless tests
  tests/_plugins/stateless/test_routes.py
Owners: none

fixes
  tests/_messaging/mocks.py
  tests/_messaging/test_console_output_worker.py
  tests/_messaging/test_print_override.py
  tests/_runtime/output/test_output.py
  tests/_runtime/test_complete.py
  tests/_runtime/test_threads.py
  tests/_runtime/test_trace.py
  tests/conftest.py
Owners: none

fix
  tests/_runtime/test_complete.py
Owners: none

Check `UrlParts` instead of raw dict
  tests/_runtime/test_requests.py
Owners: none

fix messaging
  tests/_messaging/test_console_output_worker.py
  tests/_messaging/test_ops.py
Owners: none

feat: cell output for `@` context w/ attachments for media output (#6240)
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/context/__tests__/registry.test.ts
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/cell-output.test.ts
  frontend/src/core/ai/context/providers/__tests__/error.test.ts
  frontend/src/core/ai/context/providers/cell-output.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/registry.ts
  marimo/_ai/_convert.py
Owners: @manzt, @light2dark

fixes
  tests/_messaging/mocks.py
  tests/_runtime/test_capture.py
  tests/_runtime/test_complete.py
  tests/_runtime/test_patches.py
  tests/conftest.py
Owners: none

fix(frontend#oso): reenable read/present mode for oso notebook extension
  frontend/notebook.html
  frontend/src/oso-extensions/OSONotebook.tsx
  frontend/src/oso-extensions/fragment-store.ts
  frontend/src/oso-extensions/fragment-store.tsx
  frontend/src/oso-extensions/oso-notebook-edit-page.tsx
  frontend/src/oso-extensions/oso-notebook-run-page.tsx
  frontend/src/oso-extensions/wasm/controller.tsx
  frontend/src/oso-extensions/wrapper.tsx
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

Check instance rather than type
  tests/_runtime/test_runtime.py
Owners: none

fixes
  tests/_runtime/test_runtime.py
Owners: none

fix(frontend#oso): set edit mode as default on notebook
  frontend/src/oso-mount.tsx
Owners: @manzt, @light2dark

Make `UrlParts` struct a `TypedDict`
  marimo/_runtime/requests.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_runtime/test_requests.py
Owners: @dmadisetti

dont validate config udpates
  marimo/_server/models/models.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

refactor backend tools to use abstract class (#6235)
  marimo/_ai/_convert.py
  marimo/_server/ai/backend_tools/__init__.py
  marimo/_server/ai/backend_tools/sample_tool.py
  marimo/_server/ai/config.py
  marimo/_server/ai/tools/backend_tools/sample_tool.py
  marimo/_server/ai/tools/tool_manager.py
  marimo/_server/ai/tools/types.py
  marimo/_server/api/endpoints/ai.py
  tests/_ai/test_chat_convert.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

Supply default `schema` directly rather than optional argument
  tests/_sql/test_duckdb.py
Owners: none

fixes
  marimo/_cli/development/commands.py
  marimo/_runtime/requests.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/api/endpoints/test_execution.py
Owners: @dmadisetti

typecheck
  marimo/_server/api/endpoints/config.py
  marimo/_server/responses.py
Owners: none

Fix linting error
  tests/_pyodide/test_bootstrap.py
Owners: none

fixes
  tests/_plugins/ui/_impl/test_table.py
  tests/_utils/test_parse_dataclass.py
Owners: none

fix
  marimo/_server/export/__init__.py
  tests/_runtime/test_complete.py
  tests/_sql/test_get_engines.py
Owners: none

fix
  tests/_islands/snapshots/island-mimetypes.txt
Owners: none

Switch to structural typing for `QueueType`
  marimo/_server/types.py
Owners: none

Fix mypy types
  marimo/_server/sessions.py
Owners: none

feat [6093]: mo.ui.file_browser ignore empty directories
  marimo/_plugins/ui/_impl/file_browser.py
  tests/_plugins/ui/_impl/test_file_browser.py
Owners: none

Switch to structural typing for `QueueType` (#6262)
  marimo/_server/sessions.py
  marimo/_server/types.py
Owners: none

feat [6093]: mo.ui.file_browser ignore empty directories (#6261)
  marimo/_plugins/ui/_impl/file_browser.py
  tests/_plugins/ui/_impl/test_file_browser.py
Owners: none

chore: install `openai` package
  frontend/src/oso-extensions/wasm/controller.tsx
Owners: @manzt, @light2dark

add: default `oso` ai config to point to prod
  frontend/notebook.html
Owners: none

fix: redirect `api` calles to correct endpoint
  packages/wasm-builder/src/server.ts
Owners: none

Remove unused code comment
  marimo/_server/api/router.py
Owners: none

Fix grammar
  marimo/_mcp/server/tools/notebooks.py
Owners: none

Extract `ProcessLike` protocol for kernel task abstraction
  marimo/_server/sessions.py
  marimo/_server/types.py
Owners: none

feat: add MCP server integration with notebook inspection tools (#6222)
  marimo/_cli/cli.py
  marimo/_mcp/server/exceptions.py
  marimo/_mcp/server/lifespan.py
  marimo/_mcp/server/main.py
  marimo/_mcp/server/responses.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  marimo/_server/api/deps.py
  marimo/_server/api/lifespans.py
  marimo/_server/print.py
  marimo/_server/start.py
  pyproject.toml
  tests/_mcp/server/test_exceptions.py
  tests/_mcp/server/test_main.py
  tests/_mcp/server/test_responses.py
  tests/_mcp/server/tools/test_cells.py
  tests/_mcp/server/tools/test_notebooks.py
Owners: @akshayka

Extract `ProcessLike` protocol for kernel task abstraction (#6264)
  marimo/_server/sessions.py
  marimo/_server/types.py
Owners: none

Fix pydantic parsing error of VariableValue
  marimo/_mcp/server/tools/cells.py
  tests/_mcp/server/tools/test_cells.py
Owners: none

preview: add --server-startup-command
  frontend/src/components/editor/alerts/startup-logs-alert.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/alerts/state.ts
  frontend/src/core/kernel/messages.ts
  frontend/src/core/websocket/useMarimoWebSocket.tsx
  marimo/_cli/cli.py
  marimo/_messaging/ops.py
  marimo/_server/session/session_view.py
  marimo/_server/start.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_cli/test_parse_args.py
  tests/_messaging/test_ops.py
  tests/_server/session/test_session_view.py
Owners: @manzt, @light2dark

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
