Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

Fix typo
  marimo/_mcp/server/tools/cells.py
Owners: none

Added vertical layout one column setup with long text in cells to storybook (#6233)
  frontend/src/stories/layout/vertical/one-column.stories.tsx
Owners: @manzt, @light2dark

preview: add file search endpoint to server
  frontend/src/__mocks__/requests.ts
  frontend/src/core/islands/bridge.ts
  frontend/src/core/network/requests-network.ts
  frontend/src/core/network/requests-static.ts
  frontend/src/core/network/requests-toasting.ts
  frontend/src/core/network/types.ts
  frontend/src/core/wasm/bridge.ts
  frontend/src/core/wasm/worker/types.ts
  marimo/_cli/development/commands.py
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/file_explorer.py
  marimo/_server/files/file_system.py
  marimo/_server/files/os_file_system.py
  marimo/_server/models/files.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_server/api/endpoints/test_file_explorer.py
  tests/_server/files/test_os_file_system.py
Owners: @manzt, @light2dark

generic type
  marimo/_ai/_convert.py
  marimo/_server/ai/tools/backend_tools/sample_tool.py
  marimo/_server/ai/tools/tool_manager.py
  marimo/_server/ai/tools/types.py
Owners: none

fix imports
  tests/_ai/test_chat_convert.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

wip
  frontend/package.json
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/tool-call-accordion.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/plugins/impl/chat/chat-ui.tsx
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

fix parts
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

type
  frontend/src/components/chat/tool-call-accordion.tsx
Owners: @manzt, @light2dark

more types
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/chat-utils.ts
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
Owners: @manzt, @light2dark

convert types
  frontend/src/__mocks__/notebook.ts
  frontend/src/components/datasources/__tests__/utils.test.ts
  frontend/src/core/codemirror/markdown/__tests__/commands.test.ts
  frontend/src/core/kernel/messages.ts
  frontend/src/core/layout/layout.ts
  frontend/src/core/network/types.ts
  frontend/src/plugins/layout/MimeRenderPlugin.tsx
  frontend/src/stories/cell.stories.tsx
  marimo/_cli/development/commands.py
  packages/openapi/api.yaml
  packages/openapi/convert_types.sh
  packages/openapi/package.json
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark, @mscolnick

more types
  frontend/src/components/datasources/column-preview.tsx
  frontend/src/core/cells/cell.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/cells/logs.ts
  frontend/src/core/cells/runs.ts
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/config/capabilities.ts
  frontend/src/core/datasets/__tests__/data-source.test.ts
  frontend/src/core/errors/__tests__/errors.test.ts
  frontend/src/core/wasm/bridge.ts
  frontend/src/utils/numbers.ts
  marimo/_data/models.py
  packages/openapi/api.yaml
  packages/openapi/package.json
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark, @mscolnick

more frontend types, add backend protocol changaes
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  marimo/_ai/_convert.py
  marimo/_server/ai/providers.py
  tests/_ai/test_chat_convert.py
Owners: @manzt, @light2dark

change header
  marimo/_server/api/endpoints/ai.py
Owners: none

openapi spec for msgspec (#6237)
  frontend/src/__mocks__/notebook.ts
  frontend/src/components/datasources/__tests__/utils.test.ts
  frontend/src/components/datasources/column-preview.tsx
  frontend/src/core/cells/cell.ts
  frontend/src/core/cells/cells.ts
  frontend/src/core/cells/logs.ts
  frontend/src/core/cells/runs.ts
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/markdown/__tests__/commands.test.ts
  frontend/src/core/config/capabilities.ts
  frontend/src/core/datasets/__tests__/data-source.test.ts
  frontend/src/core/errors/__tests__/errors.test.ts
  frontend/src/core/kernel/messages.ts
  frontend/src/core/layout/layout.ts
  frontend/src/core/network/types.ts
  frontend/src/core/wasm/bridge.ts
  frontend/src/plugins/layout/MimeRenderPlugin.tsx
  frontend/src/stories/cell.stories.tsx
  frontend/src/utils/numbers.ts
  marimo/_ai/_types.py
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_data/models.py
  marimo/_utils/dataclass_to_openapi.py
  packages/openapi/api.yaml
  packages/openapi/convert_types.sh
  packages/openapi/package.json
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark, @mscolnick

fix 6020: output cell fails to wrap text in HTML export
  frontend/src/css/app/Cell.css
Owners: @manzt, @light2dark

fix 6020: output cell fails to wrap text in HTML export (#6245)
  frontend/src/css/app/Cell.css
Owners: @manzt, @light2dark

Added vertical layout one column setup with long text in cells to storybook (inc)
  frontend/src/stories/layout/vertical/one-column.stories.tsx
Owners: @manzt, @light2dark

Add `requests.UrlParts` struct
  marimo/_cli/development/commands.py
  marimo/_runtime/requests.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_runtime/test_requests.py
Owners: @dmadisetti

Fix Python typechecking
  marimo/_cli/development/commands.py
  marimo/_config/config.py
  marimo/_runtime/requests.py
  marimo/_sql/get_engines.py
Owners: @dmadisetti, @light2dark

Migrate `marimo/_snippets/snippets.py` to `msgspec.Struct`
  marimo/_snippets/snippets.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Migrate `marimo/_server/models/home.py` to `msgspec.Struct`
  marimo/_server/models/home.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Use single `unknown` type
  frontend/src/components/datasources/column-preview.tsx
Owners: @manzt, @light2dark

Migrate `marimo/_server/models/packages.py` to `msgspec.Struct`
  frontend/src/components/editor/chrome/panels/packages-panel.tsx
  marimo/_server/models/packages.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark

Migreate `CellConfig` to `msgspec.Struct`
  marimo/_ast/cell.py
Owners: @dmadisetti

Migrate `marimo/_server/models/export.py` to `msgspec.Struct`
  marimo/_secrets/models.py
  marimo/_server/models/export.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Migrate `marimo/_server/models/secrets.py` to `msgspec.Struct`
  marimo/_server/models/secrets.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Migrate `marimo/_server/models/completion.py`
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Migrate `PackageDescription`
  marimo/_runtime/packages/package_manager.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @dmadisetti

v5 fixes
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/chat-utils.ts
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  marimo/_plugins/ui/_impl/chat/utils.py
  marimo/_server/api/endpoints/ai.py
Owners: @manzt, @light2dark

fixes
  tests/_ai/test_chat_convert.py
Owners: none

todo
  frontend/src/components/chat/chat-panel.tsx
Owners: @manzt, @light2dark

doc
  frontend/src/plugins/impl/chat/chat-ui.tsx
Owners: @manzt, @light2dark

Fixed storybook setup for static layouts with window.__MARIMO_STATIC__ (#6246)
  frontend/src/stories/layout/vertical/one-column.stories.tsx
Owners: @manzt, @light2dark

Upgrade AI sdk to v5 (#6242)
  frontend/package.json
  frontend/src/__tests__/chat-utils.test.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/chat-utils.ts
  frontend/src/components/chat/tool-call-accordion.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/core/ai/chat-utils.ts
  frontend/src/core/ai/state.ts
  frontend/src/plugins/impl/chat/chat-ui.tsx
  frontend/src/plugins/impl/chat/types.ts
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  marimo/_plugins/ui/_impl/chat/utils.py
  marimo/_server/ai/providers.py
  pnpm-lock.yaml
  tests/_ai/test_chat_convert.py
Owners: @mscolnick, @manzt, @light2dark

Vertical layout cleanup for read mode rendering pipeline
  frontend/src/components/editor/renderers/vertical-layout/vertical-layout.tsx
Owners: @manzt, @light2dark

Change `ChatMessage.content` to `Any`
  marimo/_ai/_types.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Fix tests `tests/_messaging/test_cell_output.py`
  tests/_messaging/test_cell_output.py
Owners: none

Avoid mutation in codegen
  marimo/_ast/codegen.py
  tests/_server/export/test_exporter.py
Owners: @dmadisetti

Finish migrating completion types to msgspec
  marimo/_ai/_types.py
  marimo/_cli/development/commands.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none

Finish migrating completion types to msgspec (#6247)
  marimo/_ai/_types.py
  marimo/_cli/development/commands.py
  marimo/_server/models/completion.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: none
