Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

tests
  tests/_server/ai/test_ai_config.py
Owners: none

updates
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/config/config-schema.ts
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark

fix: multiple models
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/chrome/wrapper/footer-items/ai-status.tsx
  frontend/src/core/config/config.ts
  marimo/_config/config.py
  marimo/_server/ai/config.py
  marimo/_server/ai/constants.py
  marimo/_server/api/endpoints/ai.py
  tests/_server/ai/test_ai_config.py
Owners: @manzt, @light2dark

add send button
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
Owners: @manzt, @light2dark

add in UI
  frontend/src/components/app-config/ai-config.tsx
  marimo/_config/config.py
  tests/_config/test_config.py
Owners: @manzt, @light2dark

flaky test
  tests/_server/api/endpoints/test_resume_session.py
Owners: none

migrate autocomplete model as well
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/editor/chrome/wrapper/footer-items/ai-status.tsx
  frontend/src/core/config/config-schema.ts
  marimo/_config/config.py
  marimo/_server/ai/config.py
  marimo/_server/api/endpoints/ai.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_config/test_config.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
Owners: @manzt, @light2dark

improvement: fallback to os.environ for AI API keys (#6016)
  marimo/_server/ai/config.py
  tests/_server/ai/test_ai_config.py
Owners: none

better config
  frontend/src/components/app-config/ai-config.tsx
Owners: @manzt, @light2dark

displayed_models
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/core/config/config-schema.ts
  marimo/_config/config.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_config/test_config.py
  tests/_server/ai/test_ai_config.py
Owners: @manzt, @light2dark

Define package exports for `@marimo-team/frontend`
  frontend/package.json
Owners: @mscolnick, @manzt

lint
  frontend/src/core/config/__tests__/config-schema.test.ts
  frontend/src/core/config/config-schema.ts
  marimo/_server/ai/config.py
  marimo/_server/api/endpoints/ai.py
  tests/_server/ai/test_ai_config.py
Owners: @manzt, @light2dark

add send button for 'Generate with AI' (#6017)
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
Owners: @manzt, @light2dark

docs
  marimo/_config/config.py
Owners: none

fix
  tests/_server/templates/snapshots/export1.txt
  tests/_server/templates/snapshots/export2.txt
  tests/_server/templates/snapshots/export3.txt
  tests/_server/templates/snapshots/export4.txt
  tests/_server/templates/snapshots/export5.txt
  tests/_server/templates/snapshots/export6.txt
Owners: none

Define package exports for `@marimo-team/frontend` (#6019)
  frontend/package.json
Owners: @mscolnick, @manzt

fix
  tests/_server/ai/test_ai_config.py
Owners: none

fix
  tests/_server/ai/test_ai_config.py
Owners: none

perf: non-blocking formatting and auto-export
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/editing.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/api/endpoints/health.py
  marimo/_server/api/endpoints/home.py
  marimo/_server/models/models.py
  marimo/_utils/formatter.py
Owners: none

improvement: multiple models for different roles (#6018)
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/chrome/wrapper/footer-items/ai-status.tsx
  frontend/src/core/config/__tests__/config-schema.test.ts
  frontend/src/core/config/config-schema.ts
  frontend/src/core/config/config.ts
  marimo/_config/config.py
  marimo/_server/ai/config.py
  marimo/_server/ai/constants.py
  marimo/_server/api/endpoints/ai.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_config/test_config.py
  tests/_server/ai/test_ai_config.py
  tests/_server/api/endpoints/test_ai.py
  tests/_server/api/endpoints/test_resume_session.py
  tests/_server/templates/snapshots/export1.txt
  tests/_server/templates/snapshots/export2.txt
  tests/_server/templates/snapshots/export3.txt
  tests/_server/templates/snapshots/export4.txt
  tests/_server/templates/snapshots/export5.txt
  tests/_server/templates/snapshots/export6.txt
Owners: @manzt, @light2dark

wip: migrate to any llm
  marimo/_dependencies/dependencies.py
  marimo/_server/ai/providers.py
  marimo/_smoke_tests/ai/testing_providers.py
  pyproject.toml
Owners: @akshayka

fixes
  marimo/_dependencies/dependencies.py
  marimo/_server/ai/providers.py
Owners: none

updates
  marimo/_server/ai/providers.py
  marimo/_smoke_tests/ai/testing_providers.py
  tests/_server/ai/test_providers.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

ci: split up frontend CI (#6010)
  .github/actions/install/action.yaml
  .github/workflows/test_fe.yaml
Owners: @mscolnick, @manzt

tests
  marimo/_server/api/endpoints/health.py
  marimo/_server/api/endpoints/home.py
  tests/_ast/test_codegen.py
  tests/_utils/test_formatter.py
Owners: none

windows support
  marimo/_utils/formatter.py
  tests/_utils/test_formatter.py
Owners: none

fix: gh action
  .github/actions/install/action.yaml
  .github/workflows/test_fe.yaml
Owners: @mscolnick, @manzt

improvement: better fill-in-the-middle prompting
  frontend/package.json
  frontend/src/core/codemirror/copilot/__tests__/trim-utils.test.ts
  frontend/src/core/codemirror/copilot/extension.ts
  frontend/src/core/codemirror/copilot/trim-utils.ts
  frontend/src/core/network/api.ts
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
  pnpm-lock.yaml
  tests/_server/ai/snapshots/edit_inline_prompts.txt
  tests/_server/ai/test_prompts.py
  tests/_server/api/endpoints/test_ai.py
Owners: @mscolnick, @manzt, @light2dark

wip
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/app-config-button.tsx
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/utils/ai/ids.ts
  packages/llm-info/icons/deepseek.svg
Owners: @manzt, @light2dark

reusable components and use in chat panel
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ai/ai-provider-icon.tsx
  frontend/src/components/app-config/ai-config.tsx
  frontend/src/components/app-config/constants.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/utils/ai/ids.ts
Owners: @manzt, @light2dark

check for array types better
  marimo/_data/get_datasets.py
  tests/_data/test_get_datasets.py
Owners: @light2dark

use constant
  tests/_server/ai/test_prompts.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

improvement: better fill-in-the-middle prompting (#6028)
  frontend/package.json
  frontend/src/core/codemirror/copilot/__tests__/trim-utils.test.ts
  frontend/src/core/codemirror/copilot/extension.ts
  frontend/src/core/codemirror/copilot/trim-utils.ts
  frontend/src/core/network/api.ts
  marimo/_server/ai/prompts.py
  marimo/_server/api/endpoints/ai.py
  pnpm-lock.yaml
  tests/_server/ai/snapshots/edit_inline_prompts.txt
  tests/_server/ai/test_prompts.py
  tests/_server/api/endpoints/test_ai.py
Owners: @mscolnick, @manzt, @light2dark

perf: non-blocking formatting and auto-export (#6022)
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/editing.py
  marimo/_server/api/endpoints/export.py
  marimo/_server/models/models.py
  marimo/_utils/formatter.py
  tests/_ast/test_codegen.py
  tests/_utils/test_formatter.py
Owners: none

Update marimo/_data/get_datasets.py
  marimo/_data/get_datasets.py
Owners: @light2dark

wip
  frontend/package.json
  frontend/src/components/app-config/user-config-form.tsx
  frontend/src/core/codemirror/language/languages/sql.ts
  frontend/src/core/config/feature-flag.tsx
  pnpm-lock.yaml
  pyproject.toml
Owners: @mscolnick, @manzt, @light2dark, @akshayka

update package
  frontend/package.json
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/README.md
  frontend/src/core/codemirror/language/languages/sql-dialects/duckdb.ts
  frontend/src/core/codemirror/language/languages/sql-dialects/spec_duckdb.py
  frontend/src/core/codemirror/language/languages/sql.ts
  frontend/src/theme/useTheme.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

rebase
  pnpm-lock.yaml
Owners: none

refactor
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/cell/CreateCellButton.tsx
  frontend/src/components/editor/cell/code/language-toggle.tsx
  frontend/src/components/editor/renderers/CellArray.tsx
  frontend/src/core/codemirror/language/LanguageAdapters.ts
  frontend/src/core/codemirror/language/__tests__/sql.test.ts
  frontend/src/core/codemirror/language/extension.ts
  frontend/src/core/codemirror/language/languages/sql/completion-sources.tsx
  frontend/src/core/codemirror/language/languages/sql/completion-store.ts
  frontend/src/core/codemirror/language/languages/sql/sql.ts
  frontend/src/core/codemirror/language/languages/sql/utils.ts
  frontend/src/core/codemirror/language/panel/panel.tsx
Owners: @manzt, @light2dark

pnpm dedupe
  pnpm-lock.yaml
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
