Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

check for module type
  marimo/_sql/engines/dbapi.py
  tests/_sql/test_get_engines.py
Owners: @light2dark

add back execution_type
  marimo/_config/config.py
  marimo/_runtime/runtime.py
Owners: @dmadisetti

remove mddoc
  marimo/_config/config.py
Owners: none

add back
  marimo/_config/config.py
Owners: none

add thinking icons
  frontend/src/components/ai/ai-model-dropdown.tsx
Owners: @manzt, @light2dark

fix ordering and appearance of custom models
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

model card
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ui/dropdown-menu.tsx
Owners: @manzt, @light2dark

check for module type for sql engine (#6103)
  marimo/_sql/engines/dbapi.py
  tests/_sql/test_get_engines.py
Owners: @light2dark

chore(deps): update @marimo-team/codemirror-ai to v0.3.2
  frontend/package.json
  pnpm-lock.yaml
Owners: @mscolnick, @manzt

hide on blur
  frontend/src/core/codemirror/cm.ts
Owners: @manzt, @light2dark

add thinking tag and a model card for dropdown (#6106)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

fix: convert time duration to numeric for column explorer (#6087)
  marimo/_data/preview_column.py
  marimo/_server/ai/constants.py
  marimo/_server/ai/ids.py
  tests/_data/test_preview_column.py
Owners: @light2dark

Extract `HotkeyProviderOptions` interface
  frontend/src/core/hotkeys/__tests__/hotkeys.test.ts
  frontend/src/core/hotkeys/hotkeys.ts
Owners: @manzt, @light2dark

fix: remove tools if empty
  marimo/_server/ai/config.py
  tests/_server/ai/test_ai_config.py
Owners: none

Properly detect Linux platform for hotkeys (#6099)
  frontend/e2e-tests/helper.ts
  frontend/src/core/hotkeys/__tests__/hotkeys.test.ts
  frontend/src/core/hotkeys/hotkeys.ts
  frontend/src/core/hotkeys/shortcuts.ts
Owners: @manzt, @light2dark

fix types
  marimo/_server/ai/providers.py
Owners: none

chore(deps): update @marimo-team/codemirror-ai to v0.3.2 (#6102)
  frontend/package.json
  frontend/src/core/codemirror/cm.ts
  pnpm-lock.yaml
Owners: @mscolnick, @manzt, @light2dark

fix: remove tools if empty (#6109)
  marimo/_server/ai/config.py
  marimo/_server/ai/providers.py
  tests/_server/ai/test_ai_config.py
Owners: none

fix: tools being empty
  marimo/_server/ai/providers.py
Owners: none

Revert "add thinking tag and a model card for dropdown (#6106)"
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

Revert "add thinking tag and a model card for dropdown" (#6111)
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

Revert "Revert "add thinking tag and a model card for dropdown" (#6111)"
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/core/ai/__tests__/model-registry.test.ts
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

fixes custom models, add state to close dropdown
  frontend/src/components/ai/ai-model-dropdown.tsx
  frontend/src/core/ai/model-registry.ts
Owners: @manzt, @light2dark

fix: tools being empty (#6110)
  marimo/_server/ai/providers.py
Owners: none

fix: resolve loose typing for usage
  marimo/_config/config.py
  marimo/_save/stores/__init__.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @dmadisetti

fix: doc string is required for dataclass typed dict.
  marimo/_config/config.py
Owners: none

Correct command mode handling for vim vs non-vim modes
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/config/config.ts
  frontend/src/core/hotkeys/hotkeys.ts
Owners: @manzt, @light2dark

Forward `Ctrl+Escape` from CodeMirror to parent elements
  frontend/src/core/codemirror/keymaps/vim.ts
Owners: @manzt, @light2dark

Remove duplicated logic
  frontend/src/core/config/config.ts
  frontend/src/core/hotkeys/hotkeys.ts
  frontend/src/core/hotkeys/shortcuts.ts
Owners: @manzt, @light2dark

Use `beforeEach` hooks for setting platform in tests
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
Owners: @manzt, @light2dark

nit: revert namechagne
  marimo/_config/config.py
Owners: none

typecheck: fix attribute setting
  frontend/src/core/config/feature-flag.tsx
Owners: @manzt, @light2dark

Forward `Ctrl+Escape` from CodeMirror to parent elements (#6114)
  frontend/src/core/codemirror/keymaps/vim.ts
Owners: @manzt, @light2dark

Correct command mode handling for vim vs non-vim modes (#6092)
  frontend/src/components/editor/navigation/__tests__/navigation.test.ts
  frontend/src/components/editor/navigation/navigation.ts
  frontend/src/core/config/config.ts
  frontend/src/core/hotkeys/hotkeys.ts
  frontend/src/core/hotkeys/shortcuts.ts
Owners: @manzt, @light2dark

fix: Catch script edgecase that imports marimo but doesn't use it as a notebook for conversion
  marimo/_cli/cli.py
  tests/_cli/test_cli.py
Owners: none

fix: fixture typing
  tests/_cli/test_cli.py
Owners: none

release: 0.15.0
  pyproject.toml
Owners: @akshayka

docs: updated AI docs (#6065)
  docs/guides/editor_features/ai_completion.md
Owners: @akshayka

Update module_name_to_pypi_name.py - psycopg2 (#6112)
  marimo/_runtime/packages/module_name_to_pypi_name.py
Owners: @dmadisetti

test: change order behavior
  tests/_ast/test_cell_manager.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
