Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

feat: stream pkg installation logs
  frontend/src/components/editor/package-alert.tsx
  frontend/src/core/alerts/state.ts
  marimo/_messaging/ops.py
  marimo/_runtime/packages/package_manager.py
  marimo/_runtime/packages/pypi_package_manager.py
  marimo/_runtime/runtime.py
  marimo/_server/session/session_view.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_cli/test_cli.py
  tests/_messaging/test_ops.py
  tests/_runtime/packages/test_package_managers.py
  tests/_runtime/test_manage_script_metadata.py
  tests/_server/session/test_session_view.py
Owners: @manzt, @light2dark, @dmadisetti

typecheck
  marimo/_runtime/packages/conda_package_manager.py
  marimo/_runtime/packages/package_manager.py
  marimo/_runtime/packages/pypi_package_manager.py
Owners: @dmadisetti

fixes
  frontend/src/components/editor/package-alert.tsx
  marimo/_runtime/packages/pypi_package_manager.py
  tests/_runtime/packages/test_package_managers.py
Owners: @manzt, @light2dark, @dmadisetti

Revert "fix(marimo#oso): redirect `api` calls to `vercel` backend"
  marimo/_cli/export/cloudflare.py
Owners: none

fix: ai endpoints from msgspec migration (more fixes) (#6278)
  marimo/_ai/_types.py
  tests/_server/api/endpoints/test_ai.py
Owners: none

feat: stream pkg installation logs (#6279)
  frontend/src/components/editor/package-alert.tsx
  frontend/src/core/alerts/state.ts
  marimo/_messaging/ops.py
  marimo/_runtime/packages/conda_package_manager.py
  marimo/_runtime/packages/package_manager.py
  marimo/_runtime/packages/pypi_package_manager.py
  marimo/_runtime/runtime.py
  marimo/_server/session/session_view.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_cli/test_cli.py
  tests/_messaging/test_ops.py
  tests/_runtime/packages/test_package_managers.py
  tests/_runtime/test_manage_script_metadata.py
  tests/_server/session/test_session_view.py
Owners: @manzt, @light2dark, @dmadisetti

feat: Files as context with #
  frontend/src/__mocks__/requests.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/markdown-renderer.tsx
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/core/ai/context/context.ts
  frontend/src/core/ai/context/providers/__tests__/file.test.ts
  frontend/src/core/ai/context/providers/common.ts
  frontend/src/core/ai/context/providers/file.ts
  frontend/src/core/ai/state.ts
  frontend/src/core/codemirror/ai/resources.ts
  frontend/src/core/codemirror/ai/state.ts
  frontend/src/core/islands/bridge.ts
  frontend/src/core/network/requests-network.ts
  frontend/src/core/network/requests-static.ts
  frontend/src/core/network/requests-toasting.ts
  frontend/src/core/network/types.ts
  frontend/src/core/wasm/bridge.ts
  frontend/src/core/wasm/worker/types.ts
  frontend/src/plugins/impl/code/any-language-editor.tsx
  frontend/src/utils/arrays.ts
  frontend/src/utils/json/base64.ts
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  marimo/_cli/development/commands.py
  marimo/_plugins/ui/_impl/chat/utils.py
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/file_explorer.py
  marimo/_server/files/file_system.py
  marimo/_server/files/os_file_system.py
  marimo/_server/models/files.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
  tests/_ai/test_chat_convert.py
  tests/_server/api/endpoints/test_file_explorer.py
  tests/_server/files/test_os_file_system.py
Owners: @manzt, @light2dark

fixes
  frontend/src/core/ai/context/providers/file.ts
Owners: @manzt, @light2dark

fixes
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/editor/ai/completion-handlers.tsx
  frontend/src/components/editor/alerts/startup-logs-alert.tsx
  frontend/src/components/editor/controls/state.ts
  frontend/src/components/editor/package-alert.tsx
  frontend/src/core/ai/context/providers/file.ts
  frontend/src/core/alerts/state.ts
  frontend/src/theme/useTheme.ts
Owners: @manzt, @light2dark

fixe
  frontend/src/core/ai/context/providers/file.ts
Owners: @manzt, @light2dark

fixes
  frontend/src/core/ai/context/providers/file.ts
  tests/_ai/test_chat_convert.py
  tests/_server/files/test_os_file_system.py
Owners: @manzt, @light2dark

fix: validate auth-token on websocket
  marimo/_server/api/auth.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/codes.py
  tests/_server/api/endpoints/test_execution.py
  tests/_server/api/endpoints/test_resume_session.py
  tests/_server/api/endpoints/test_ws.py
  tests/_server/api/endpoints/test_ws_rtc.py
Owners: none

Update comment for auth session check
  marimo/_server/api/auth.py
Owners: none

make explicit flag
  marimo/_server/api/auth.py
  marimo/_server/api/deps.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/asgi.py
  marimo/_server/start.py
  tests/_server/api/test_auth.py
Owners: none

feat: marimo lint --fix for basic formatting
  marimo/_ast/app.py
  marimo/_ast/cell.py
  marimo/_ast/codegen.py
  marimo/_ast/compiler.py
  marimo/_ast/load.py
  marimo/_ast/parse.py
  marimo/_ast/pytest.py
  marimo/_ast/transformers.py
  marimo/_cli/cli.py
  tests/_ast/test_load.py
Owners: @dmadisetti

stash
  marimo/_ast/parse.py
  marimo/_cli/cli.py
  marimo/_cli/print.py
  marimo/_lint/__init__.py
  marimo/_lint/base.py
  marimo/_lint/breaking.py
  marimo/_lint/checker.py
  marimo/_lint/formatting.py
  marimo/_lint/runtime.py
  marimo/_lint/validate_graph.py
  marimo/_lint/visitors.py
  marimo/_runtime/dataflow.py
  marimo/_runtime/runtime.py
  tests/_lint/snapshots/cycle_dependencies_errors.txt
  tests/_lint/snapshots/multiple_definitions_errors.txt
  tests/_lint/snapshots/setup_dependencies_errors.txt
  tests/_lint/test_files/cycle_dependencies.py
  tests/_lint/test_files/multiple_definitions.py
  tests/_lint/test_files/setup_dependencies.py
  tests/_lint/test_files/unparsable_cell.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_runtime_errors_snapshot.py
  tests/_lint/test_validate_graph.py
Owners: @dmadisetti

fix: validate auth-token on websocket (#6284)
  marimo/_server/api/deps.py
  marimo/_server/api/endpoints/ws.py
  marimo/_server/asgi.py
  marimo/_server/codes.py
  marimo/_server/start.py
  tests/_server/api/endpoints/test_execution.py
  tests/_server/api/endpoints/test_resume_session.py
  tests/_server/api/endpoints/test_ws.py
  tests/_server/api/endpoints/test_ws_rtc.py
  tests/_server/api/test_auth.py
Owners: none

fix
  frontend/src/core/ai/context/providers/file.ts
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/file_explorer.py
  marimo/_server/files/file_system.py
  marimo/_server/files/os_file_system.py
  marimo/_server/models/files.py
  packages/openapi/api.yaml
  packages/openapi/src/api.ts
Owners: @manzt, @light2dark

fixes, defaults
  marimo/_pyodide/pyodide_session.py
  marimo/_server/api/endpoints/file_explorer.py
  marimo/_server/files/file_system.py
  marimo/_server/files/os_file_system.py
  tests/_server/api/endpoints/test_file_explorer.py
  tests/_server/files/test_os_file_system.py
Owners: none

fix test
  tests/_server/files/test_os_file_system.py
Owners: none

typos: fix typo check
  marimo/_smoke_tests/issues/2216-accordions.py
Owners: none

typos: fix typo check (#6286)
  marimo/_smoke_tests/issues/2216-accordions.py
Owners: none

format: format generated files
  tests/_lint/test_files/cycle_dependencies.py
  tests/_lint/test_files/multiple_definitions.py
  tests/_lint/test_files/setup_dependencies.py
  tests/_lint/test_files/unparsable_cell.py
Owners: none

wip
  marimo/_ai/_convert.py
  marimo/_ai/_types.py
  tests/_ai/test_chat_convert.py
Owners: none

fixes
  marimo/_ai/_convert.py
  tests/_ai/test_chat_convert.py
Owners: none

rebase
  marimo/_ai/_types.py
Owners: none

Prefer `QueueType` annotation over concrete `queue.Queue`
  marimo/_messaging/streams.py
  marimo/_runtime/runtime.py
  marimo/_runtime/win32_interrupt_handler.py
Owners: @dmadisetti

lint: ruff
  marimo/_ast/app.py
  marimo/_ast/compiler.py
  marimo/_ast/load.py
  marimo/_ast/parse.py
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
  marimo/_lint/base.py
  marimo/_lint/breaking.py
  marimo/_lint/checker.py
  marimo/_lint/formatting.py
  marimo/_lint/runtime.py
  marimo/_runtime/runtime.py
  tests/_ast/test_pytest_toplevel.py
  tests/_lint/snapshots/cycle_dependencies_errors.txt
  tests/_lint/snapshots/multiple_definitions_errors.txt
  tests/_lint/snapshots/setup_dependencies_errors.txt
  tests/_lint/test_files/setup_dependencies.py
  tests/_lint/test_files/unparsable_cell.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_runtime_errors_snapshot.py
  tests/_lint/test_validate_graph.py
Owners: @dmadisetti

fix: typos
  marimo/_lint/breaking.py
Owners: none

fix(frontend#oso): remove the `initial` notebook config
  frontend/notebook.html
Owners: none

feat(frontend#oso): populate `initial` marimo client config
  frontend/src/oso-extensions/wrapper.tsx
Owners: @manzt, @light2dark

refactor: base update
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
  marimo/_lint/checker.py
  marimo/_lint/rules/__init__.py
  marimo/_lint/rules/base.py
  marimo/_lint/rules/breaking/__init__.py
  marimo/_lint/rules/breaking/unparsable.py
  marimo/_lint/rules/formatting/__init__.py
  marimo/_lint/rules/formatting/general.py
  marimo/_lint/rules/runtime/__init__.py
  marimo/_lint/rules/runtime/graph.py
  tests/_lint/snapshots/multiple_definitions_errors.txt
  tests/_lint/snapshots/setup_dependencies_errors.txt
  tests/_lint/test_lint_system.py
Owners: none

rename to disagnostic
  marimo/_lint/__init__.py
  marimo/_lint/checker.py
  marimo/_lint/rules/__init__.py
  marimo/_lint/rules/base.py
  marimo/_lint/rules/breaking/__init__.py
  marimo/_lint/rules/breaking/unparsable.py
  marimo/_lint/rules/formatting/__init__.py
  marimo/_lint/rules/formatting/general.py
  marimo/_lint/rules/runtime/__init__.py
  marimo/_lint/rules/runtime/graph.py
  tests/_lint/test_lint_system.py
Owners: none

fix: snapshots
  tests/_lint/snapshots/cycle_dependencies_errors.txt
  tests/_lint/snapshots/multiple_definitions_errors.txt
  tests/_lint/snapshots/setup_dependencies_errors.txt
Owners: none

refactor: diagnostics
  marimo/_lint/diagnostic.py
  marimo/_lint/formatter.py
Owners: none

fix inf loop with tools
  frontend/src/components/chat/chat-panel.tsx
  marimo/_ai/_convert.py
Owners: @manzt, @light2dark

feat(frontend#oso): set `authorization` header to `OSO_API_TOKEN`
  frontend/src/oso-extensions/wrapper.tsx
Owners: @manzt, @light2dark

feat(frontend#oso): set `authorization` header to `OSO_API_TOKEN`
  frontend/src/oso-extensions/wrapper.tsx
Owners: @manzt, @light2dark

refactor: diagnostics
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
  marimo/_lint/checker.py
  marimo/_lint/context.py
  marimo/_lint/diagnostic.py
  marimo/_lint/formatter.py
  marimo/_lint/rules/__init__.py
  marimo/_lint/rules/base.py
  marimo/_lint/rules/breaking/__init__.py
  marimo/_lint/rules/breaking/unparsable.py
  marimo/_lint/rules/formatting/general.py
  marimo/_lint/rules/runtime/graph.py
  marimo/_lint/validate_graph.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_runtime_errors_snapshot.py
Owners: none

tests: async
  marimo/_lint/__init__.py
  marimo/_lint/checker.py
  marimo/_lint/context.py
  marimo/_lint/rules/runtime/graph.py
  tests/_lint/test_lint_system.py
Owners: none

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt
