Repository marimo-team/marimo, changes with the owners that CODEOWNERS names for each.
All owners: @manzt, @light2dark, @dmadisetti, @akshayka, @mscolnick

CODEOWNERS:

# Frontend
/frontend/src/ @manzt @light2dark

# Backend
/marimo/_ast/ @dmadisetti
/marimo/_convert/ @dmadisetti
/marimo/_runtime/ @dmadisetti

# Caching
/marimo/_save/ @dmadisetti

# SQL
/marimo/_sql/ @light2dark
/marimo/_data/ @light2dark

# Deps
pyproject.toml @akshayka
package.json @mscolnick @manzt

# Docs
/docs/ @akshayka
/examples/ @akshayka
/README.md @akshayka

# LSP
/lsp/ @manzt

# Schemas
/openapi/ @manzt @mscolnick

# CI
/.github/ @mscolnick @manzt
biome.jsonc @mscolnick @manzt

Add exports to `marimo._ipc`
  marimo/_ipc/__init__.py
Owners: none

Rename `marimo._zeromq` -> `marimo._ipc`
  marimo/_ipc/__init__.py
  marimo/_ipc/launch_kernel.py
  marimo/_ipc/queue_manager.py
  marimo/_ipc/queue_proxy.py
  marimo/_ipc/types.py
  marimo/_zeromq/__init__.py
  tests/_ipc/test_kernel_communication.py
Owners: none

Send kernel ready message
  marimo/_ipc/launch_kernel.py
  tests/_ipc/test_kernel_communication.py
Owners: none

Remove unused linting ignore
  marimo/_zeromq/queue_manager.py
Owners: none

Rename `ZeroMqQueueManager` to `QueueManager`
  marimo/_ipc/launch_kernel.py
  marimo/_ipc/queue_manager.py
  tests/_ipc/test_kernel_communication.py
Owners: none

Refactor `Connection` to manager sockets/queues
  marimo/_ipc/connection.py
  marimo/_ipc/queue_manager.py
  marimo/_ipc/queue_proxy.py
Owners: none

Fix typechecking
  marimo/_zeromq/__init__.py
  marimo/_zeromq/adapters.py
  marimo/_zeromq/launch_kernel.py
  marimo/_zeromq/queue_manager.py
  marimo/_zeromq/queue_proxy.py
  marimo/_zeromq/types.py
  pyproject.toml
Owners: @akshayka

Fix up `KernelArgs` encoding/decoding
  marimo/_ipc/__init__.py
  marimo/_ipc/launch_kernel.py
  marimo/_ipc/types.py
  tests/_ipc/test_kernel_communication.py
Owners: none

Ensure `dirty-equals` in both test and test-optional groups
  pyproject.toml
Owners: @akshayka

Remove custom hybrid json encoding for single struct
  marimo/_ipc/__init__.py
  marimo/_ipc/launch_kernel.py
  marimo/_ipc/types.py
  tests/_ipc/test_kernel_communication.py
Owners: none

Add logging to reciever thread
  marimo/_zeromq/queue_proxy.py
Owners: none

Remove unused adapters.py
  marimo/_zeromq/adapters.py
  marimo/_zeromq/types.py
Owners: none

Add `dirty-equals` to plain testing deps
  pyproject.toml
  tests/_zeromq/test_kernel_communication.py
Owners: @akshayka

Add comment about entry point
  marimo/_zeromq/launch_kernel.py
  tests/_zeromq/test_kernel_communication.py
Owners: none

Use `typing.Union`
  marimo/_ipc/queue_manager.py
  marimo/_ipc/types.py
Owners: none

Remove inaccurate comment
  tests/_ipc/test_kernel_communication.py
Owners: none

Try waiting a little longer for kernel to start
  tests/_ipc/test_kernel_communication.py
Owners: none

fix(frontend#oso): await async file `stores` in CompositeFileStore.readFile()
  frontend/src/core/wasm/__tests__/store.test.ts
  frontend/src/core/wasm/store.ts
Owners: @manzt, @light2dark

Prefer `zmq.Context.destroy` over manually closing sockets
  marimo/_ipc/connection.py
Owners: none

Use `sys.stdout` instead of `print` in `launch_kernel.py`
  marimo/_ipc/launch_kernel.py
  tests/_ipc/test_kernel_communication.py
Owners: none

Add `marimo._ipc` for multi-environment kernels (#6303)
  marimo/_ipc/__init__.py
  marimo/_ipc/connection.py
  marimo/_ipc/launch_kernel.py
  marimo/_ipc/queue_manager.py
  marimo/_ipc/queue_proxy.py
  marimo/_ipc/types.py
  pyproject.toml
  tests/_ipc/test_kernel_communication.py
Owners: @akshayka

step 1
  marimo/_plugins/stateless/status/_progress.py
Owners: none

Update code with all comments
  marimo/_ai/tools/base.py
  marimo/_ai/tools/tools/cells.py
  marimo/_ai/tools/tools/notebooks.py
  marimo/_ai/tools/types.py
  marimo/_ai/tools/utils/exceptions.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  tests/_ai/tools/test_base.py
  tests/_ai/tools/tools/test_cells.py
  tests/_ai/tools/tools/test_notebooks.py
  tests/_mcp/server/tools/test_registration_cells.py
  tests/_mcp/server/tools/test_registration_notebooks.py
Owners: none

fix: `progress_bar` type hints (#6304)
  marimo/_output/formatters/tqdm_formatters.py
  marimo/_plugins/stateless/status/_progress.py
  tests/_plugins/stateless/status/test_progress.py
Owners: none

small eits
  marimo/_ai/_tools/base.py
  marimo/_ai/_tools/tools/cells.py
  marimo/_ai/_tools/tools/notebooks.py
  marimo/_ai/_tools/types.py
  marimo/_ai/_tools/utils/exceptions.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  tests/_ai/tools/test_base.py
  tests/_ai/tools/tools/test_cells.py
  tests/_ai/tools/tools/test_notebooks.py
Owners: none

refactor(tools): introduce ToolBase and centralize tool implementations (#6309)
  marimo/_ai/_tools/base.py
  marimo/_ai/_tools/tools/cells.py
  marimo/_ai/_tools/tools/notebooks.py
  marimo/_ai/_tools/types.py
  marimo/_ai/_tools/utils/exceptions.py
  marimo/_mcp/server/tools/cells.py
  marimo/_mcp/server/tools/notebooks.py
  tests/_ai/tools/test_base.py
  tests/_ai/tools/tools/test_cells.py
  tests/_ai/tools/tools/test_notebooks.py
  tests/_mcp/server/tools/test_cells.py
  tests/_mcp/server/tools/test_notebooks.py
Owners: none

refactor: move code out of cli + rule context for better devx
  marimo/_ast/load.py
  marimo/_ast/parse.py
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
  marimo/_lint/checker.py
  marimo/_lint/context.py
  marimo/_lint/diagnostic.py
  marimo/_lint/rules/base.py
  marimo/_lint/rules/breaking/unparsable.py
  marimo/_lint/rules/formatting/general.py
  marimo/_lint/rules/runtime/graph.py
  marimo/_schemas/serialization.py
Owners: @dmadisetti

perf: io -> async and cached
  marimo/_ast/load.py
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
Owners: @dmadisetti

feat: Capture syntax errors
  marimo/_ast/load.py
  marimo/_cli/cli.py
  marimo/_lint/__init__.py
  marimo/_lint/context.py
  marimo/_lint/formatter.py
  marimo/_lint/rule_engine.py
  marimo/_lint/rules/parsing.py
  marimo/_lint/rules/runtime/graph.py
  tests/_lint/snapshots/cycle_dependencies_errors.txt
  tests/_lint/snapshots/multiple_definitions_errors.txt
  tests/_lint/snapshots/setup_dependencies_errors.txt
  tests/_lint/snapshots/unparsable_cell_errors.txt
  tests/_lint/test_async_context_system.py
  tests/_lint/test_lint_system.py
  tests/_lint/test_streaming_early_stopping.py
Owners: @dmadisetti

fix: snapshot tests
  tests/_lint/snapshots/cycle_dependencies_errors.txt
  tests/_lint/snapshots/multiple_definitions_errors.txt
  tests/_lint/snapshots/setup_dependencies_errors.txt
  tests/_lint/snapshots/unparsable_cell_errors.txt
  tests/_lint/test_runtime_errors_snapshot.py
Owners: none

tidy: cleanup
  marimo/_lint/__init__.py
  marimo/_lint/context.py
  marimo/_lint/formatter.py
  marimo/_lint/rules/parsing.py
Owners: none

tidy: cleanup
  marimo/_lint/__init__.py
  marimo/_lint/context.py
  marimo/_lint/rule_engine.py
  marimo/_lint/rules/__init__.py
  marimo/_lint/rules/breaking/__init__.py
  marimo/_lint/rules/breaking/graph.py
  marimo/_lint/rules/formatting/__init__.py
  marimo/_lint/rules/formatting/parsing.py
  marimo/_lint/rules/runtime/__init__.py
Owners: none

check if variable data exists before accessing it
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

better name
  marimo/_runtime/dataflow.py
Owners: @dmadisetti

fix: swap stdout and stderr
  marimo/_lint/rules/formatting/parsing.py
Owners: none

add failing test case
  tests/_runtime/test_dataflow_cases.py
Owners: none

mark test as fail
  tests/_runtime/test_dataflow_cases.py
Owners: none

resolve var name and remove xfail
  marimo/_runtime/dataflow.py
  tests/_runtime/test_dataflow_cases.py
Owners: @dmadisetti

attempt at streaming
  frontend/src/components/editor/ai/__tests__/completion-utils.test.ts
  frontend/src/components/editor/ai/add-cell-with-ai.tsx
  frontend/src/components/editor/ai/completion-utils.ts
  frontend/src/core/ai/staged-cells.ts
Owners: @manzt, @light2dark

logger
  frontend/src/core/ai/staged-cells.ts
Owners: @manzt, @light2dark
